<section class="references-sited">
  <div class="main">
    <h2 class="references-sited__title">References:</h2>
    <div class="references-sited__content is-rte">
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    </div>
  </div>
</section>