.viz-vitals-donut {
  display: flex;
  padding-top: 20px;

  &__svg {
    flex: none;
    transform: rotate(75deg);
  }

  &__arc {

    path {
      stroke: #fff;
      stroke-width: 2px;
    }
  }

  &__content {
    flex: auto;
    position: relative;
  }

  &__label-top,
  &__label-bottom {
    font-size: 0;
    position: absolute;
      left: 0;
    width: calc(100% + 20px);
  }

  &__label-top {
    top: -20px;
  }

  &__label-bottom {
    padding-left: 5px;
    top: 55%;
  }

  &__value {
    color: #000;
    font-size: 39px;
    letter-spacing: -1.2px;
    line-height: 1;
  }

  &__label-top &__value {
    color: $purple-light;
    margin-left: -20px;
  }

  &__units {
    color: #000;
    font-size: 21px;
    margin-left: 2px;
  }

  &__label-top &__units {
    color: $purple-light;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
  }
}
