.viz-vitals-block {
  display: flex;
    align-items: center;

  &__value {
    // border: 1px solid $yellowgray-lighter;
    color: black;
    font-size: 40px;
    font-weight: 300;
    height: 64px;
    line-height: 58px;
    margin-right: 17px;
    text-align: center;
    width: 64px;
  }

  &__chart {
    background-color: $yellowgray-lightest;
    border: 1px solid $yellowgray-neutral-light;
    height: 30px;
    margin-left: 6px;
    transition: background-color 300ms ease;
    width: 30px;

    &--blue {
      background-color: $element_bg__blue;
    }

    &--grey,
    &--gray {
      background-color: $element_bg__gray;
    }

    &--green {
      background-color: $element_bg__green;
    }

    &--orange {
      background-color: $orange-neutral;
    }

    &--purple {
      background-color: $purple-dark;
    }

    &--red {
      background-color: $element_bg__red;
    }

    &--yellow {
      background-color: $element_bg__yellow;
      color: black;
    }

    &:nth-child(3) {
      transition-delay: 300ms;
    }

    &:nth-child(4) {
      transition-delay: 600ms;
    }

    &:nth-child(5) {
      transition-delay: 900ms;
    }
  }
}
