.viz-vitals-range {
  margin-left: 20px;
  margin-right: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
  width: calc(100% - 50px);

  &__bar {
    border-top: 2px solid $yellowgray-light2;
    display: flex;
      justify-content: space-between;
    padding-top: 2px;
    position: relative;
  }

  &__label {
    color: $yellowgray-light2;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
      top: -11px;

    &--min {
      left: -12px;
    }

    &--max {
      right: -25px;
    }
  }

  &__values {
    position: absolute;
    top: 14px;
    transition: left 2s ease, right 2s ease;
  }

  &__handle-low,
  &__handle-high {
    background-color: $yellowgray-light;
    border: 1px solid $yellowgray-neutral-light;
    border-radius: 50%;
    height: 14px;
    position: absolute;
      top: 0;
    width: 14px;
    transition: background 2s ease;
    z-index: 2;
  }

  &__handle-low {
    left: 0;
    transform: translateX(-50%);
  }

  &__handle-high {
    right: 0;
    transform: translateX(50%);
  }

  &--blue &__handle-low,
  &--blue &__handle-high {
    background-color: $element_bg__blue;
  }

  &--grey &__handle-low,
  &--grey &__handle-high,
  &--gray &__handle-low,
  &--gray &__handle-high {
    background-color: $element_bg__gray;
  }

  &--green &__handle-low,
  &--green &__handle-high {
    background-color: $element_bg__green;
  }

  &--orange &__handle-low,
  &--orange &__handle-high {
    background-color: $orange-neutral;
  }

  &--purple &__handle-low,
  &--purple &__handle-high {
    background-color: $purple-dark;
  }

  &--red &__handle-low,
  &--red &__handle-high {
    background-color: $element_bg__red;
  }

  &--yellow &__handle-low,
  &--yellow &__handle-high {
    background-color: $element_bg__yellow;
  }

  &__low-label,
  &__high-label {
    color: $yellowgray-dark;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 2px;
    position: absolute;
      bottom: 100%;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__low-label {
    right: 0;
  }

  &--narrow &__low-label {
    right: 9px;
  }

  &__high-label {
    left: 0;
  }

  &--narrow &__high-label {
    left: 9px;
  }

  &__low-value,
  &__high-value {
    color: $purple-dark;
    display: block;
    font-size: 19px;
    font-weight: 400;
    line-height: 1;
    padding: 1px 5px;
    position: absolute;
      left: 50%;
      top: calc(100% + 2px);
    text-shadow: 
     -2px -2px 0 $white,
      2px -2px 0 $white,
      -2px 2px 0 $white,
       2px 2px 0 $white;
    transform: translateX(-50%);
  }

  &--narrow &__low-value {
    left: -6px;
  }

  &--narrow &__high-value {
    left: 20px;
  }

  &__range-bar {
    background-color: $yellowgray-light;
    position: absolute;
    transition: background 2s ease;
    width: 100%;

    &--bottom {
      border: 1px solid $yellowgray-neutral-light;
      height: 6px;
      top: 4px;
      z-index: 1;
    }

    &--top {
      height: 4px;
      top: 5px;
      z-index: 3;
    }
  }

  &--blue &__range-bar {
    background-color: $element_bg__blue;
  }

  &--grey &__range-bar,
  &--gray &__range-bar {
    background-color: $element_bg__gray;
  }

  &--green &__range-bar {
    background-color: $element_bg__green;
  }

  &--orange &__range-bar {
    background-color: $orange-neutral;
  }

  &--purple &__range-bar {
    background-color: $purple-dark;
  }

  &--red &__range-bar {
    background-color: $element_bg__red;
  }

  &--yellow &__range-bar {
    background-color: $element_bg__yellow;
    color: black;
  }
}
