.viz-vitals-bar-phc {
  background-color: $purple-light;
  position: relative;

  &__value {
    background-color: $purple-dark;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 6px;
    padding-right: 6px;
    transition: width 2s ease;
    white-space: nowrap;
  }

  &__display-value {
    font-size: 24px;
  }
}
