.viz-vitals-bar {
  background-color: $yellowgray-lightest;
  border: 1px solid $yellowgray-neutral-light;
  margin-bottom: 24px;
  position: relative;

  &__label {
    color: $yellowgray-light2;
    font-size: 14px;
    font-weight: 600;
    padding-top: 3px;
    position: absolute;
      top: 100%;

    &--min {
      left: 0;
    }

    &--mid {
      left: 50%;
      tranform: translateX(-50%);

      @include media($x-small) {
        display: none;
      }
    }

    &--max {
      right: 0;
    }
  }

  &__value {
    background-color: $purple-dark;
    color: $white;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    outline: solid 1px $yellowgray-neutral-light;
    padding-left: 6px;
    padding-right: 6px;
    text-align: right;
    transition: background-color 2s ease, min-width 2s ease;

    &--blank {
      background-color: transparent;
      color: $purple-dark;
    }

    &--blue {
      background-color: $element_bg__blue;
    }

    &--grey,
    &--gray {
      background-color: $element_bg__gray;
    }

    &--green {
      background-color: $element_bg__green;
    }

    &--orange {
      background-color: $orange-neutral;
    }

    &--purple {
      background-color: $purple-dark;
    }

    &--red {
      background-color: $element_bg__red;
    }

    &--yellow {
      background-color: $element_bg__yellow;
      color: black;
    }
  }
}
