<div class="card card--case-study" {#{% if case_study_selector %}#} data-case-study-selector="case_study_selector" {#{% endif %}#}>
  <div class="card__media">
    {% if show_video and content.field_video %}
      {{ content.field_video }}
    {% else %}
      {{ content.field_case_study_image }}
    {% endif %}
  </div>
  <div class="card__content">
    <h3 class="card__header">
      <span class="card__icon">{{ content.field_country_icon }}</span>
      <span class="card__title">
        <small class="card__eyebrow">{{ content.eyebrow }}</small>
        {{ content.field_country_name }}
      </span>
    </h3>
    <div class="card__body">{{ content.field_description }}</div>
    <div class="card__footer">
      {% if link_text %}
        <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ link_text }}</a>
      {% endif %}
    </div>
  </div>
</div>
