<article id="node-{{ node.id }}" class="home"{{ attributes }}>

  {% set whoweare_title = content.field_who_we_are_title %}
  {% set whoweare_body = content.field_we_we_are_body %}

  {% if whoweare_title  or  whoweare_body %}
  <!-- Who we are section !-->
  <div class="home__whoweare home__section">
    <div class="center-align main home__whoweare__inner-wrapper">
      {% if whoweare_title %}
      <h2 class="home__whoweare__title">{{ whoweare_title }}</h2>
      {% endif %}

      {% if whoweare_body %}
      <div class="home__whoweare__body is-rte">{{ whoweare_body }}</div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <!-- What's new -->
  <div class="home__whats_new clearfix home__section">
    <div class="main">
      <div class="whats-new">
        <div class="whats-new__header">
          <h2>{{ content.field_whats_new_header }}</h2>
          <div class="subtitle">{{ content.field_whats_new_summary }}</div>
        </div>
        <div class="whats-new__collection">{{ content.field_whats_new_content_ref }}</div>
      </div>  
    </div>
  </div>

  <!-- How do we work Section -->
  <div class="home__get_involved clearfix home__section">
    <div class="center-align main home__get_involved__header">
      <h2>{{ content.field_get_involved_header }}</h2>
      <div class="subtitle">{{ content.field_get_involved_summary }}</div>
    </div>
    <div class="main main--extended">
      <div class="home__get_involved__items">{{ content.field_home_get_involved }}</div>
    </div>
  </div>

  <!-- Video Section -->
  {% if content.field_video %}
    <div class="home__video home__section">
      {{ content.field_video }}
    </div>
  {% endif %}

  <!-- Parners Section -->
  <div class="home__partners clearfix home__section">
    <div class="main">
      <div class="center-align home__partners__header">
        <h2>{{ content.field_partners_header }}</h2>
        <div class="subtitle">{{ content.field_partners_summary }}</div>
      </div>
      <div class="home__partners__items">
        <div class="field-items">{{ content.field_partners_list }}</div>
      </div>
    </div>
  </div>
</article>

