<article class="{{ attributes.classes }} case-study" {{ attributes }}>
  <div class="landing-hero">
    <h1 class="landing-hero__title">{{ content.field_hero_title}}</h1>
    <div class="landing-hero__content">
      <div class="landing-hero__media">{{ content.field_hero_image}}</div>
      <div class="landing-hero__copy">
        <div class="landing-hero__summary">{{ content.field_hero_summary}}</div>
        {# {% if content.field_hero_link %} #}
        <div class="landing-hero__cta">{{ content.field_hero_link }}</div>
        {# {% endif %} #}
      </div>
    </div>
  </div>
</article>