<div class="sidebar-header">
  <div class="sidebar-header__modal">
    
  </div>
  <article class="sidebar-header__content" {{ attributes }}>
    <h1>{{ page_title }}</h1>
    <div class="sidebar-header__description is-rte">
      {{ content.body }}
    </div>
  </article>
</div>