<div class="home__hero">
  <h1>Strong Primary Health Care Saves Lives <nobr>In Times</nobr> of Crisis and Calm</h1>
  <div class="home__hero--gradient"></div>
  <div class="home__hero--background-container">
    <div class="hero-background">
      <ul class="hero-background-orbs">
        <li data="1" class="hero-orb hero-orb2"></li>
        <li data="2" class="hero-orb hero-orb2"></li>
        <li data="3" class="hero-orb hero-orb2"></li>
        <li data="4" class="hero-orb hero-orb3"></li>
        <li data="5" class="hero-orb hero-orb1"></li>
        <li data="6" class="hero-orb hero-orb1"></li>
        <li data="7" class="hero-orb hero-orb3"></li>
        <li data="8" class="hero-orb hero-orb3"></li>
        <li data="9" class="hero-orb hero-orb1"></li>
        <li data="10" class="hero-orb hero-orb2"></li>
        <li data="11" class="hero-orb hero-orb1"></li>
        <li data="12" class="hero-orb hero-orb2"></li>
        <li data="13" class="hero-orb hero-orb3"></li>
        <li data="14" class="hero-orb hero-orb1"></li>
        <li data="15" class="hero-orb hero-orb3"></li>
        <li data="16" class="hero-orb hero-orb2"></li>
        <li data="17" class="hero-orb hero-orb3"></li>
        <li data="18" class="hero-orb hero-orb1"></li>
        <li data="19" class="hero-orb hero-orb2"></li>
        <li data="20" class="hero-orb hero-orb1"></li>
        <li data="21" class="hero-orb hero-orb3"></li>
        <li data="22" class="hero-orb hero-orb1"></li>
        <li data="23" class="hero-orb hero-orb1"></li>
        <li data="24" class="hero-orb hero-orb2"></li>
        <li data="25" class="hero-orb hero-orb3"></li>
        <li data="26" class="hero-orb hero-orb2"></li>
        <li data="27" class="hero-orb hero-orb1"></li>
        <li data="28" class="hero-orb hero-orb3"></li>
        <li data="29" class="hero-orb hero-orb1"></li>
        <li data="30" class="hero-orb hero-orb1"></li>
        <li data="31" class="hero-orb hero-orb2"></li>
        <li data="32" class="hero-orb hero-orb2"></li>
        <li data="33" class="hero-orb hero-orb3"></li>
        <li data="34" class="hero-orb hero-orb2"></li>
        <li data="35" class="hero-orb hero-orb3"></li>
        <li data="36" class="hero-orb hero-orb1"></li>
        <li data="37" class="hero-orb hero-orb1"></li>
        <li data="38" class="hero-orb hero-orb3"></li>
        <li data="39" class="hero-orb hero-orb1"></li>
        <li data="40" class="hero-orb hero-orb3"></li>
        <li data="41" class="hero-orb hero-orb2"></li>
        <li data="42" class="hero-orb hero-orb1"></li>
        <li data="43" class="hero-orb hero-orb3"></li>
        <li data="44" class="hero-orb hero-orb1"></li>
        <li data="45" class="hero-orb hero-orb2"></li>
        <li data="46" class="hero-orb hero-orb1"></li>
        <li data="47" class="hero-orb hero-orb3"></li>
        <li data="48" class="hero-orb hero-orb2"></li>
        <li data="49" class="hero-orb hero-orb1"></li>
        <li data="50" class="hero-orb hero-orb3"></li>
        <li data="51" class="hero-orb hero-orb2"></li>
        <li data="52" class="hero-orb hero-orb3"></li>
        <li data="53" class="hero-orb hero-orb1"></li>
        <li data="54" class="hero-orb hero-orb3"></li>
        <li data="55" class="hero-orb hero-orb2"></li>
        <li data="56" class="hero-orb hero-orb1"></li>
        <li data="57" class="hero-orb hero-orb2"></li>
        <li data="58" class="hero-orb hero-orb1"></li>
        <li data="59" class="hero-orb hero-orb2"></li>
        <li data="60" class="hero-orb hero-orb1"></li>
        <li data="61" class="hero-orb hero-orb2"></li>
        <li data="62" class="hero-orb hero-orb3"></li>
        <li data="63" class="hero-orb hero-orb3"></li>
        <li data="64" class="hero-orb hero-orb2"></li>
        <li data="65" class="hero-orb hero-orb3"></li>
        <li data="66" class="hero-orb hero-orb1"></li>
        <li data="67" class="hero-orb hero-orb1"></li>
        <li data="68" class="hero-orb hero-orb1"></li>
        <li data="69" class="hero-orb hero-orb3"></li>
        <li data="70" class="hero-orb hero-orb2"></li>
        <li data="71" class="hero-orb hero-orb2"></li>
        <li data="72" class="hero-orb hero-orb2"></li>
        <li data="73" class="hero-orb hero-orb3"></li>
        <li data="74" class="hero-orb hero-orb2"></li>
        <li data="75" class="hero-orb hero-orb3"></li>
        <li data="76" class="hero-orb hero-orb2"></li>
        <li data="77" class="hero-orb hero-orb1"></li>
        <li data="78" class="hero-orb hero-orb1"></li>
        <li data="79" class="hero-orb hero-orb1"></li>
        <li data="80" class="hero-orb hero-orb1"></li>
        <li data="81" class="hero-orb hero-orb1"></li>
        <li data="82" class="hero-orb hero-orb1"></li>
      </ul>
    </div>
  </div>
  <div class="home__hero--bubbles">
    <div class="home__hero--bubble hero-bubble-1 hero-image">
      <div class="hero-bubble-container">
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble0 hero-image">
      <div class="hero-bubble-container">
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble1 hero-image hero-stat hero-mobile1">
      <div class="hero-bubble-container">
        <div class="hero-text"> 
          <h2 class="hero-hover-text">PHC meets people’s needs at every stage <nobr>of life</nobr></h2>
        </div>
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble2 hero-image hero-stat hero-mobile2">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2 class="hero-hover-text">PHC protects global <nobr>health security,</nobr> <nobr>preventing, detecting,</nobr> and containing outbreaks </h2>
        </div>
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble3 hero-percent hero-stat hero-mobile3">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2>5M</h2>
          <p class="hero-hover-text"><span>5M</span> people die annually due to poor quality health care</p>
        </div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble4 hero-image hero-stat hero-mobile4">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2 class="hero-hover-text">PHC delivers essential health services, even in the midst of a crisis</h2>
        </div>
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble5 hero-percent hero-stat hero-mobile5">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2>80<sup>%</sup></h2>
          <p class="hero-hover-text">PHC can meet <nobr>80% of</nobr> people's health <nobr>care needs</nobr></p>
        </div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble6 hero-image hero-stat hero-mobile6">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2 class="hero-hover-text">PHC is efficient, delivering good value <nobr>for money</nobr></h2>
        </div>
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble7 hero-percent hero-stat hero-mobile7">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2>50<sup>%</sup></h2>
          <p class="hero-hover-text"><span>50<sup>%</sup></span> of people cannot access essential health care</p>
        </div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble8 hero-image hero-stat hero-mobile8">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2 class="hero-hover-text">PHC prevents <nobr>and treats</nobr> <nobr>infectious and</nobr> noncommunicable diseases</h2>
        </div>
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble9 hero-image hero-stat hero-mobile9">
      <div class="hero-bubble-container">
        <div class="hero-text">
          <h2 class="hero-hover-text">PHC is fair <nobr>and equitable,</nobr> accessible to everyone in every community</h2>
        </div>
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble10 hero-image">
      <div class="hero-bubble-container">
        <div class="hero-stat-bg"></div>
      </div>
    </div>
    <div class="home__hero--bubble hero-bubble11 hero-image">
      <div class="hero-bubble-container">
        <div class="hero-stat-bg"></div>
      </div>
    </div>
  </div>
</div>
