<div class="whats-new__item">
  {{ content.field_summary_image }}
  {% if content.field_article_category  %}
    <div class="whats-new__item-content">
      <h3 class="whats-new__item-category">{{ content.field_article_category.0['#title'] }}</h3>  
      <div class="whats-new__item-title">{{ label }}</div>
      <a href="{{ url }}" class="whats-new__item-cta"{{ title_attributes }}>Read More</a>
    </div>
  {% endif %}
</div>