<div class="js-tab-groups sub-domain-tabs">

<div id="phcpi-improvement-str-jump-menu" class="sub-domain-tabs__tabs">
  <div class="main xmain--narrow">

    {# {% if node.field_tab_widget_style.0.value %} #}
      {# <div class="js-tab-groups__trigger sub-domain-tabs__tab is-on">About</div>
      <div class="js-tab-groups__trigger sub-domain-tabs__tab">Diagnose & Prioritize</div>
      <div class="js-tab-groups__trigger sub-domain-tabs__tab">Take Action</div>
      <div class="js-tab-groups__trigger sub-domain-tabs__tab">Consider Related Elements</div> #}
    {# {% else %} #}
      <div class="js-tab-groups__trigger sub-domain-tabs__tab is-on">What it is</div>
      <div class="js-tab-groups__trigger sub-domain-tabs__tab">What others have done</div>
      <div class="js-tab-groups__trigger sub-domain-tabs__tab">What to ask</div>
      <div class="js-tab-groups__trigger sub-domain-tabs__tab">How to succeed</div>
    {# {% endif %} #}
    {# {% if node.field_tab_widget_style.0.value %} #}
      {# <div class="js-tab-groups__trigger sub-domain-tabs__tab">Learn from Others</div>
      <div class="js-tab-groups__trigger sub-domain-tabs__tab">Take a Deep Dive</div> #}
    {# {% endif %} #}
  </div>
</div>


<div id="phcpi-improvement-str-jump-menu-mobile" class="sub-domain-tabs__tabs">
  
  <div class="xmain xmain--narrow">
  <div id="jump-section-heading-mobile">Jump to Section</div>

    {# {% if node.field_tab_widget_style.0.value %} #}
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab is-on"> ⬇ About</div>
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ Diagnose & Prioritize</div>
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ Take Action</div>
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ Consider Related Elements</div>
    {# {% else %} #}
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab is-on"> ⬇ What it is</div>
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ What others have done</div>
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ What to ask</div>
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ How to succeed</div>
    {# {% endif %} #}
    {# {% if node.field_tab_widget_style.0.value %} #}
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ Learn from Others</div>
      <div class="js-tab-groups__trigger sub-domain-tabs-mobile__tab sub-domain-tabs__tab"> ⬇ Take a Deep Dive</div>
    {# {% endif %} #}
  </div>
</div>





<div class="sub-domain-tabs__contents main">
  <div class="js-tab-groups__target sub-domain-tabs__content is-on">
    {{ content.field_tab_1|render }}
  </div>
  <div class="js-tab-groups__target sub-domain-tabs__content">
    {{ content.field_tab_2|render }}
  </div>
  <div class="js-tab-groups__target sub-domain-tabs__content">
    {{ content.field_tab_3|render }}
  </div>
  <div class="js-tab-groups__target sub-domain-tabs__content">
    {{ content.field_tab_4|render }}
  </div>

  {# {% if node.field_tab_widget_style.0.value %} #}

  <div class="js-tab-groups__target sub-domain-tabs__content">
    {{ content.field_tab_5|render }}
  </div>
  <div class="js-tab-groups__target sub-domain-tabs__content">
    {{ content.field_tab_6|render }}
  </div>

  {# {% endif %} #}
</div>
</div>

{% if node.field_references  %}
{{ content.field_references }}
{% endif %}