{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
<article id="node-{{ node.id }}" {{ attributes }}>
  
<div class="article_top">
  {# {% if article_category  %} #}
    <h5 class="content-type category-">{# {{ theme('icons_' ~ article_category_machine_name) }} #}{{ content.field_article_category }}</h5>
  {# {% endif %} #}

  {# <div class="share-toolbar__container">
    <div class="share-toolbar">
        {{ theme('page_share', {}'node_url' :  node_url) }}
    </div>
  </div> #}

  <h1 class="article_title"{{ title_attributes }}>{{ node.label }}</h1>

  <div class="submitted byline"><span class="byline_author">{{ content.field_authors }}</span> | <span class="byline_date">{{ node.getCreatedTime|format_date('short') }}</span></div>

  <div class="node-tags js-accordion-container">
    <ul class="masthead_tags">
      {% for term in variables %}
        <li class="masthead_tag">{{ term }}</li>
      {% endfor %}
      {# {% if count(variables.header_node_extra_tags)  %}
        <li class="masthead_tag masthead_tag--morelink"><a  class="js-accordion-click">More</a></li>
      {% endif %} #}
    </ul>
    {# {% if  count(variables.header_node_extra_tags)  %}
      <ul class="masthead_tags masthead_tags--more js-accordion-target">
        {% for term in variables %}
          <li class="masthead_tag">{{ term }}</li>
        {% endfor %}
        <li class="masthead_tag masthead_tag--lesslink"><a  class="js-accordion-click2">Less</a></li>
      </ul>
    {% endif %} #}
  </div>

  {# <div class="share-toolbar__container share-toolbar--compact">
    <div class="share-toolbar">
      {{ theme('page_share', {}) }}
    </div>
  </div>  #}

</div>

 <div class="content_body grid-74">
    {{ content.body }}

    {# {% if  related_countries  or  related_regions  or  related_indicators  %}
    <div class="content_tags">
    {% endif %}

      {% if  related_countries  %}
      <div class="related_tags clearfix grid-74"><p><span>{{ 'Related Countries'|t }}: </span>{{ related_countries }}</p></div>
      {% endif %}

      {% if  related_regions  %}
      <div class="related_tags clearfix grid-74"><p><span>{{ 'Related Regions'|t }}: </span>{{ related_regions }}</p></div>
      {% endif %}

      {% if  related_indicators  %}
      <div class="related_tags clearfix grid-74"><p><span>{{ 'Related Indicators'|t }}: </span>{{ related_indicators }}</p></div>
      {% endif %}

    {% if  related_countries  or  related_regions  or  related_indicators  %}
    </div>
    {% endif %} #}
  </div>

   {% if related_items  %}
    <div class="right_rail">
      <div class="related_content">  
        <h4>{{ 'Related Content'|t }}</h4>
        <ul>
          {% for item in related_items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</article>