//TODO use template because this class will change if another page is used
.page-node-1424 {
  h2,
  form#user-login-form {
    max-width: 58.125rem;
    padding: 0 1.25rem;
    margin: 0 auto;
  }
}
