.case-study-body {
    margin: 0 auto;
    @include media($medium-min) {
        width: 74%;
    }
}

.cross-promotion {
    @include source-sans-pro;
    background-color: $yellowgray-lightest;
    margin: 30px 0;
    padding: 35px;
    max-width: 100%;

    @include media($medium-min) {
        float: right;
        margin: 0 0 50px 50px;
        padding: 46px;
        width: 445px;
    }

	&:not(.cke_widget_element) {
        @include media($medium-min) {
            margin-right: -155px;
        }
	}
}

.cross-promotion__title,
.is-rte .cross-promotion__title {
    @include source-sans-pro;
    color: $link_blue;
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.6px;
    margin: 0 0 25px;
}

.cross-promotion__content,
.is-rte .cross-promotion__content {
    color: $yellowgray-neutral-dark;
    font-size: 18px;
    line-height: 28px;
}

.cross-promotion__cta,
.is-rte .cross-promotion__cta {
    a {
        display: inline-block;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;

        &:after {
            color: inherit;
            content: "\2192";
            margin-left: 3px;
        }
    }
}