.node-country {
  overflow: hidden;
  position: relative;

  &__section {
    background-color: $white;
    position: absolute;
      left: 0;
      top: 0;
    transform: translateX(100%);
    transition: transform 200ms ease, visibility 20ms ease;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    &.is-open {
      position: relative;
      transform: translateX(0);
      transition: transform 500ms ease;
      visibility: visible;
      z-index: 2;
    }
  }

  .page-notes__download-file-wrapper {
    &:not(:last-of-type) {
      border-right: 1px solid $yellowgray-light3;
    }

    padding-left: 15px;
    padding-right: 15px;

    &__download-file {
      background-position: center left;
      background-repeat: no-repeat;
      background-image: url(../assets/images/icons/icons_download-blue.svg);
      text-align: center;
      max-width: 220px;

      span {
        display: block;
        text-transform: none;
      }
    }
  }
}
