.node-type-article,
.node-type-page,
.page-indicators {
	#content {
		.main {
			max-width: rem(930); // actual width is 890px but this includes padding left/right too

			@include media($xx-large) {
				max-width: rem(1240);
			}
		}

		&.with-right-rail{
				.main {
					max-width: rem(1240);
				}
			}

		.node-page {
			@include neuton;
		    @include rem(font-size, 20px);
		    @include rem(line-height, 27px);
			color: $yellowgray-neutral;
		    transition: font-size 1s, line-height 1s;

		    @include media($medium-min) {
		        @include rem(line-height, 30px);
		        @include rem(font-size, 22px);
		    }
		}

		.media-right_small,
		.media-small_content_image_400_right {
			float: right;
			margin: rem(10) rem(-155) 0 rem(40);
			max-width: rem(400);

			@include media($xx-large) {
				margin-right: 0;
			}

			@include media($medium) {
				float: none;
				margin: rem(20) 0;
				max-width: 100%;
			}

			.file-right-small {
				float: none;
				margin: 0;
			}
		}

		.media-left_small,
		.media-small_content_image_400_left {
			float: left;
			margin: rem(10) rem(40) 0 rem(-155);
			max-width: rem(400);

			@include media($xx-large) {
				margin-left: 0;
			}

			@include media($medium) {
				float: none;
				margin: rem(20) 0;
				max-width: 100%;
			}

			.file-left-small {
				float: none;
				margin: 0;
			}
		}

		.media-small_content_image_400_left,
		.media-small_content_image_400_right {
			@include media($medium) {
				text-align: center;
			}
			img {
				@include media($medium) {
					display: inline-block;
				}
			}
		}

		.media-center_full,
		.media-centered_content_image_890,
		.media-hero_content_image_1200,
		.image_pull--center_wrapper {
			margin: rem(10) rem(-155) rem(30);

			@include media($xx-large) {
				margin: rem(20) 0;
			}
		}

		.media-centered_content_image_890,
		.media-hero_content_image_1200,
		.image_pull--center_wrapper,
		.media-hero_content_image_890,
		.media-small_content_image_400_right,
		.media-small_content_image_400_left {
			text-align: center;
			max-width: none;

			img {
				display: inline-block;
				height: auto;
			}
		}

		h2,h3,h4,h5,h6 {
			margin-bottom: rem(10);
		}

		.field-name-body a {
			word-wrap: break-word;
		}
	}
}

.node-type-article {
	#content {

		.with-right-rail{
			.media-left_small,
			.media-small_content_image_400_left {
				margin-left: 0;
			}

			.media-right_small,
			.media-small_content_image_400_right {
				margin-right: 0;
			}

			.media-center_full,
			.media-centered_content_image_890,
			.media-hero_content_image_1200,
			.image_pull--center_wrapper {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.page-indicators {
	.view-content .item-list {
		margin-bottom: 2em;
	}
}