$partner-logo-gutter: 60px;

.node-type-homepage {

  #header {

    & > .main {
      max-width: 100%;
      padding: 0;
    }
  }

  .home {
    .field {
      margin-bottom: 0;
    }
    div.cover {
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        overflow-x: hidden;
      }
    }
    .center-align {
      text-align: center;
      h2 {
        margin-bottom: rem(5);
      }
      .subtitle {
        margin-bottom: rem(60);
      }
    }
    @include rem(font-size, 22px);
    p {
      @include rem(line-height, 32px);
      @include neuton;
      opacity: 0.87;
    }
    a {
      @include neuton;
      font-weight: 300;
    }
    img {
      height: 100%;
    }
    h1 {
      @include rem(font-size, 64px);
      @include rem(line-height, 72px);
      margin-bottom: rem(20);
      @include media($large) {
        @include rem(font-size, 34px);
        @include rem(line-height, 40px);
      }
    }
    h2 {
      @include rem(font-size, 36px);
      @include rem(line-height, 46px);
      @include media($large) {
        @include rem(font-size, 28px);
        @include rem(line-height, 36px);
      }
      margin-bottom: 15px;
    }
    .subtitle {
      color: #a9a49e;
      @include neuton;
      font-weight: 300;
      @include rem(font-size, 26px);
      line-height: 36px;
    }
    &__section {
      padding-top: rem(96);
      padding-bottom: rem(96);
    }

    &__get_involved {
      & + {
        .home__whats_new {
          margin-bottom: rem(96);
          padding: 0;
        }
      }
    }
    // &__hero {
    //   &__content {
    //     @include media($large) {
    //       @include span-columns(5);
    //     }
    //     @include media($medium) {
    //       @include span-columns(12);
    //       padding-top: rem(20);
    //     }
    //     @include span-columns(5);
    //     @include rem(font-size, 24px);
    //     padding-top: rem(40);
    //   }
    //   &__image {
    //     @include media($large) {
    //       @include span-columns(7);
    //       float: right;
    //     }
    //     @include media($medium) {
    //       @include span-columns(12);
    //       position: relative;
    //     }
    //     @include span-columns(7);
    //     float: right;
    //     img {
    //       display: block;
    //     }
    //     .fadeout {
    //       display: none;
    //       @include media($medium) {
    //         display: block;
    //         position: absolute;
    //         bottom: 0em;
    //         width:100%;
    //         height: 4em;
    //         background: -webkit-linear-gradient(
    //             rgba(255, 255, 255, 0) 0%,
    //             rgba(255, 255, 255, 1) 100%
    //         );
    //         background-image: -moz-linear-gradient(
    //             rgba(255, 255, 255, 0) 0%,
    //             rgba(255, 255, 255, 1) 100%
    //         );
    //         background-image: -o-linear-gradient(
    //             rgba(255, 255, 255, 0) 0%,
    //             rgba(255, 255, 255, 1) 100%
    //         );
    //         background-image: linear-gradient(
    //             rgba(255, 255, 255, 0) 0%,
    //             rgba(255, 255, 255, 1) 100%
    //         );
    //         background-image: -ms-linear-gradient(
    //             rgba(255, 255, 255, 0) 0%,
    //             rgba(255, 255, 255, 1) 100%
    //         );
    //       }
    //     }
    //   }
    // }

    &__video {

      padding: 0; // override .home__section

      video {
        width: 100%;
      }
    }

    &__whats_new {
      &__item {
        position: relative;
        @include media($medium) {
          @include span-columns(6);
          @include omega(2n);
          margin-right: 5.35765%;
          width: 45.82117%;
          float: none;
          display: inline-block;
          &:nth-child(3) {
            margin-top: rem(120);
          }
        }
        @include media($small) {
          @include span-columns(12);
          margin-top: rem(120);
          &:first-child {
            margin-top: 0;
          }
          img {
            width: 100%;
          }
        }
        @include span-columns(4);
        float: none;
        display: inline-block;
        margin-right: 3.35765%;
        width: 30.2%;
        &__content {
          position: absolute;
          bottom: rem(-70);
          background-color: #fff;
          width: 92%;
          margin-left: rem(15);
          height: rem(143);
          text-align: center;
          -moz-box-shadow:    0 0 8px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow:         0 0 8px rgba(0, 0, 0, 0.3);
        }
        .article_title {
          @include media($medium) {
            padding: 0 rem(20);
          }
          @include rem(font-size, 20px);
          @include source-sans-pro;
          font-weight: 600;
          color: #676357;
          margin-top: rem(15);
          padding: 0 rem(15);
          display: block;
          &:hover {
            color: #60b0b9;
          }
          @include media($large) {
            @include rem(font-size, 17px);
          }
        }
        .content-type {
          @include media($medium) {
            @include rem(font-size, 15px);
          }
          @include media($large) {
            @include rem(font-size, 15px);
          }
          background-color: #302d23;
          color: #fff;
          margin: 0;
          display: block;
          width: 100%;
          margin: rem(-14) auto 0 auto;
          @include source-sans-pro;
          @include rem(font-size, 18px);
          padding: rem(5) rem(5) rem(8) rem(5);
          svg {
            vertical-align: text-bottom;
            margin-right: rem(5);
            path {
              fill: #fff;
            }
          }
        }
      }
    }
    &__whoweare {
      background-color: $lightergray;
      &__inner-wrapper {
        max-width: 890px;
      }
      &__title {
        @include rem(font-size, 36px);
        @include rem(line-height, 46px);
        font-weight: 400;
        color: #302d23;
      }
      &__body {
        @include neuton;
        @include rem(font-size, 26px);
        @include rem(line-height, 36px);
        font-weight: 400;
        color: #949189;

        a {
          @include neuton;
          color: $link_blue;
          font-weight: 700;
          letter-spacing: -0.4px;
          transition: color 0.2s ease-in;

          &:focus,
          &:hover {
            color: $link_blue_hover;
          }
        }
      }
    }

    &__get_involved {
      .center-align {
        .subtitle {
          margin-bottom: 0;
        }
      }

      &__header {
        margin-bottom: 30px;

        h2 {

          & + .subtitle {
            margin-top: 12px;
          }
        }
      }

      &__items {
        @include media($small-min) {
          display: flex;
          justify-content: center;
        }
      }
      &__item {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include media($small-min) {
          width: calc(100%/3);
        }

        &:before {
          bottom: 0;
          content: '';
          display: block;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
        }

        &:nth-child(1),
        &:nth-child(3) {
          &:before {
            background-color: rgba($yellowgray-dark, 0.5);
          }
        }

        &:nth-child(2) {
          &:before {
            background-color: rgba($color-green-dark, 0.5);
          }
        }

        &-content {
          color: $white;
          font-family: 'Source Sans Pro','Arial',sans-serif;
          padding: 45px;
          position: relative;
          z-index: 2;

          .field-name-field-get-involved-icon {
            display: flex;
              align-items: center;
              justify-content: center;
            height: 65px;
            margin: 0 auto;
            width: 65px;

            & > * {
              flex: none;
              max-width: 65px;
            }

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }
        p{
          font-family: 'Source Sans Pro','Arial',sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          margin: rem(5) 0;
        }
        &__title {
          padding-top: rem(10);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 2.33px;
          text-transform: uppercase;
        }

        &-cta {
          margin-top: 35px;
          text-align: center;

          a {
            background-color: $link_blue;
            color: $white;
            display: inline-block;
            font-family: 'Source Sans Pro','Arial',sans-serif;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.9px;
            line-height: 18px;
            padding: 10px 13px;
            text-transform: uppercase;
            transition: background 0.2s ease;

            &:focus,
            &:hover {
              background-color: $link_blue_hover;
            }
          }
        }
      }
    }
    &__cta_image {
      overflow: hidden;
      .main {
        position: relative;
        @media (max-width: 1240px) {
          padding: 0;
        }
      }
      h2 {
        color: #302d23;
        line-height: rem(42);
        font-weight: 700;
      }
      &__content {
        position: absolute;
        right: 0;
        width: rem(477);
        top: rem(100);
        opacity: 0.91;
        background-color: white;
        padding: rem(40);
        margin-right: rem(60);
        &.text-on-left {
          left: 0;
          margin-left: rem(60);
          @include media($small) {
            margin-left: 0;
          }
        }
        @include media($medium) {
          padding: rem(20);
          width: rem(450);
          margin-right: rem(30);
        }
        @include media($small) {
          position: initial;
          width: 100%;
          background-color: $lightergray;
          opacity: 1;
          margin-top: rem(-6);
          padding: rem(30);
        }
      }
    }
    &__partners {
      background-color: $lightergray;

      &__items {
        margin-top: -$partner-logo-gutter;

        .field-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        .field-name-field-partner-logo {
          margin: $partner-logo-gutter $partner-logo-gutter 0;
          max-width: 240px;
        }
      }
    }
    &__explore_data {
      background-color: $lightergray;
      h5 {
        margin-bottom: 0;
      }
      &__form {
        @include media($medium) {
          @include span-columns(12);
          padding-right: 0;
          border-right: 0;
          margin-bottom: rem(60);
        }
        @include span-columns(6);
        padding-right: rem(70);
        border-right: rem(1) solid #cbc7c3;
        form {
          margin-bottom: rem(30);
          &:last-child {
            margin-bottom: 0;
          }
          input {
            font-size: rem(16);
            line-height: rem(25);
          }
        }
        .drawer_content--section_divider {
          width: 30%;
          margin: 0 auto 35px auto;
          &__test {
            background-color: $lightergray;
          }
        }
      }
      &__content {
        @include media($medium) {
          @include span-columns(12);
          padding-left: 0;
        }
        @include span-columns(6);
        padding-left: rem(40);
      }
    }
  }

  /* The styles for Block Welcome Modal */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fafafa;
    margin: auto;
    border: 0;
    width: 100%;
    border-radius: 15px;
    display: block;
    max-width: 640px;

    position: relative;

    height: auto;
  }
  /* The Close Button */
  .close {
    float: right;
    font-weight: 500;
    border: solid 1px transparent;
    width: 28px;
    height: 28px;
    text-align: center;

    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    line-height: 20px;
    text-decoration: none !important;
    font-family: "Source Sans Pro",Arial,sans-serif;
    z-index: 1500;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-color: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .modal__inner p img {
    height: 150px;
    float: left;
    margin: 0 0 15px;
    object-fit: cover;
    width: 100%;
    object-position: center bottom;
  }
  .modal__inner h2 {
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: 600;
    display: block;
    width: 100%;
    border-bottom: solid 1px #e7e7e7;
    padding-bottom: 15px;
    color: #4d5c6e;
    text-align: center;
  }
  .modal__inner p {
    display: block;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0;
    text-align: center;
  }
  .modal__inner p span {
    display: block;
    width: 100%;
    font-size: 18px;
    font-style: italic;
  }
  .modal__inner {
    display: block;
    width: 100%;
  }
  .shop_Btn {
    display: block;
    margin: 25px auto;
    border: solid 1px #999;
    max-width: 160px;
    padding: 10px 15px;
    border-radius: 6px;
    color: #999;
    font-weight: 600;
    text-align: center;
  }
  .shop_Btn:hover, .shop_Btn:focus {
    color: #34495e;
    border-color: #34495e;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .modal:not(.is-open) {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
  }

  .welcome-modal-close {
    &:hover {
      color: white;
      border-color: transparent;
    }
  }

  .welcome-modal-image {
    img {
      border-radius: 12px 12px 0 0;
    }
  }

  .welcome-modal-message {
    padding: 20px 12px;
    h1,
    h2 {
      color: #676357;
      font-size: 40px;
    }
    p {
      color: #a9a49e;
    }

    a {
      font-family: 'Source Sans Pro', 'Arial', sans-serif;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      color: #60b0b9 !important;

      &:hover {
        color: #4697a0;
        &::after {
          transform: translateX(3px);
        }
      }

      &::after {
        display: inline-block;
        vertical-align: middle;
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%2360b0b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right'><line x1='5' y1='12' x2='19' y2='12'></line><polyline points='12 5 19 12 12 19'></polyline></svg>");
        padding-left: 3px;
        transition: all 200ms;
        transform: translateX(0px);
      }
    }
  }

}
