.accordion-items {

  .node-type-subdomain & {
    margin: 0 auto;
    max-width: $max-width-content - 40px; // subtract the padding on the parent
  }

  &__item {
    background-color: $yellowgray-lightest;
    border: 1px solid $border-color;

    & + & {
      border-top: 0;
    }
  }

  &__trigger {
    @include category-name;
    background-color: transparent;
    border: 0;
    color: $yellowgray-neutral-dark;
    display: block;
    padding: 25px 20px 20px 52px;
    position: relative;
    text-align: left;
    width: 100%;

    @include media($small-min) {
      padding: 36px 30px 32px 62px;
    }

    &:before {
      border-bottom: 2px solid $yellowgray-neutral-dark;
      border-right: 2px solid $yellowgray-neutral-dark;
      content: "";
      height: 11px;
      position: absolute;
        left: 20px;
        top: 50%;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: 65% 65%;
      transition: transform 0.5s ease;
      width: 11px;

      @include media($small-min) {
        left: 30px;
      }
    }
  }

  &__item.is-open &__trigger {
    &:before {
      transform: translateY(-50%) scaleY(-1) rotate(45deg);
    }
  }

  &__body {
    margin: 0 auto;
    max-width: $max-width-content + 40px; // adding padding
    padding: 10px 20px 45px;

    @include media($small-min) {
      max-width: $max-width-content + 60px; // adding padding
      padding: 12px 30px 52px;
    }
  }
}
