
.arrow-link > a,
a.arrow-link {
  color: #60b0b9;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  line-height: 30px;
  text-transform: uppercase;

  &::after {
    display: inline-block;
    vertical-align: middle;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%2360b0b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right'><line x1='5' y1='12' x2='19' y2='12'></line><polyline points='12 5 19 12 12 19'></polyline></svg>");
    padding-left: 3px;
    transition: all 200ms;
    transform: translateX(0px);
  }

  &:hover::after {
    transform: translateX(3px);
  }
}
