article {
	.article_top {
		overflow: hidden;
	    padding-bottom: 30px;
	    border-bottom: 2px solid $border-color;

	    @include media($medium) {
	    	border-bottom: 0;
	    	padding-bottom: 20px;
	    }
	}

	.article_title {
		clear: both;
		@include rem(margin-bottom, 15px);
	}

	.byline {
		&_author, &_date {
			font-style: italic;
			color: $yellowgray-neutral;
			@include neuton;
			@include rem(font-size, 20px);
			letter-spacing: .02em;
		}

		&_date {
			margin-left: 5px;
		}

		&_author {
			margin-right: 5px;
		}

		&.submitted {
			@include span-columns(6 of 12);
			font-weight: 300;
			color: $yellowgray-lighter;
			margin-bottom: rem(8);

			@include media($medium) {
				@include span-columns(12);
			}
		}
	}

	.content_body {
		margin: 25px 0 25px;
		padding-bottom: 45px;
		@include neuton;
	    @include rem(font-size, 20px);
	    @include rem(line-height, 27px);
	    transition: font-size 1s,line-height 1s;

	    @include media($medium-min) {
	    	line-height: 1.875rem;
        	font-size: 1.375rem;
	    }

	    @include media($small) {
	    	margin-top: 0;
	    }

		&.grid-74 {
			width: 100%;

			&.with-right-rail {
				float: left;
				margin-left: 0;
				margin-right: 0;
				width: 74%;

				@include media($large) {
					width: 100%;
				}
			}
		}
	}

	.related {
		&_tags {
			@include source-sans-pro;
			font-size: rem(14);
			font-weight: 600;
			line-height: rem(18);
			margin-bottom: rem(8);

			&:first-child {
				margin-top: rem(16);
			}

			p {
				color: $gray-medium;
				margin: 0;
			}

			a {
				font-weight: 500;
			}
			
			span {
				text-transform: uppercase;
				letter-spacing: 0.08em;
				color: $related;
				margin-right: 5px;
			}

			&.with-right-rail {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

  .content_tags {
  	@include clearfix;
	border-top: 2px solid $border-color;
	float:	none;
	clear:	both;
  }
}

