.breadcrumb-social-bar {
    margin: 40px 0 25px;

    .block--breadcrumb {
        @include media($medium-min) {
            float: left;
            margin-top: -5px;
        }
    }

    .block--share-bar {
        @include media($medium-min) {
            float: right;
        }
    }
}