html.lt-ie10 {
  section#browser-message {
    background: $error;
    color: $white;
    display: block !important;

    .block {
      padding: 1.5em 0 1.5em 4em;
      background-image: url('/sites/all/themes/r4d/assets/images/icons/warning.jpg');
      background-position: left center;
      background-repeat: no-repeat;

      p {
        margin: 0;
      }

      a {
        color: $white;
      }
    }
  }
}