.button {
	border: 1px solid rgb(255,255,255);
	border: 1px solid rgba(255,255,255,0.8);
	color: #fff;
	display: inline-block;
	padding: rem(15) rem(20);
	text-align: center;

	&.button--cta {
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255,0.15);
		border-color: rgb(255,255,255);
		border-color: rgba(255,255,255,0.6);
		color: #fff;
		font-size: rem(18);
		letter-spacing: 0.07rem;
		text-transform: uppercase;
		transition: background-color 0.3s ease;

		&:focus,
		&:hover {
			background-color: rgb(255,255,255);
			background-color: rgba(255,255,255,0.3);
			color: #fff;
		}

		&.is-blue {
			background-color: rgb(216,228,227);
			background-color: rgba(96,176,185,0.15);
			border-color: rgb(168,207,210);
			border-color: rgba(96,176,185,0.5);
			color: $link_blue;

			&:focus,
			&:hover {
				background-color: rgb(219,230,229);
				background-color: rgba(96,176,185,0.1);
			}
		}

		&.is-teal {
			@include source-sans-pro;
			background-color: #60b0b9;
			color: $white;
			border: 0;
			border-radius: rem(2);
			font-weight: 600;
			font-size: rem(16);

			&:focus,
			&:hover {
				background-color: #4697a0;
			}
		}

		&.is-teal-inverse {
			@include source-sans-pro;
			background-color: $white;
			border-color: #60b0b9;
			color: $link_blue;
			border-radius: rem(2);
			font-weight: 600;
			font-size: rem(16);
			transition: background-color 0.3s ease, border-color 0.3s ease;

			&:focus,
			&:hover {
				background-color: #60b0b9;
				color: $white;
			}
		}

		.is-dark-grey {

		}
	}
}

.styleless-button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
