/** Colors **/
$callout-block--vital-signs: $yellowgray-lightest;
$horizontal-row: $yellowgray-lighter;
$callout-block__title: $yellowgray-neutral;
$compare-country__title: $yellowgray-neutral;


.callout-block {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: rem(60) 0;
	text-align: center;

  	&--normal {
	  h1, h2, h3, h4, h5, h6, p {
		color: $white !important;
	  }
	}

	&--inverted {
		background-color: $callout-block--vital-signs;

		hr {
			border-color: $horizontal-row;
			margin: rem(50) 0;
		}

		.compare_countries--component {
			background-color: inherit;
			border: none;
			margin: 0;
			padding: 0;
			width: 100%;
		}

		.homepage_masthead-select-title {
			color: $compare-country__title;
			font-weight: 600;
		}

		.drawer_content--section_divider {
			display: block;
		}

		.drawer_content--section_divider__text {
			color: $compare-country__title;
		}
	}

	&__content {
		.callout-block--vital-signs & {
		}
	}
}

.callout-block__title {
	color: #fff;
	font-size: rem(32);
	font-weight: 300;
	line-height: rem(40);
	margin: 0 auto rem(30);
	width: 70%;

	@include media($medium) {
		font-size: rem(26);
		line-height: rem(34);
		width: 90%;
	}

	.callout-block--inverted & {
		color: $callout-block__title;
		width: 55%;

		@include media($medium) {
			width: 90%;
		}
	}
}
