.card--improvement-strategies,
.card--card-listing {
    background-color: $white;
    margin: 25px 0 0 25px;
    padding: 25px;
    width: 100%;

    @include media($small-min) {
        display: flex;
        flex-direction: column;
        width: calc(50% - 25px);
    }

    @include media($medium-min) {
        width: calc(100%/3 - 25px);
    }

    @include media($large-min) {
        width: calc(25% - 25px);
    }
}

.card--case-study {
    background-color: $yellowgray-lightest;
    margin: 25px 0 0 25px;
    width: 100%;

    .field-name-field-video {
      video {
        width: 100%;
        min-height: 250px;
        outline: none;
      }
    }

    @include media($small-min) {
        width: calc(50% - 25px);
    }

    @include media($medium-min) {
        width: calc(100%/3 - 25px);
    }
}

.card__media {
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}

.card__content {
    padding: 23px 50px 35px 35px;
}

.card__header {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.15;

    a {
        order: 2;
    }

    .card--case-study & {
        flex-direction: row;
    }
}

.card__icon {
    .card--case-study & {
        margin: -45px 10px 0 -15px;
        max-height: 100px;
        max-width: 100px;
        position: relative;
    }
}

.card__eyebrow {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: $yellowgray-light;
    letter-spacing: 0.4px;
    margin: 0 0 7px;
    order: 1;

    .card--case-study & {
        color: $link_blue;
        display: block;
    }

    .node-type-subdomain-landing-page & {
        display: none;
    }
}

.card__body {
    color: $yellowgray-neutral-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    .card--improvement-strategies &,
    .card--card-listing & {
        margin-bottom: 25px;
    }
}

.card__footer {
    margin-top: 25px;

    .card--improvement-strategies &,
    .card--card-listing & {
        border-top: 1px solid $yellowgray-lighter;
        margin-top: auto;
        padding-top: 25px;
    }

    a {
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.4px;

        &:after {
          display: inline-block;
          vertical-align: middle;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='%2360b0b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
          width: 10px;
          height: 10px;
          background-position: center center;
          content: ' ';
          margin-left: 4px;
          transition: all 200ms;
          transform: translateX(0px);
        }

        &:hover {
            &:after {
                transform: translateX(3px);
            }
        }
    }
}
