.component--content-filter {
  text-align: center;
}

.component--filter--select_input {
  color: $yellowgray-neutral;
  border: 1px solid;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.node-type-campaign {
  .campaign_header {
    display: none;
  }

  .component--content-filter {
    display: none;
  }
}
