$country-img-width: 136px;

.case-study__title {
  h1 {
    margin: 0 0 20px;
    font-weight: 400;
  }
}

.case-study__header {
  display: flex;

  .case-study__img-description {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 790px;
    max-width: 790px;

    .case-study__video {
      video {
        width: 100%;
        margin-top: 45px;
        min-height: 500px;
        outline: none;

        @include media($small) {
          min-height: 250px;
        }
      }
    }

    .case-study__description-box {
      position: relative;
      margin-top: -30px;
      z-index: 1; // go over the case-study__img
    }
  }

  .case-study__header-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    margin-left: 60px;

    color: $yellowgray-dark;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    h3 {
      margin-bottom: 22px;

      font-size: 32px;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  @media (max-width: 900px) {
    display: block;

    .case-study__header-content {
      margin: 60px 0 0;
    }
  }
}

.case-study__title {
  position: relative;
  padding-left: $country-img-width + 12px;

  .case-study__country-img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.case-study__country-img {
  width: 136px;
  height: 128px;
  // background-image: linear-gradient(-194deg, #34acb9 0%, #a0d0d5 100%);
}

.case-study__description-box {
  padding: 37px 48px;
  background-color: $yellowgray-lightest;
  width: 80%;

  color: $yellowgray-dark;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.case-study__header-content {
  ul {
    padding-left: 1.6em;
    padding-top: 1em;
    list-style-type: disc;

    li {
      padding: 4px 0;
    }
  }
}
