.collapse__toggle {
  cursor: pointer;
}

.collapse__toggle::after {
	content: "";
	display: inline-block;
	border-right: solid $white 2px;
	border-top: solid $white 2px;
	height: 8px;
	margin-left: 7px;
	position: relative;
	top: -3px;
	transform: rotate(135deg);
	transition: all 0.3s ease;
	width: 8px;
}

.is-open .collapse__toggle::after {
  top: 0;
  transform: rotate(-45deg);
}

// closed by default
.collapse__body {
  display: none;
}
