.component {
    padding: 75px 0;

    &[class*='improvement-strategies-listing'],
    &[class*='card-listing'] {
        background-color: $yellowgray-lightest;
    }
}

.component--flush + .component,
.component + .component--flush {
    padding-top: 15px;
}

.component--faqs {
    margin-top: 25px;
    padding-top: 0;
}

.component--faqs + .component,
.component + .component--faqs {
    margin-top: -50px;
}


.component__title {
    @include source-sans-pro;
    color: $yellowgray-neutral;
    font-size: 38px;
    margin: 0 0 47px;
    text-align: center;
}

.component__content {
    &.is-grid {
        display: flex;
        flex-wrap: wrap;
    }

    [class*='improvement-strategies-listing'] &,
    [class*='case-study-listing'] &,
    [class*='card-listing'] & {
        margin: -25px 0 0 -25px;
    }
}
