.compare-wrapper {
    min-height: rem(200);
    position: relative;
}

.compare-chart {
    //@include span-columns(12);
    @include clearfix;
    position: relative;

        svg {

            defs {
              #arrow {
                path {
                  fill: none;
                  stroke-width: 1px;
                  stroke: $yellowgray-lighter;
                }
              }
            }

            .hatch line {
                fill: #cdc5ad;
                stroke: #cdc5ad;
                stroke-linecap: square;
                stroke-linejoin: miter;
                stroke-width: 1;
            }

            rect.bar {
                stroke-width: 1px;
                shape-rendering: crispEdges;

                &.neutral {
                    stroke: #dfdedb;
                    fill: url("#diagonal-up");
                }

                &.bar.quintile-1 {
                    stroke: #d63e3e;
                    fill: #d63e3e;
                }

                &.bar.quintile-2 {
                    stroke: #ec8c42;
                    fill: #ec8c42;
                }

                &.bar.quintile-3 {
                    stroke: #f1e74a;
                    fill: #f1e74a;
                }

                &.bar.quintile-4 {
                    stroke: #9be156;
                    fill: #9be156;
                }

                &.bar.quintile-5 {
                    stroke: #43c560;
                    fill: #43c560;
                }
            }

            .axis {
              path, line.arrow {
                fill: none;
                stroke-width: 1px;
                shape-rendering: crispEdges;
              }

              path {
                stroke: $yellowgray-lighter;
              }

              line.arrow {
                stroke: $yellowgray-lighter;
              }

              .tick{
                text {
                  fill: none;
                }
                line {
                  stroke: $yellowgray-neutral;
                  stroke-width: 1px;
                  shape-rendering: crispEdges;
                }
              }

              rect.label-clip {
                fill: #fff;
              }

              text.label {
                text-anchor: middle;
                font-style: italic;
                fill: $yellowgray-light2;
                font-size: 13px;
              }
            }

            g.indicator-icon {
                circle {
                    fill: $yellowgray-neutral;
                }

                text {
                    font-size: 16px;
                    @include source-sans-pro;
                    text-anchor: middle;
                    fill: $white;
                    pointer-events: none;
                }
            }

            line.separator {
                stroke-width: 1px;
                stroke-dasharray: 3,3;
                stroke: $yellowgray-lighter;
                shape-rendering: crispEdges;
            }

            text.no-data {
                text-anchor: middle;
                fill: $yellowgray-light;
                font-size: 13px;
                font-style: italic;
            }
        }

      .quintile-hover-tip {
        position: absolute;
        text-align: center;
        background-color: $yellowgray-neutral;
        padding: 10px;
        z-index: 100;
        width: 175px;
        color: $yellowgray-lightest;
        pointer-events: none;

        .hover-pointer {
          @include rem(margin-left, -5px);
          @include rem(bottom, -5px);
          top: auto;
          content: '';
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $yellowgray-neutral;
          border-bottom: none;
          height: 0;
          position: absolute;
          left: 50%;
          width: 0;
        }

        @include media($small) {
            width: 100%;

            .hover-pointer {
              @include rem(margin-left, -5px);
              @include rem(top, -5px);
              bottom: auto;
              border-bottom: 5px solid $yellowgray-neutral;
              border-top: none;
            }
        }

        .hover-title {
          margin: 0 0 3px;
          font-size: 14px;
        }

        .hover-data {
          margin: 0;
          font-size: 12px;
          color: $yellowgray-light2;

          strong {
            font-size: 16px;
            font-weight: bold;
            color: $white;
          }

          span {
            display: block;
          }
        }
      }
} // .compare-chart

.compare-chart--legend {

    ul {
        list-style-type: none;
    }

    li {
        position: relative;
        border-bottom: solid 1px $yellowgray-lighter;
        padding: 0 25px 20px 35px;
        margin: 0 0 20px;
        color: $yellowgray-neutral;
        font-size: 18px;

        &:last-child {
            margin: 0;
        }

        svg {
            position: absolute;
            left: 0;
            top: 0;
        }
    } // li

    .legend-title {
        display: block;
        text-align: center;
        color: $yellowgray-light;
        font-size: 15px;
        @include source-sans-pro;
    }

    svg {

        text {
            text-anchor: middle;
            @include source-sans-pro;
        }

        rect.neutral {
            stroke: #dfdedb;
            fill: url(#diagonal-up);
        }

        line.arrow {
          fill: none;
          stroke-width: 1px;
          shape-rendering: crispEdges;
          stroke: $yellowgray-lighter;
        }

        text.label {
            font-size: 13px;
            fill: $yellowgray-light;

            tspan.super {
                font-size: 8px;
                baseline-shift: super;
            }

            &.neutral {
                text-anchor: start;
            }
        } // text.label
    } // svg
} // .compare-chart-legend

.compare-legend--body {
    position: absolute;
    left: -20px;
    top: 0;
    background-color: white;
    z-index: 10;
    width: 278px;
    padding: 23px;
    border: solid 1px $yellowgray-lighter;

    left: -278px - 20px;

    transition: left 0.5s ease-in-out;

    &.is-on {
        left: -20px;
    }

    @include media($large-min) {
        @include span-columns(3);
        position: relative;
        left: 0;
    }
} // .compare-legend--body



.compare-chart--list {
    @include span-columns(12);
    float: right;

    @include media($large-min) {
        @include span-columns(9);
        float: right;
    }
} // .compare-chart--list

.compare-chart--single {
    width: 100%;
    float: left;
    padding: 0 2% 0 0;
    margin-bottom: 10%;
    text-align: center;

    @include media($small-min) {
        width: 50%;
    }

    @include media($medium-min) {
        width: calc(100% / 3);
    }

    @include media($small) {
      border-bottom: 1px solid $border-color;
      padding: 0 1em 2em 0;
    }
} // .compare-chart--single

.compare-chart--country-name {
    @include rem(font-size, 26px);
    @include source-sans-pro;
    line-height: 1.2em;
    display: inline-block;
    color: $yellowgray-neutral;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding: 0 rem(30) 0 0;
    height: 62px;
    margin-bottom: 0.5em;

    .remove_item {
        @include size(24px);
        border-radius: 50%;
        border: solid 2px $border-color;
        content: 'hi';
        display: block;
        position: absolute;
        bottom: 55%;
        cursor: pointer;
        right: 0;

        &:before,
        &:after {
            background-color: $border-color;
            content: '';
            position: absolute;
            width: 75%;
            height: 2px;
            top: 50%;
            left: 12.5%;
            margin-top: -1px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    } // .remove_item
} // .compare-chart--country-name

.compare-chart--graph {

    position: relative;

    svg {
        margin: 0 auto;
        display: block;
    }
} // .compare-chart--graph
