
/* Styles for the Compare Table component */
.compare-table {
    border-collapse: separate;
    clear:left;
    margin-bottom: 50px;

    tr {
    } // tr

    td {
        position: relative;
        text-align: center;
        padding: 25px 10px;
        @include media($small-thin) {
          padding: 25px 5px;
        }

        @include media($small-thin) {
          padding: 25px 0;
        }
    } // td

    &__component {}

    &__row-titles {
        background-color: $lightgray;
        th {
            background-color: $lightgray;
        }
    } // compare-table__row-titles

    &__col-title {
        @include rem(font-size, 18px);
        color: $yellowgray-neutral;
        font-weight: 600;
        position: relative;
        padding-right: 50px;
        border-right: 1px solid $border-color;

        @include media($medium) {
          &:nth-child(3) {
            border-left: 2px solid $border-color;
          }
        }

        @include media($small-thin) {
            @include rem(font-size, 15px);
            padding-right: 20px;
        }

        &:first-child,
        &:nth-last-child(2) {
            border-right: none;
        }
    } // .compare-table__col-title

    &__col-close {
        @include size(24px);

        border: 2px solid $border-color;
        border-radius: 15px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -15px;

        &:before,
        &:after {
            background-color: $border-color;
            content: '';
            height: 2px;
            left: 12.5%;
            position: absolute;
            top: 50%;
            width: 75%;
            margin: -1px 0 0 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        @include media($medium) {
          display: none;
        }
    } // compare-table__col-close

    &__sub-row-titles {

        th {
            background-color: $yellowgray-lightest;
        }

        @include media($x-large) {
          th {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
    } // compare-table__sub-row-titles

    &__sub-col-title {
        @include neuton;
        @include rem(font-size, 20px);
        color: $yellowgray-neutral;
        font-style: italic;
        text-align: center;
        //border-left: 1px solid $border-color;

        &:nth-child(2n) {
          border-right: 1px solid $border-color;
        }

        &:nth-last-child(2) {
          border-right: none;
        }

        &:nth-child(3) {
            border-left: 0;
        }

        @include media($medium) {
          &:nth-child(3) {
            border-left: 2px solid $border-color;
          }
        }

        @include media($small-thin) {
          @include rem(font-size, 18px);
        }
    } // .compare-table__sub-col-title


    &__data-row {
      &:first-child {
        .compare-table__value {
          &:nth-child(3) {
            @include media($medium) {
              border-left: 2px solid $border-color;
            }
          }
        }

        .compare-table__year {
          &:nth-last-child(2) {
            border-right: none;
          }
        }

        .compare-table__no-data {
          &:nth-last-child(2) {
            border-right: none;
          }

          &:nth-child(3) {
            @include media($medium) {
              border-left: 2px solid $border-color;
            }
          }
        }

        .compare-table__year {
          &:nth-last-child(2) {
            border-right: none;
          }
        }
      }
    } // .compare-table__data-row

    &__row-close {
        @include size(24px);

        border: 2px solid $border-color;
        border-radius: 15px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -12px;

        &:before,
        &:after {
            background-color: $border-color;
            content: '';
            height: 2px;
            left: 12.5%;
            position: absolute;
            top: 50%;
            width: 75%;
            margin: -1px 0 0 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        @include media($medium) {
          display: none;
        }
    } // .compare-table__row-close


    &__country {
        @include rem(font-size, 26px);
        color: $yellowgray-neutral;
        font-weight: bold;
        position: relative;

        .compare-table & {
            padding-right: 45px;
            text-align: left;
            width: 23%;
        }

        @include media($medium) {
          .compare-table & {
            padding-right: 20px;
          }
        }

        @include media($small-thin) {
          padding-left: 0;

          .compare-table & {
            padding-right: 10px;
          }
        }
    } // .compare-table__country

    &__value {
        @include rem(font-size, 47px);
        color: $yellowgray-light;
        font-weight: 300;

        @include media($x-large) {
          @include rem(font-size, 40px);
        }

        @include media($medium) {
          @include rem(font-size, 39px);

          &:nth-child(2) {
            border-left: 2px solid $border-color;
          }
        }
    } // .compare-table__value

    &__tag {
      display: block;
      line-height: 0;

      .name_tag {
        margin-left: 0;
      }
    }

    &__quintile {
        @include rem(font-size, 22px);
        color: $yellowgray-neutral;
        padding: 0;

        @include media($small-thin) {
            @include rem(font-size, 18px);
        }

        .tile {
            @include size(10px);
            display: inline-block;
            margin: 0 10px 0 0;
            position: relative;
            top: -5px;

            background-color: $compare-color;

            &__better { background-color: $compare-color__better; }

            &__best { background-color: $compare-color__best; }

            &__worse { background-color: $compare-color__worse; }

            &__worst { background-color: $compare-color__worst; }

            &__neutral {
                background: repeating-linear-gradient(
                    -45deg,
                    #dfdedb,
                    #dfdedb 1px,
                    #eee 1px,
                    #eee 3px
                );
            }
        } // &.tile
    } // &__quintile

    &__year {
        @include rem(font-size, 22px);
        color: $yellowgray-neutral;
        border-right: 1px solid $border-color;

        &:last-child {
            border-right: none;
        }
    } // .compare-table__year

    &__no-data {
        @include rem(font-size, 20px);
        color: $yellowgray-light;
        font-style: italic;
        text-align: center;
        border-right: 1px solid $border-color;

        &:last-child {
            border-right: none;
        }
        
        @include media($medium) {
          &:nth-child(2) {
            border-left: 2px solid $border-color;
          }
        }
    } // compare-table__no-data

    .label {
        @include rem(font-size, 13px);
        bottom: 20px;
        color: white;
        font-weight: 700;
        height: 0;
        left: 50%;
        line-height: 1em;
        margin-left: -37.5px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 75px;

        &__colored {
            height: auto;
            padding: 5px 10px;

            &--data-top {
                background-color: $compare-color__best;
            }

            &--data-middle {
                background-color: $compare-color;
            }

            &--data-bottom {
                background-color: $compare-color__worst;
            }
        } // &__colored
    } // label

    &__pagination {
      width: 40px;

      .compare-table__row-titles &,
      .compare-table__sub-row-titles &,
      .compare-table__data-row & {
        background-color: $yellowgray-lighter;
      }
      .compare-table__data-row:first-child & {
        &:hover {
          background-color: $yellowgray-lighter;
        }
      }

      .compare-table__sub-row-titles & {
        border-bottom: 3px solid $yellowgray-lighter;
      }

      @include media($medium) {
        display: none;
      }
    } // .compare-table__pagination

    &__pagination--next {
      border-right: 5px solid $border-hairline-color;
      border-top: 5px solid $border-hairline-color;
      display: block;
      left: -4px;
      position: relative;
      height: 20px;
      width: 20px;
      text-indent: -9999px;
      transform: rotate(45deg);

      @include media($small-thin) {
        left: 3px;
      }
    } // .compare_table__pagination--next

    &__pagination--prev {
      border-left: 5px solid $border-hairline-color;
      border-top: 5px solid $border-hairline-color;
      display: block;
      position: relative;
      left: 4px;
      height: 20px;
      width: 20px;
      text-indent: -9999px;
      transform: rotate(-45deg);

      @include media($small-thin) {
        left: 11px;
      }
    } // .compare-table__pagination--prev

    &__pagination--hover {
      .compare-table & {
        td {
          background-color: transparent;
        }

        .compare-table__pagination {
          background-color: $yellowgray-lighter;
        }
      }
    } //.compare_table__pagination--hover

    &__row-mobile {
      display: none;

      @include media($medium) {
        display: table-row;
      }

      th {
        background-color: $lightgray;
      }
    } // .compare-table__row-mobile

    &__pagination-mobile {
      text-align: right;

      @include media($medium) {
        border-left: 2px solid $border-color;
      }
    } // .compare-table__pagination-mobile

    &__pagination-mobile-prev {
      background-color: $yellowgray-lighter;
      display: inline-block;
      margin-right: 10px;
      position: relative;
      height: 24px;
      width: 24px;

      &:after {
        display: block;
        content: '';
        border-top: 2px solid $yellowgray-light;
        border-left: 2px solid $yellowgray-light;
        height: 10px;
        left: 0.6em;
        position: absolute;
        top: 0.5em;
        width: 10px;
        transform: rotate(-45deg);
      }
    } // .compare-table__pagination-mobile-prev

    &__pagination-mobile-next {
      background-color: $yellowgray-lighter;
      display: inline-block;
      position: relative;
      height: 24px;
      width: 24px;

      &:after {
        display: block;
        content: '';
        border-top: 2px solid $yellowgray-light;
        border-right: 2px solid $yellowgray-light;
        height: 10px;
        left: 0.4em;
        position: absolute;
        top: 0.5em;
        width: 10px;
        transform: rotate(45deg);
      }
    } // .compare-table__pagination-mobile-next
} // .compare-table
