
/**********
    Compare Options Component
**********/
.compare-panels {
    @include clearfix;
    margin: 0 0 2em;

    .drawer_content--form {
        float: none;
        width: 100%;
        margin: 0;
    }

    .drawer_content--section_divider {
        float: none;
        margin: 1em auto;

        min-width: 200px;
        max-width: 75%;
    }

    .selected_items--component {
        margin: 1em 0 0 0;
    }

} // .compare-panels

.mobile-tabs {
    @include clearfix;
    @include neuton;
    font-size: rem(20);

    border-bottom: 2px solid $border-color;
    margin: 0;
    padding-left: 1em;
    cursor: pointer;

    &__tab {
        border: 2px solid transparent;
        bottom: -2px;
        color: $yellowgray-neutral;
        display: block;
        float: left;
        margin: 0;
        padding: .25em .5em;
        position: relative;
        
        &.is-on {
            border-color: $border-color;
            border-bottom-color: $yellowgray-lightest;
            cursor: default;
        }
    } // &__tab

    &__tab-count {
        @include source-sans-pro;
        color: $yellowgray-light;
        font-size: rem(16);
        margin-left: .5em;
    }

    @include media(min-width 780px) {
        display: none;
    } // @include media(min-width 780px)
} // .mobile-tabs

.compare-panel {
    display: none;
    margin: 0;
    padding: 2em 0;

    &.is-on {
        display: block;
    }

    @include media(min-width 780px) {
        border-top: none;
        display: block;
        float: left;
        width: 50%;
        padding: 0;

        &:nth-of-type(odd) {
            padding-right: 3%;
            border-right: 1px solid $border-color;
        }

        &:nth-of-type(even) {
            border-left: 1px solid $border-color;
            left: -1px;
            padding-left: 3%;
            position: relative;
        }
    } // @include media(min-width 780px)
} // .compare-panel
