
.comparison_header {
    @include span-columns(8);
	color: $yellowgray-neutral;

    @include media($large) {
        @include rem(margin-top, 10px);
    }

    @include media($medium) {
        @include span-columns(7);
    }

    @include media($small) {
        @include span-columns(12);
        margin-top: 0;
    }
}

.comparison_header-title {
	@include rem(font-size, 36px);
	@include rem(margin-bottom, 20px);
	font-weight: 600;
	margin-top: 0;

    transition: font-size 0.5s;

    @include media($medium-min) {
        @include rem(font-size, 40px);
    } // @include media($medium)

    @include media($large-min) {
        @include rem(font-size, 52px);
        @include rem(margin-bottom, 40px);
    } // @include media($large)
} // .comparison_header-title

.comparison_header-summary {
	@include clearfix;
    @include neuton;
    @include rem(font-size, 20px);
    @include rem(line-height, 27px);

    color: $yellowgray-neutral;
	margin-top: 0;
	max-width: 890px;
    //margin-left: 0;
	width: auto;

    transition: font-size 1s, line-height 1s;

    @include media($medium-min) {
        @include rem(line-height, 30px);
        @include rem(font-size, 22px);
    }

		@include media($medium) {
			width: 100%;
		}
} // .comparison_header-sumary
