.content-status {
	min-height: rem(200);
	position: relative;

	.loading,
	.error {
		background-color: $white;
		bottom: 0;
		font-size: rem(18);
		font-weight: 600;
		left: 0;
		padding: rem(20);
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 2;

		.icon {
			display: inline-block;
			margin-right: rem(5);
			vertical-align: middle;
		}
	}

	.error {
		color: $element_bg__red;
		fill: $element_bg__red;

		svg {
			height: rem(30);
			width: rem(30);
		}
	}

	&.is-overlay {
		background-color: rgba(255,255,255,.75);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 11;

		.loading,
		.error {
			background-color: inherit;
		}
	}
}