.content-type {
	color: $yellowgray-light;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .05em;
	margin-bottom: 5px;
	margin-top: 25px;
}

.node-article {
	.content-type {
		float: left;
	}
}