.country-vitals {
  border-top: 2px solid $yellowgray-light3;

  .vital-sign__title a:hover {
      text-decoration: underline;
  }

  sup {
    @include source-sans-pro;
    background-color: $link_blue;
    border-radius: 50%;
    color: $c-font-inverse;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    height: 15px;
    line-height: 15px;
    text-align: center;
    width: 15px;
  }

  &__container {
    display: flex;
      flex-wrap: wrap;
    width: 100%;
  }

  &__section {
    border-top: 1px solid $yellowgray-light3;
    flex: none;
    padding: 30px 0;
    width: 100%;

    &:first-child {
      border-top: 0;
    }

    @include media($small-min) {
      border-top: 0;
      width: 50%;

      &:nth-child(2n + 1) {
        padding-right: 25px;
      }

      &:nth-child(2n) {
        border-left: 1px solid $yellowgray-light3;
        padding-left: 25px;
      }

      &:nth-child(n + 3) {
        border-top: 1px solid $yellowgray-light3;
      }
    }

    @include media($large-min) {
      border-top: 1px solid $yellowgray-light3;
      padding: 34px 0;
      width: calc(33% - 17px);

      &:first-child {
        border: 0;
        width: 100%;
      }

      &:nth-child(2) {
        border-left: 0;
        padding-left: 0;
        padding-right: 34px;
      }

      &:nth-child(3) {
        border-left: 1px solid $yellowgray-light3;
        padding: 34px;
        width: calc(33% + 17px);
      }

      &:last-child {
        padding-left: 34px;
      }
    }

    @include media($x-large-min) {

      &:nth-child(n) {
        border-left: 1px solid $yellowgray-light3;
        border-top: 0;
        padding: 40px 34px;
        width: calc(25% + 17px); // padding on both sides
      }

      &:first-child {
        border: 0;
        padding-left: 0;
        width: calc(25% - 17px); // padding on one side only
      }

      &:last-child {
        padding-right: 0;
        width: calc(25% - 17px); // padding on one side only
      }
    }
  }

  &__title {
    color: $purple-dark;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;

    svg {
      display: inline-block;
      height: 31px;
      margin-right: 0.5em;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__description {
    @include neuton;
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 10px;
  }

  &__indicators {
    border-top: 1px solid $yellowgray-light3;
    margin-top: 20px;

    .viz-vitals-bar__label--mid {
      display: none;
    }
  }

  &__modal .modal__box {
    max-width: 980px;

    @include media($small-min) {
      padding-left: 50px;
    }
  }
}
