.country-modal {
  color: $base-font-color;

  .vital-sign__title a:hover {
    text-decoration: underline;
  }

  sup {
    @include source-sans-pro;
    background-color: $link_blue;
    border-radius: 50%;
    color: $c-font-inverse;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    height: 15px;
    line-height: 15px;
    text-align: center;
    width: 15px;
  }

  &__header {
    display: flex;
      align-items: center;
    margin-bottom: 30px;

    @include media($medium) {
      flex-wrap: wrap;
    }
  }

  &__title {
    color: $purple-dark;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-right: 15px;
    text-transform: uppercase;

    svg {
      display: inline-block;
      height: 31px;
      margin-right: 0.5em;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__download {
    display: block;
    flex: none;
    margin: 6px 15px 6px 0;
  }

  &__download-link {
    background-image: url(../assets/images/icons/icons_download-blue.svg);
    background-position: top left;
    background-repeat: no-repeat;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 24px;
    min-width: 24px;
    padding-left: 30px;
    text-transform: uppercase;
  }

  &__tab-wrapper {

  }

  &__tabs {
    margin: 0 -20px;
  }

  &__tab {
    background: none;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    color: $base-font-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 10px 20px;
    transition: border 500ms ease;

    &.button {
      background-color: rgba(96, 176, 185, 0.5) !important;
      &:focus {
        outline:0;
      }
    }

    &.is-on,
    &:focus,
    &:hover {
      border-color: currentColor;
      background-color: $link_blue_hover !important;
    }
  }

  &__panels {

  }

  @keyframes countryModalShowPanel {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__panel {
    display: none;

    &.is-on {
      animation: countryModalShowPanel 750ms ease;
      display: block;
    }
  }

  &__tab-overview {

    .vital-sign__title {
      font-size: 22px;
    }
  }

  &--capacity &__tab-overview {
    background-color: $yellowgray-lightest;
    margin-left: -20px;
    margin-right: -50px;
    padding-left: 20px;
    padding-right: 50px;
    width: calc(100% + 70px);

    @include media($small-min) {
      margin-left: -50px;
      margin-right: -70px;
      padding-left: 50px;
      padding-right: 70px;
      width: calc(100% + 120px);
    }
  }

  &__section {
    padding: 20px 0;

    .vital-sign__title {
      font-weight: 600;
    }
  }

  &--performance &__section {

    @include media($small-min) {
      margin-left: 95px;
    }
  }

  &--performance &__section + &__section {
    border-top: 1px solid $yellowgray-light3;
  }

  &--performance &__tab-overview + &__section {
    border-top: 1px solid $yellowgray-light3;
    margin-top: 20px;

    @include media($small-min) {
      margin-left: 0;
      padding-left: 95px;
    }
  }

  &__section-header {
    display: flex;
      align-items: center;
  }

  &__section-title {
    @include source-sans-pro;
    flex: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.33333;
    margin-bottom: 0;

    a:hover {
      text-decoration: underline;
    }
  }

  &__section-value {
    color: $base-font-color;
    font-size: 40px;
    font-weight: 400;
    height: 64px;
    line-height: 58px;
    text-align: center;
    width: 64px;

    @include media($small-min) {
      margin-right: 161px;
    }
  }

  &__references {
    padding: 20px 0;

    ol {
      list-style: none;
      counter-reset: counter;
    }

    ol li {
      list-style-type: none;
      counter-increment: counter;
      position: relative;
    }

    ol li::before {
      @include source-sans-pro;
      background-color: $link_blue;
      border-radius: 50%;
      color: $c-font-inverse;
      content: counter(counter);
      font-size: 11px;
      font-weight: 700;
      height: 15px;
      line-height: 15px;
      margin-right: 3px;
      position: absolute;
        right: 100%;
        top: 2px;
      text-align: center;
      width: 15px;
    }
  }

  // overrides
  .vital-sign--block {
    padding: 0;

    .vital-sign__title {
      margin-bottom: 0;
      padding: 5px 0;
    }

    .vital-sign__data-source {
      margin-top: 0;
    }

    .vital-sign__visualization {
      margin: 0;
      padding: 0;
    }

    .viz-vitals-block__value {
      color: $base-font-color;
      font-weight: 400;
    }
  }

  &__tab-overview  .vital-sign--block {

    @include media($small-min) {
      display: flex;
        align-items: center;
        justify-content: space-between;
    }

  }

  &__section .vital-sign--block {
    display: flex;
      align-items: center;
      justify-content: space-between;

    .vital-sign__title {
      padding-left: 30px;
    }

    .viz-vitals-block__value {
      font-size: 1px;
      height: 1px;
      opacity: 0;
      width: 1px;
    }
  }
}
