
/* Styles specifically for the Country Selector */
.country_selector {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;

	&.is-open {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}

	.main.collapsible--target {
		display: block;
		max-height: 0;
		overflow: hidden;
		opacity: 0;

		transition: max-height 0.3s, opacity 0.3s;

		&.is-open {
			max-height: 10000px;
			opacity: 1;
			overflow: visible;
			margin-bottom: 25px;
		}

		@include media($small) {
				max-height: 10000px;
				opacity: 1;
				overflow: visible;
				margin-bottom: 25px;
		}
	} // .main

	.collapsible--trigger {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		span {
			position: relative;
			bottom: -30px;
		}
	} // .collapsible--trigger

	.open_icon {
		display: block;
		margin: 0 auto;
	    height: 62px;
	    width: 125px;
	    border-radius: 90px 90px 0 0;
		background-color: white;
		opacity: 0;

		transition: opacity 0.3s;
		

		&:after {
			border-bottom: 3px solid $yellowgray-light3;
			border-left: 3px solid $yellowgray-light3;
			content: "";
			display: inline-block;
			height: rem(12);
			margin: rem(23px) 0 0 rem(57.6px);
			transform: rotate(135deg);
			transition: transform 0.3s ease;
			vertical-align: middle;
			width: rem(12);
		}

		&.is-open {
			opacity: 1;
		}
	} // .open_icon

	.closed_text {
		@include source-sans-pro;
		display: block;
		font-size: rem(14);
		font-weight: 700;
		color: $yellowgray-light;
		height: 0;
		overflow: hidden;
		white-space: nowrap;
		letter-spacing: 0.05em;
		text-transform: uppercase;

		transition: height 0.3s;

		&.is-open {
			height: 50px;
			line-height: 50px;
			bottom: 0;
		}
	} // .closed_text

	@include media($x-large) {
		margin-left: 20px;
		margin-right: 20px;
	}

	@include media($small) {
		margin-left: 0;
		margin-right: 0;
	}
} // .country_selector
