.country-categories-wrapper {
  border-bottom: 1px solid $border-color;
}

.country-category {
  border-top: 10px solid;
}

@each $category, $category-color in $color_category {
	.category-color__theme--#{$category} {
    border-top-color: map-get($category-color, bg-color);
	  transition: border-top 0.2s ease;
	}

  .category-color__theme--#{$category}:hover {
    border-top-color: darken(map-get($category-color, bg-color), 10%);
  }

  .category-color__theme--#{$category} .country-category__title {
    color: map-get($category-color, font-color);
	}
}

// category box styles also come from themeing.scss
.country-category__heading {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
}

.country-category__two-col-container {
  display: flex;
  width: 100%;

  @include media($medium) {
    flex-direction: column;
  }
}

.country-category__col {
  width: 50%;

  @include media($medium) {
    width: 100%;
  }
}

.country-category__col:first-child {
	padding-right: 10px;

  @include media($medium) {
    padding-bottom: 10px;
    padding-right: 0;
  }
}

.country-category__col:last-child {
	padding-left: 10px;

  @include media($medium) {
    padding-top: 10px;
    padding-left: 0;
  }
}

.country-category__title {
  align-items: center;
  border-top: none;
  display: flex;
  font-size: 24px;
  letter-spacing: .07em;
  margin: 0;
  padding: 0 0 10px 0;
  position: relative;
  text-transform: uppercase;

  @include media($medium) {
    font-size: 22px;
  }

  @include media($x-small) {
    font-size: 20px;
  }
}

.country-category__icon {
  flex: none;
  font-size: 0;
  margin-right: 18px;
  width: 36px;
}

.country-category__subtitle {
  color: $yellowgray-light;
  font-size: 26px;
  margin: 0;

  @include media($small-thin) {
    font-size: 22px;
    line-height: 28px;
  }
}

.country-category__subtitle:empty {
  display: none;
}

.country-category__toggle {
  background-color: $link-blue;
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.9px;
	margin-top: 28px;
	text-transform: uppercase;
	z-index: 1;
}

.country-category__toggle::before {
	content: "Show Indicators";
}

.country-category.is-open .country-category__toggle::before {
	content: "Hide Indicators";
}

.country-category__divider {
  background-color: $yellowgray-light3;
  height: 0px;
  opacity: 0.6;
  position: relative;
	top: -25px;
  transition: all 0.5s ease;
	width: 0px;
}

.is-open .country-category__divider {
  height: 2px;
	width: 100%;
}

.country-category__body-content {
  padding-bottom: 20px;
}

.country-category__body-content .indicator_box--box_container {
  @include media($medium) {
    margin-left: 0;
    margin-right: 0;
  }
}
