.country-listing {
  font-size: 18px;
}

.country-listing__all,
.country-listing__trailblazers ul {
  column-count: 3;

  @include media($large) {
    column-count: 2;
  }

  @include media($small) {
    column-count: 1;
  }
}

.country-listing__all,
.country-listing__trailblazers {
  
  &.is-hidden {
    display: none;
  }
}

.country-listing__toggle-container {
  text-align: center;
  margin-bottom: 40px;
}

.country-listing__section-title {
  margin-bottom: 10px;
}

.country-listing__items {
  list-style: none;
  margin-bottom: 30px;
  margin-left: 0;
}

.country-listing__item {
  margin: 5px 0;
}

.country-listing__trailblazer {
  display: flex;
  align-items: center;

  a {
    color: $purple-dark;
  }
}

.country-listing__icon {
  flex: none;
  height: 16px;
  margin-right: 8px;
}
