.deep_dive {
  @include clearfix;
}

.deep_dive-title_divider {
  @include rem(font-size, 24px);
  margin: 0;
  margin-bottom: 4%;
  position: relative;
  text-align: center;

  &:before {
    background-color: $border-color;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .deep_dive-title {
    background-color: $white;
    color: $yellowgray-light;
    font-weight: 700;
    padding: 0 1%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
  }
}

.data_tile {
  @include span-columns(6 of 12);
  @include omega(2n);
  @include rem(padding, 50px 50px 110px 50px);
  //@include rem(min-height, 485px);
  background-size: cover;
  margin-bottom: rem(30);
  position: relative;

  @include media($medium) {
    margin-right: 0;
    padding: rem(34) rem(34) rem(94) rem(34);
    width: 100%;
  }

  &:before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .no-blendmode & {
      //opacity: 0.90;
    }
  }

  &:after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &[style*='background-image'] {
    &:before {
      opacity: 0.9;
    }
  }

  &:nth-child(odd) {
    //margin-right: 0;
  }

  .blendmode & {
    background-blend-mode: multiply;
  }

  .data_tile-title {
    @include rem(font-size, 32px);
    color: $white;
    font-weight: 700;
    margin-top: 0;
    position: relative;
    z-index: 2;

   @include media($medium) {
     font-size: rem(28);
     line-height: rem(32);
   }

   @include media($small) {
    font-size: rem(22);
    line-height: rem(26);
   }
  }

  .data_tile-summary {
    @include neuton;
    color: $white;
    font-size: rem(22);
    line-height: rem(32);
    margin: 0;
    position: relative;
    z-index: 2;

    @include media($medium) {
     font-size: rem(20);
     line-height: rem(30);
    }

    @include media($small) {
     font-size: rem(18);
     line-height: rem(28);
   }
  }

  .data_tile-footer {
     @include rem(bottom, 50px);
     @include rem(right, 50px);
     left: rem(50);
     position: absolute;
     text-align: right;
     z-index: 2;

     @include media($medium) {
       bottom: rem(34);
       left: rem(34);
       right: rem(34);
       text-align: center;
     }
  }

  .data_tile-link {
    @include rem(padding, 15px 20px);
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: $white;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .data_tile-content {
    /*max-height: 335px;
    overflow: hidden;*/
  }

  @each $category, $category-color in $color_category {
    &.category-color__theme--#{$category} {
      &:before {
        background-color: map-get($category-color, font-color);
        //opacity: 0.5;
        .no-blendmode & {
          //opacity: 0.7;
        }
      }
      .blendmode & {
        background-color: map-get($category-color, bg-color);
      }
      &:after {
        @include linear-gradient(to top, transparent 0, map-get($category-color, bg-color) 70%);
      }
    }
  }
}
