.component--facet-card-listing {
  .component__title {
    margin: 0 0 20px;
  }

  .component__description {
    font-size: 20px;
    text-align: center;
    margin: 0 0 30px;
  }

  .component__filter_group {
    display: flex;
    justify-content: center;
  }

  .component__filter_list {
    display: inline-block;

    li {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: left;
      float: left;
      margin-left: 5px;
      margin-right: 5px;

      @include media($medium-min) {
        margin-left: 25px;
        margin-right: 25px;
      }

      &.component_filter_option {
        color: #2E3E53;
        text-transform: uppercase;
        border-bottom: 4px solid;
        border-color: transparent;
        padding-bottom: 4px;
        margin-bottom: 8px;
        cursor: pointer;

        @include media($medium-min) {
          padding-bottom: 8px;
        }
      }

      &.active,
      &:hover {
        border-color: inherit;
      }

      &.component__filter-by {
        color: #676357;
        width: 100%;

        @include media($medium-min) {
          width: auto;
        }
      }
    }
  }

  .component__content {
    display: flex;
    justify-content: center;
  }
}

.component--organization-listing {
  background-color: white;
  .component__title {
    margin: 0 0 20px;
  }

  .component__description {
    font-size: 20px;
    text-align: center;
    margin: 0 0 30px;
  }

  .component__filter_group {
    display: flex;
    justify-content: center;
  }

  .component__filter_list {
    display: inline-block;

    li {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: left;
      float: left;
      margin-left: 5px;
      margin-right: 5px;

      @include media($medium-min) {
        margin-left: 25px;
        margin-right: 25px;
      }

      &.component_filter_option {
        color: #2E3E53;
        text-transform: uppercase;
        border-bottom: 4px solid;
        border-color: transparent;
        padding-bottom: 4px;
        margin-bottom: 8px;
        cursor: pointer;

        @include media($medium-min) {
          padding-bottom: 8px;
        }
      }

      &.active,
      &:hover {
        border-color: inherit;
      }

      &.component__filter-by {
        color: #676357;
        width: 100%;

        @include media($medium-min) {
          width: auto;
        }
      }
    }
  }

  .component__content {
    display: flex;
    justify-content: center;
  }

  .organization-icon {
    cursor: pointer;
  }

  /* The Modal (background) */
  .popup-organization {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

    @include media($x-large) {
      padding-top: 25%;
    }

    @include media($medium) {
      padding-top: 20%;
    }

    @include media($x-small) {
      padding-top: 15%;
    }

  }

  /* Modal Content (image) */
  .popup-content {
    margin: auto;
    display: block;
    width: 85%;
    max-width: 700px;
    background: white;
    padding: 20px;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;

    @include media($x-small) {
      top: 10px;
    }
  }


  .open-popup {
    display: block;
  }
}
