.card--facet-card-listing {
  .card__header a {
    order: 0;
    color: #48443A;
  }

  .card__subtitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    color: #60b0b9;
    margin-top: 16px;
  }

  .card__tags {
    color: #2E3E53;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 25px;
  }
  
  @include media($large-min) {
    width: calc(100% / 3 - 25px);
  }
}
