.faq-list {
  margin: 15px 0 25px;

  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &__question {
    background: transparent url("../assets/images/icons/icons_arrow-circle-right.svg") no-repeat top left;
    color: $blue-neutral;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    min-height: 30px;
    padding-left: 50px;
  }

  &__answer {
    margin-left: 75px;
  }
}
