.fingerprint-barchart__item {
    display: flex;
    margin: 10px 0 0;

    &:first-child {
        margin-top: 0;
    }
}

.fingerprint-barchart__indicator {
    @include source-sans-pro;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    text-align: right;
    padding-right: 20px;
    width: 45%;
}

.fingerprint-barchart__bar,
.fingerprint-barchart__nodata {
    width: 55%;
}

.fingerprint-barchart__nodata {
    @include source-sans-pro;
    font-size: 15px;
}

.fingerprint-barchart__bar {
    border: 1px dotted $yellowgray-light2;
    height: 15px;
    margin-top: 2px;
    position: relative;
}

.fingerprint-barchart__shade {
    background-color: $yellowgray-light2;
    bottom: -1px;
    left: -1px;
    position: absolute;
    top: -1px;

    .category-color__theme--1 & {
        background-color: $orange-neutral;
    }

    .category-color__theme--2 & {
        background-color: $greenblue-neutral;
    }

    .category-color__theme--3 & {
        background-color: $category_color_bg_three;
    }

    .category-color__theme--4 & {
        background-color: $greengray-neutral;
    }

    .category-color__theme--5 & {
        background-color: $blue-neutral;
    }

    .category-color__theme--6 & {
        background-color: $category_color_bg_six;
    }
}