/* footer */
.site_footer {
	background-color: $site_footer_background;
	color: $yellowgray-neutral-light;
	padding: 30px 0;
	clear: both;
}

.site_footer__copyright {
	display: block;
	margin-bottom: 5px;

	@include media($small) {
		margin-bottom: 10px;
	}
}

.site_footer__link {
	color: $yellowgray-light3;

	&:hover {
		color: darken($yellowgray-light3, 10%);
	}
}

.site_footer__links {
	@include span-columns(5);

	@include media($small) {
		@include span-columns(12);
		@include omega;
		border-bottom: 1px solid $site_footer_border;
		padding-bottom: 15px;
		margin-bottom: 20px;
		text-align: center;
	}
}

.site_footer__info {
	@include span-columns(7);
	@include omega;
	position: relative;
	text-align: right;

	@include media($small) {
		@include span-columns(12);
		text-align: center;
	}
}

.site_footer__info-item {
	border-left: 1px solid $site_footer_border;
	display: inline-block;
	line-height: rem(18);
	margin-left: rem(20);
	padding: rem(5) 0 rem(5) rem(20);

	&:first-child,
	&:first-of-type {
		border-left: none;
		margin-left: 0;
		padding-left: 0;
	}

	@include media($small) {
		display: block;
	}
}

.site_footer__links-list {
	margin-bottom: 0;
}

.site_footer__links-item {
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.08em;
	margin-bottom: 5px;
	margin-right: 10px;
	text-transform: uppercase;

	&:after {
		content: '|';
		font-weight: 400;
		margin-left: 10px;
	}

	&:last-child {
		margin-right: 0;
		&:after {
			content: '';
			margin-left: 0;
		}
	}

	@include media($small) {
		display: block;
		margin-right: 0;

		&:after {
			content: '';
			margin: 0;
		}
	}
}

.site_footer__content {
	@include clearfix;
	margin-bottom: 25px;
	padding: 30px 0;

	@include media($large) {
		padding-bottom: 30px;
	}

	@include media($small) {
		padding-bottom: 20px;
	}
}

.site_footer__managed {
	display: block;
	margin-bottom: 5px;
}

.site_footer__twitter {
	width: 40px;

	.icon_twitter {
		svg path {
			fill: $white;
		}
	}

	@include media($large) {
		margin-top: 0;
		padding-left: 0;
		position: relative;
			right: auto;
			top: auto;
	}

	@include media($medium) {
		border-left: none;
		margin: 0 auto;
	}

	@include media($small) {
      display: inline-block;
	}
}

.site_footer__facebook {
	width: 40px;
	border-left: none;
	margin-left: 0;

	.icon_facebook {
		svg path {
			fill: $white;
		}
	}

	@include media($large) {
		margin-top: 0;
		padding-left: 0;
		position: relative;
		right: auto;
		top: auto;
	}

	@include media($medium) {
		border-left: none;
		margin: 0 auto;
	}

    @include media($small) {
      display: inline-block;
    }
}

.site_footer__contact-wrapper {

	@include media($large) {
		border-left: none;
		border-right: none;
		padding-right: 0;
	}

	@include media($small) {
		margin-bottom: 15px;
		padding: 0;
		margin-left: 0;
	}
}

.site_footer__contact {
	margin-bottom: 0;
}

.site_footer__contact-item {
	display: inline-block;
	margin-right: 10px;

	&:after {
		content: '|';
		margin-left: 10px;

		@include media($small) {
			content: '';
			margin-left: 0;
		}
	}

	&:last-child {
		margin-right: 0;

		&:after {
			content: '';
			margin-left: 0;
		}

		@include media($x-large) {
			display: block;
		}
	}

	&:nth-last-child(2) {
		@include media($x-large) {
			margin-bottom: 0;
			margin-right: 0;

			&:after {
				content: '';
				margin-left: 0;
			}
		}

		@include media($small) {
			margin-bottom: 5px;
		}
	}

	a {
		color: $yellowgray-neutral-light;
		font-size: rem(20);
		font-weight: 500;

		&:hover {
			color: darken($yellowgray-neutral-light, 10%);
		}
	}

	@include media($x-large) {
		margin-bottom: 5px;
	}

	@include media($small) {
		display: block;
		margin-right: 0;
	}
} // .site_footer__contact-item

.site_footer__download-data {
	letter-spacing: 0.06em;
	margin-top: 5px;

	a {
		color: $yellowgray-light3;
		text-transform: uppercase;

		&:hover {
			color: darken($yellowgray-light3, 10%);
		}
	}

	.download-data {
		color: $yellowgray-light3;
		text-transform: uppercase;

		&:hover {
			color: darken($yellowgray-light3, 10%);
		}
	}

	.icon_download {
		display: inline-block;
		fill: $yellowgray-light3;
		margin-right: 15px;
		vertical-align: middle;

		svg {
			height: rem(21);
			width: rem(24);
		}
	}

	@include media($large) {
		display: block;
		margin-bottom: 5px;
	}
}

/* Newsletter */
.site_footer__newsletter {
	@include clearfix;
	border-bottom: 1px solid $site_footer_border;
	bottom: -100%;
	padding: 0 40px 30px 40px;
	position: relative;
	transition: bottom .4s cubic-bezier(.10, .10, .25, .90);

	@include media($x-large) {
		padding-left: 0;
		padding-right: 0;
	}

	@include media($large) {
		font-size: 22px;
	}

	&.am-stuck {
		background-color: $yellowgray-dark;
		border-bottom: none;
		bottom: -1px;
		left: 0;
		padding-bottom: 15px;
		padding-top: 15px;
		position: fixed;
		right: 0;
		z-index: 9998;

		.main {
			max-width: rem(1200);
			padding: 0 rem(40);
		}
	}

	.main {
		@include clearfix;
		font-size: 0;
		padding: 0;
		text-align: center;
	}
}

.site_footer__newsletter-title {
	color: $yellowgray-light3;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.036em;
	line-height: 1.35em;
	margin-bottom: 0;
	margin-right: 3%;
	padding-left: 3rem;
	text-align: left;
	max-width: 45%;
	position: relative;

	@include media($large) {
		font-size: 22px;
	}

	@include media($medium) {
		margin-right: 5%;
		max-width: none;
		width: 35%;
	}

	@include media($small) {
		margin-bottom: 20px;
		margin-right: 0;
		padding-left: 1.8em;
		width: 100%;
	}

	.am-stuck & {
		font-size: 20px;
	}

	.icon_newsletter {
		left: 0;
		position: absolute;
		top: 0;

		svg {
			fill: $yellowgray-neutral-light;
			height: 35px;
			width: 35px;

			@include media($small) {
				height: 30px;
				width: 30px;
			}
		}
	}

	&.site_footer__newsletter-title--submit {
		line-height: 1.4em;
		margin-right: 0;
		text-align: center;
		width: 100%;

		@include media($small) {
			margin-bottom: 0;
			padding-left: 1.7em;
			text-align: left;
			text-indent: -0.9em;

			.icon_newsletter {
				height: 1.4em;
			}
		}
	}
}

.site_footer__signup {
	display: inline-block;
	max-width: 50%;
	vertical-align: top;

	@include media($medium) {
		max-width: none;
		width: 60%;
	}

	@include media($small) {
		display: block;
		max-width: none;
		text-align: right;
		width: 100%;
	}

	.form-item-email {
		float: left;
		margin: 0 5% 0 0;
		width: 73%;

		@include media($small) {
			margin-bottom: 20px;
			margin-right: 0;
			width: 100%;
		}
	}

	.form-text {
		width: 100%;

		.am-stuck & {
			font-size: 18px;
			padding: 9px 15px;
		}

		&.error {
			margin-bottom: 10px;
		}
	}

	.form-submit {
		-webkit-appearance: none;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		width: 22%;

		.am-stuck & {
			padding: 10px 20px;
		}

		@include media($xx-small) {
			width: 30%;
		}
	}

	.form-item {
		.description {
			font-size: 0.85rem;
			text-align: left;
		}
	}
}

/* Sponsors */
.site_footer__sponsors {
	@include clearfix;
	text-align: center;
}

.site_footer__sponsors-item {
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 5%;
	text-align: center;
	width: 15%;

	&:nth-child(5n) {
		margin-right: 0;
	}

	@include media($medium) {
		margin-right: 5%;
		width: 28%;
	}

	@include media($small) {
		width: 100%;
		margin-right: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
} // .site_footer__sponsors-item

/* sub footer */
.sub_footer {
	@include rem(padding, 45px 0);
	background-color: $sub_footer_background;
	clear: both;
	color: $white;

	@include media($small) {
		padding: 25px 0;
	}
}

.sub_footer-source-title,
.sub_footer-notes-title {
	@include rem(margin-bottom, 10px);
	color: $white;
	margin-top: 0;
	@include neuton;

	@include media($medium) {
		@include rem(font-size, 24px);
	}
	@include media($small) {
		@include rem(font-size, 22px);
	}
}

.sub_footer-notes {
	float: left;
	width: 46%;

	@include media($medium) {
		width: 100%;
	}
}

.sub_footer-source {
	border-right: 1px solid $border-hairline-color;
	box-sizing: border-box;
	float: left;
	margin-right: 4%;
	padding-right: 4%;
	width: 50%;

	@include media($medium) {
		border-bottom: 1px solid $border-hairline-color;
		border-right: none;
		margin-bottom: 20px;
		margin-right: 0;
		padding-bottom: 20px;
		padding-right: 0;
		width: 100%;
	}

	a {
		color: $white;
	}
}

.sub_footer__list {
	li {
		margin-bottom: 10px;

		p {
			&:first-of-type {
				display: inline-block;
				margin: 0;
			}
		}
	}
} // .sub_footer__list

.sub_footer-content {
	@include rem(font-size, 16px);
	font-weight: 300;
	line-height: 1.5em;

	p {
		margin-top: 0;

		@include media($medium) {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include media($small) {
		@include rem(font-size, 14px);
	}
}
