.high_low_avg {
	border-top: 1px dashed $border-color;
	font-size: 12px;
	padding-top: 18px;
}

.high_low_avg-value {
	display: block;
	font-size: rem(14);
	font-weight: 600;
}

.high_low_avg-label {
	color: $high-low-label;
	display: block;
}

.high_low_avg-end_text {
	display: inline-block;

	&:first-child {
		text-align: right;
	}

	&:last-child {
		text-align: left;
	}
}

.high_low_avg-graph {
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	display: inline-block;
	flex-grow: 1;
	height: 15px;
	margin: 0 10px;
	position: relative;

	&:after {
		border-bottom: 1px solid $border-color;
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		top: 50%;
		width: 100%;
	}
}

.high_low_avg-circle_wrapper {
	@include rem(height, 10px);
	@include rem(width, 10px);
	@include rem(margin-top, -7px);
	@include rem(margin-left, -5px);
	left: 100%;
	position: absolute;
	top: 50%;
	z-index: 1;
}

.indicator_box--data_container--no_data .high_low_avg-circle_wrapper {
	display: none;
}

.high_low_avg-circle {
	@include rem(height, 10px);
	@include rem(width, 10px);
	@include rem(margin-top, -5px);
	background-color: $white;
	border-radius: 100%;
	border: 2px solid $orange-neutral;
	display: inline-block;
	position: relative;

	&.neutral {
		border: 2px solid $lightgray;
	}

	&.better {
		border: 2px solid $color-green-good;
	}

	&.worse {
		border: 2px solid $color-red-bad;
	}
}

.high_low_avg-avgline {
	@include rem(height, 20px);
	@include rem(margin-top, -10px);
	border-left: 1px solid $border-color;
	position: absolute;
	left: 25%; // BE can change this
	top: 50%;

	.high_low_avg-label {
		@include rem(bottom, -15px);
		@include rem(left, -20px);
		position: absolute;
	}
}
.high_low_avg-avgtext {
	color: $high-low-label;
}
