.homepage-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    background-color: $lightergray;
    content: "";
    height: 100%;
    position: absolute;
      top: 100%;
    width: 100%;
    z-index: 3;
  }

  // left side angle
  &::before {
    right: 50%;
    transform: rotate(3deg);
    transform-origin: top right;
  }

  // right side angle
  &::after {
    left: 50%;
    transform: rotate(-3deg);
    transform-origin: top left;
  }
}

.homepage-header__gradient {
  background-image: radial-gradient(circle at 50%, rgba(#000, 0.5), rgba(#000, 0.1) 75%, transparent 75%);
  height: 100%;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  width: 100%;
  z-index: 1;
}

.homepage-header__container {
  @include rem(padding, 50px 20px);
  margin: auto;
  max-width: 890px;
  position: relative;
  width: 100%;
  z-index: 2;

  display: flex;

  &::before {
    content: "";
    min-height: 300px;
    width: 1px;

    @include media($large-min) {
      min-height: 430px;
    }
  }
}

.homepage-header__title {
  align-self: center;
  margin-bottom: 20px;
  text-align: center;
  width: calc(100% - 1px);

  @include media($small-min) {
    font-size: rem(40);
  }

  @include media($medium-min) {
    font-size: rem(52);
  }

  @include media($large-min) {
    font-size: rem(62);
  }
}

.homepage-header__title-top,
.homepage-header__title-bottom {
  color: $c-font-inverse;
  line-height: 1.25;
  text-align: center;


  @include media($small-min) {
    display: block;
  }
}

.homepage-header__title-top {
  font-weight: 200;
}

.homepage-header__title-bottom {
  color: $link-blue-light;
}
