﻿.hover-tip {
    background-color: $yellowgray-neutral;
    padding: 5px;
    @include source-sans-pro;
    position: absolute;
    pointer-events: none;
    max-width: 400px;
    display: none;

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $yellowgray-neutral;
        display: block;
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
    }

    .value-label {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        display: block;
        text-align: center;
    }

    .value {
        color: $white;
        font-size: 16px;
        font-weight: 600;
        display: block;
        text-align: center;
    }

    .sub-value {
        color: $yellowgray-light2;
        font-size: 12px;
        font-weight: 600;
        display: block;
        text-align: center;
    }
}
