﻿/* * * * * * * * * *
	Icon, and Fallback Icon, styling
* * * * * * * * * */
.icon {
	display: block;
	background-repeat: no-repeat;

	html.inlinesvg & {
		// remove the fallback image
		// when Inline SVG is supported
		background-image: none;
	}
} // .icon

.icon_svg {
	> svg {
    	width: 1.4em;
		height: 1.4em;
    	vertical-align: top;
    }

    svg {
    	path {
    		fill: $gray-medium;
		}
	}
}

.icon_search {
	@include size(24px);
	background-image: url('/assets/images/icons/fallback/icons_search.png');
} // .icon_search

.icon_trending-down {
	@include size(22px);

	&.icon_red   { background-image: url('/assets/images/icons/fallback/icons_trending-down--red.png'); }
	&.icon_green { background-image: url('/assets/images/icons/fallback/icons_trending-down--green.png'); }
	&.icon_gray,
	&.icon_Grey  { background-image: url('/assets/images/icons/fallback/icons_trending-down--gray.png'); }
} // .icon_trending-down

.icon_trending-up {
	@include size(22px);

	&.icon_red   { background-image: url('/assets/images/icons/fallback/icons_trending-up--red.png'); }
	&.icon_green { background-image: url('/assets/images/icons/fallback/icons_trending-up--green.png'); }
	&.icon_gray,
	&.icon_Grey  { background-image: url('/assets/images/icons/fallback/icons_trending-up--gray.png'); }
} // .icon_trending-up

.icon_facebook svg {
	height: 19px;
}

// icon fill modifications
.icon_red svg path {
	fill: #d63e3e; // red
}
.icon_green svg path {
	fill: #41c560; // green
}
.icon_gray svg path,
.icon_grey svg path {
	fill: $gray-medium; // gray/grey
}

%icon-facebook {
	background-image: url('../assets/images/icons/icons_facebook.svg');
}

%icon-twitter {
	background-image: url('../assets/images/icons/icons_twitter.svg');
}

%icon-google {
	background-image: url('../assets/images/icons/icons_google-plus.svg');
}

%icon-email {
	background-image: url('../assets/images/icons/icons_mail.svg');
}

%icon-print {
	background-image: url('../assets/images/icons/icons_print.svg');
}

%icon-pdf {
	background-image: url('../assets/images/icons/icons_pdf.svg');
}

%icon-image {
	background-image: url('../assets/images/icons/icons_image.svg');
}

%icon-quotes {
	background-image: url('../assets/images/icons/icons_quote.svg');
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
