.indicator_box--box_container {
  @include clearfix;

	@include media($medium) {
    margin-right: -30px;
    margin-left: -30px;
		margin-bottom: 0;
	}
}

.indicator_box {
  border-bottom: 1px solid #e3e3e0; // color isn't a variable
  border-right: 1px solid #e3e3e0; // color isn't a variable
  float:left;
  padding: 16px 23px;
	position: relative;
	width: 32.6325%;

	@include media(min-width 1050px) { // custom breakpoint
		&:nth-child(3n) {
			border-right: none;
		}

		&:nth-child(3n+3) {
      padding-right: 0;
		}

		&:nth-child(3n+1) {
      padding-left: 0;
    }

    &:nth-child(3n-1) {
    	width: 34.724%;;
    }

		&:nth-child(3n+1):last-child,
		&:nth-child(3n+1):last-child~&,
		&:nth-child(3n+1):nth-last-child(2),
		&:nth-child(3n+1):nth-last-child(2)~&,
		&:nth-child(3n+1):nth-last-child(3),
		&:nth-child(3n+1):nth-last-child(3)~& {
			// This 6 lines of selector code is to ensure that the bottom row
			// of the grid doesn't have a border along the bottom.
			border-bottom: none;
		}
	}

	@include media(min-width 800px max-width 1049px) {
		width: percentage(1/2);

		&:nth-child(2n) {
			border-right: none;
		}

		&:nth-child(2n) {
      padding-right: 0;
		}

    &:nth-child(2n+1) {
      padding-left: 0;
    }

		&:nth-child(2n+1):last-child,
		&:nth-child(2n+1):last-child~&,
		&:nth-child(2n+1):nth-last-child(2),
		&:nth-child(2n+1):nth-last-child(2)~& {
			// This 6 lines of selector code is to ensure that the bottom row
			// of the grid doesn't have a border along the bottom.
			border-bottom: none;
		}
	}

	@include media(min-width 801px) {
    min-height: 340px;
	}

	@include media($medium) {
		border-right:none;
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		&:last-child {
			border-bottom: none;
		}
	}

  @include media($small) {
    padding-bottom: 30px;
  }
}

	//bx slider styles
.indicator_box .bx-wrapper {
  padding: 0 25px;
	position: relative;
	margin: 0 auto;

	@include media($x-small) {
    padding: 0 15px;
	}
}

.indicator_box .bx-next,
.indicator_box .bx-prev {
	bottom: 35%;
  height: 18px;
	transition: border-color 0.2s ease;
  width: 18px;

	@include media($small) {
		bottom: 36%;
	}

	&:hover {
		border-color: darken($indicator-slider-arrow-color, 7%);
	}

  &.disabled {
    display: none;
  }
}

.indicator_box .bx-next {
	border-right: 4px solid $indicator-slider-arrow-color;
	border-top: 4px solid $indicator-slider-arrow-color;
	position: absolute;
  outline: 0;
  right: 0;
	text-indent: -9999px;
	transform: rotate(45deg);
}

.indicator_box .bx-prev {
	border-left: 4px solid $indicator-slider-arrow-color;
	border-top: 4px solid $indicator-slider-arrow-color;
	position: absolute;
  left: 0;
	outline: 0;
	text-indent: -9999px;
	transform: rotate(-45deg);
}

.indicator_box--title {
  @include source-sans-pro;
  color: $yellowgray-neutral;
  font-size: 20px;
  font-weight: 700;
  height: 80px;
  line-height: 26px;
  margin-bottom: 20px;
  overflow: hidden;

	@include media($medium) {
		height: auto;
		min-height: 40px;
		overflow: visible;
		padding-right: 40%;
		position: relative;
		width: auto;
	}

	@include media(max-width 750px) {
		float: none;
	}

	@include media($small) {
		font-size: 18px;
		min-height: auto;
		padding-right: 0;
    text-align: center;
		width: 100%;
	}
}

.indicator_box--data_container {
	@include clearfix;
  position: relative;

  @include media($medium) {
    position: static;
  }
}

.indicator_box--data_container-wrapper {
	position: relative;
}

.indicator_box--data_value,
.indicator_box--data_trend {
  margin-bottom: 12px;
  height: 72px;
}

.indicator_box--data_value {
  @include clearfix;
  @include source-sans-pro;
  float: left;
  font-size: 57px;
  font-weight: 300;
  line-height: 38px;
  padding: 10px 0;
  position: relative;
	width: 60%;

  // Category Themes, controlled via SASS MAP in Colors file
  @each $category, $category-color in $color_category {
    .category-color__theme--#{$category} & {
       color: map-get($category-color, font-color);
    }
  }

	@include media(min-width 1151px max-width 1250px) {
		width: 55%;
	}

  @include media(min-width 1050px max-width 1150px) {
		width: 50%;
	}

  @include media(min-width 875px max-width 1049px) {
		width: 60%;
  }

  @include media(min-width 801px max-width 874px) {
		width: 55%;
	}

  @include media(max-width 750px) {
    font-size: 57px;
	}

	@include media($x-small) {
    font-size: 45px;
	}
}

.indicator_box--data_value .indicator_box--data_wrap {
  @include media($small) {
    text-align: center;
  }
}

.indicator_box--data_value .data_value--text,
.indicator_box--data_value .data_value--sub_text {
  position: relative;

  @include media(max-width 750px) {
    float: none;
  }
}

.indicator_box--data_value .data_value--sub_text {
  color: $yellowgray-light2;
  display: none;
  font-size: 16px;
  font-weight: 600;

  @include media(max-width 800px) {
    display: inline;
  }

  @include media(max-width 750px) {
    bottom: auto;
    display: inline-block;
  }
}

.indicator_box--data_trend {
	@include clearfix;
	float: left;
	position: relative;
	width: 40%;

	@include media(min-width 1151px max-width 1250px) {
		width: 45%;
	}

	@include media(min-width 1050px max-width 1150px) {
		width: 50%;
	}

	@include media(min-width 875px max-width 1049px) {
		width: 40%;
	}

	@include media(min-width 801px max-width 874px) {
		width: 45%;
	}
}

.indicator_box--data_trend .data_trend--no_data {
  bottom: 18px;
  position: absolute;
  right: 0;

  @include media($medium) {
    bottom: 27px;
    left: 10px;
    right: 10px;
    text-align: center;
  }
}

.indicator_box--data_trend .ind-sparkline {
  bottom: -10px;
  float: left;

  @include media($small) {
    float: none;
    text-align: center;
  }
}

.indicator_box--data_trend .ind-sparkline .icon {
  bottom: 4px;
  top: auto;
}

.indicator_box--high_low_average {
  display: flex;
	width: 100%;
  height: 47px;
  text-align: left;

	@include media($x-large) {
    margin-bottom: 15px;
		text-align: center;
	}

	@include media($medium) {
		text-align: left;
	}

	@include media(max-width 750px) {
		height: 61px;
	}
} // .indicator_box--high_low_average

.indicator_box--data_point {
	@include media($medium) {
    flex-grow: 1;
		padding: 0 2%;
		margin-bottom: 0;

		&:first-child {
			padding-left: 0;
		}

		&:nth-child(2) {
			width: 25%;
		}

		&:nth-last-child(2) {
			padding-right: 0;
			border: 0;
		}
	} // @include media($medium)

} // .indicator_box--data_point

.indicator_box--explore_link {
	@include source-sans-pro;
	border-top: none;
	border-left: 1px dashed $border-color;
  bottom: 0;
	color: $link_color;
	display: block;
  font-size: 14px;
	font-weight: 700;
  height: 47px;
	letter-spacing: 0.05rem;
	line-height: 1.2em;
  padding-bottom: 6px;
	padding-left: 7%;
  padding-top: 6px;
  position: absolute;
	right: rem(23);
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	width: 30%;

	@include media($x-large) {
		border-left: none;
    border-top: 1px dashed $border-color;
    bottom: auto;
    float: left;
    height: 28px;
    margin-top: 12px;
		padding-bottom: 0;
    padding-top: 10px;
		position: relative;
		right: auto;
		text-align: right;
		width: 100%;
	}

	@include media($medium) {
		border: none;
    bottom: auto;
		display: none;
		position: absolute;
    right: 23px;
		top: 0;
		width: 30%;
	}

	@include media($small) {
    bottom: auto;
		float: none;
		position: relative;
		right: auto;
		text-align: center;
		width: 100%;
	}
}

.indicator_box--explore_link.for-tablet {
  display: none;

  @include media($medium) {
    display: block;
    margin: 0;
    padding: 0;
    right: 0;
    top: 7px;
  }

  @include media($small) {
    display: none;
  }
}

.indicator_box--explore_link.for-mobile {
  display: none;

  @include media($small) {
    display: block;
    margin: 0;
    padding: 0;
    right: 0;
    top: 7px;
  }
}

.indicator_box:nth-child(3n+3) .indicator_box--explore_link {
  right: 0;
}

.indicator_box--no_data {
		@include source-sans-pro;
    margin-bottom: 8px;
		text-align: left;

    @include media($medium) {
      float: left;
      max-width: 55%;
    }

    @include media($small) {
      float: none;
      text-align: center;
      max-width: none;
      width: 100%;
    }
}

.indicator_box--no_data .no_data--title {
  color: $yellowgray-light;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
}

.indicator_box--no_data .no_data--link {
  color: $link_color;
  font-size: 14px;
  font-weight: 700;
}

.indicator_box--badge {
	@include clearfix;
	background-color: rgba(179,232,191,.3);
	border-color: rgba(65,197,96,.4);
	border-style: solid;
	border-width: 1px;
	border-right: none;
	height: rem(39);
	margin-bottom: 1.5rem;
	overflow: hidden;
	padding: rem(10) rem(30) rem(10) rem(10);
	position: relative;

	&:before {
		background-color: #fff;
		border-bottom: none;
		border-color: rgba(65,197,96,.4);
		border-right: none;
		border-style: solid;
		border-width: 1px;
		bottom: 0;
		content: '';
		height: rem(39);
		position: absolute;
		right: rem(-27);
		top: rem(-1);
		transform: rotate(-45deg);
		width: rem(39);
	}
}

.indicator_box--badge__text {
  float: left;
}

.indicator_box--badge__text  h5 {
  color: $element_bg__green;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1;
  margin: rem(2) 0 0;
  text-transform: uppercase;
  vertical-align: top;
}

.indicator_box--badge__link {
  float: right;
}

.indicator_box--badge .icon_star {
  display: inline-block;
  fill: $element_bg__green;
  margin: 0 5px 0 0;
}

.indicator_box--explore_data {
  @include media($medium) {
    float: left;
  }

  @include media($small) {
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100%;
    width: calc(100% - 20px);
  }
}

.indicator_box--explore_data-link {
  border-bottom: 1px dashed $border-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.2em;
  margin-bottom: 12px;
  padding-bottom: 2.3em;
  text-transform: uppercase;

  @include media($medium) {
    border: none;
    margin-bottom: 0;
    margin-top: 12px;
    padding-bottom: 0;
    padding-top: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 30%;
  }

  @include media($small) {
    border-bottom: 1px dashed $border-color;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
  }
}

.indicator_box--exlore_data-learn {
  letter-spacing: 0.026em;
  margin-top: 5px;
  text-align: left;
  width: 100%;

  @include media($medium) {
    border-left: 1px dashed $border-color;
    line-height: 38px;
    margin-left: 30px;
    padding-left: 30px;
    text-align: left;
  }

  @include media($small) {
    border: none;
    line-height: normal;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }
}

.indicator_box--exlore_data-learn a {
  font-size: 14px;
  font-weight: 400;
}
