.stickem-container {
	position: relative;
}

.indicator_sum-wrapper {
	background-color: $white;
	width: 100%;
}

.indicator_sum-title-sticky-wrap {
	background-color: $white;
	border-bottom: 1px solid $border-color;
	position: fixed;
	top: -1000px;
	z-index: 100;
	width: 100%;

	transition: top 0.3s ease;

	.category_box {
		@include rem(padding-top, 20px);
		@include rem(padding-bottom, 20px);
	}

	.indicator_sum-title-sticky {
		@include rem(font-size, 26px);
		margin: 0;
		text-transform: none;
		letter-spacing: 0;
		border: none;
		color: $yellowgray-neutral;
		padding: 0;


		.category-1 & {
			border-color: $category_color_bg_one;
		}
		.category-2 & {
			border-color: $category_color_bg_two;
		}
		.category-3 & {
			border-color: $category_color_bg_three;
		}
		.category-4 & {
			border-color: $category_color_bg_four;
		}
		.category-5 & {
			border-color: $category_color_bg_five;
		}

		@include media($medium) {
			font-size: rem(24);
		}

		@include media($small) {
			font-size: rem(20);
		}
	}
}

.indicator_sum-wrap {
	border-width: 0; // border only visible when sticky
	border-style: solid;
	border-right: none;
	border-left: none;
	border-bottom: none;
	padding-top: 3%;
	padding-bottom: 3%;
	position: relative;

	.category-1 & {
		border-color: $category_color_bg_one;
	}
	.category-2 & {
		border-color: $category_color_bg_two;
	}
	.category-3 & {
		border-color: $category_color_bg_three;
	}
	.category-4 & {
		border-color: $category_color_bg_four;
	}
	.category-5 & {
		border-color: $category_color_bg_five;
	}
} // .indicator_sum-wrap

.sticky-stuck .indicator_sum-wrap {
	border-width: 10px;
}

.indicator_sum {

	.share-toolbar__container ~ & {
		@include span-columns(8);
		float: none;

		@include media($medium) {
			@include span-columns(12);
			float: none;
		}
	}

	@include media($x-small) {
		width: 100%;
	}
}

.indicator_sum-cat {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: .25rem;

	.category-1 & {
		color: $category_color_font_one;
	}
	.category-2 & {
		color: $category_color_font_two;
	}
	.category-3 & {
		color: $category_color_font_three;
	}
	.category-4 & {
		color: $category_color_font_four;
	}
	.category-5 & {
		color: $category_color_font_five;
	}
} // .indicator_sum-cat

.indicator_sum-title {
	@include rem(font-size, 52px);
	line-height: 3.5rem;
	margin-top: 0;
	margin-bottom: 0;
	transition: font-size 0.3s ease;

	@include media($medium) {
		font-size: rem(44);
		line-height: rem(48);
	}

	@include media($small) {
		font-size: rem(36);
		line-height: rem(40);
	}
}

.indicator_summary-wrap {
	margin-bottom: 1.5rem;
	position: relative;
}

.indicator_sum-description {
	@include span-columns(9);
	display: inline-block;
	float: none;
	margin-top: 0;
	vertical-align: top;
    @include rem(font-size, 20px);
    @include rem(line-height, 27px);

	@include media($large) {
		display: block;
		width: 100%;
	}

	@include media($medium-min) {
		@include rem(line-height, 30px);
        @include rem(font-size, 22px);
        float: left;
	}

    transition: font-size 1s, line-height 1s;

    p {
    	&:first-child {
    		margin-top: 0;
    	}
    }
}

.indicator--download_button {
	@include span-columns(3);
	@include rem(font-size, 14px);
	@include rem(line-height, 20px);
	@include rem(max-width, 252px);
	background-color: $download_data__background;
	border: 1px solid $download_data__border;
	color: $download_data__text;
	display: inline-block;
	float: right;
	font-weight: 700;
	letter-spacing: 0.05rem;
	padding: 1.375rem 1.275rem 1.375rem 4.75rem;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;

	.indicator_sum-description ~ & {
		margin-top: rem(35);

		@include media($large) {
			margin-top: 0;
		}
	}

    @include media($large) {
    	position: relative;
    	float: left;
    	width: auto;
    	margin-bottom: 30px;
    }

    @include media($small) {
		width: 100%;
		max-width: 100%;
	}
} // .indicator--download_button

.indicator_download-data .icon_download-data {
    display: inline-block;
    fill: #60b0b9;
    position: absolute;
    top: 32%;
    left: 27px;

    @include media($small) {
    	top: 25%;
    }
}

.indicator_download-data .icon_download-data svg {
    @include rem(height, 30px);
    @include rem(width, 34px);
}
