.indicator_list {
	&-col {
		//border-top: 5px solid $border-color;
		@include span-columns(4);

		@include media($medium) {
			@include span-columns(8);
		}
	}
}

.indicator_list-item {
	&:nth-child(3n) {
		@include omega;
	}

	&:last-child {
		margin-right: 0;
	}

	&.category-1 {
		border-color: $category_color_font_one;
	}
	&.category-2 {
		border-color: $category_color_font_two;
	}
	&.category-3 {
		border-color: $category_color_font_three;
	}
	&.category-4 {
		border-color: $category_color_bg_four;
	}

	@include media($medium) {
		@include span-columns(6);

		&:nth-child(even) {
			@include omega;
		}

		&:nth-child(3n) {
			@include span-columns(6);
		}
	}

	@include media($x-small) {
		@include span-columns(12);
		@include omega;

		&:nth-child(3n) {
			@include span-columns(12);
		}
	}
}

.indicator_list-header {
	color: $yellowgray-neutral;
	font-weight: 700;
	margin: 0 auto 4% auto;
	text-align: center;
	width: 70%;
}

.indicator_list-item-name {
	@include rem(font-size, 20px);
	text-transform: uppercase;
	font-weight: 600;


	.category-1 & {
		color: $category_color_font_one;
	}
	.category-2 & {
		color: $category_color_font_two;
	}
	.category-3 & {
		color: $category_color_font_three;
	}
	.category-4 & {
		color: $category_color_bg_four;
	}
}

.indicator_list-content {
	margin-bottom: 5%;
}

.indicator_list-item-subtitle {
	color: $yellowgray-light;
	margin-top: 0;
}

.indicator_list-item-link {
	@include rem(font-size, 16px);
	@include rem(line-height, 25px);
	@include rem(margin-bottom, 5px);
	color: $link_color;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	width: 100%;

	transition: color 0.2s ease;

	&:hover {
		color: darken($link-color, 15%);
	}
}
