﻿.indicator--country_chart__component {
	@include clearfix;
	@include rem(margin-bottom, 50px)
}



	.indicator--country_chart__sort,
	.indicator--chart__view {
		@include clearfix;
		@include rem(padding-bottom, 20px);

		border-bottom: 2px solid $border-color;

		li {
			@include rem(line-height, 16px);
			float: left;
		}

		.sort_heading {
			@include rem(font-size, 14px);
			color: $yellowgray-light;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .05em;
		}
		.sort_item {
			@include rem(font-size, 16px);
			@include rem(padding, 0 10px);
			font-weight: 700;
			border-right: 1px solid $yellowgray-lighter;
			color: $link_blue;
			cursor: pointer;

			transition: color 0.2s ease;

			&:hover {
				color: $link_blue_hover;
			}

			&:last-child {
				border-right: none;
			}
		} // .sort_item
		.selected {
			color: $yellowgray-neutral;
			cursor: default;
		}
	} // .indicator--country_chart__sort, .indicator--chart__view

	.indicator--country_chart__sort {}

	.indicator--chart__view {
		@include rem(margin-bottom, 30px);
	}

	.indicator--country_chart__table {
		display: table;
		width: 100%;
	}
		.indicator--country_chart__item {
			display: table-row;

			li {
				padding: 10px 25px 10px 0;
				display: table-cell;
				border-bottom: 1px solid $yellowgray-lighter;
				font-size: 0;
				vertical-align: middle;
			} // li

			&:last-child li {
				border-bottom: none;
			}
		} // .indicator--country_chart__item

			.indicator--country_chart__name {
				@include rem(font-size, 26px);
				font-weight: 700;
				color: $yellowgray-neutral;
				position: relative;
				width: 30%;

				@include media($large) {
					@include rem(font-size, 22px);
				}

				.name_tag {
					text-transform: uppercase;
					letter-spacing: .08em;
				}

			} // .indicator--country_chart__name
				.indicator--country_chart__dot {
					@include size(12px);
					background-color: #ee33bb;
					border-radius: 6px;
					content: '';
					display: inline-block;
					margin-right: 15px;
					vertical-align: middle;

					.indicator--chart__country-legend & {
						@include media($large) {
							left: 0;
							position: absolute;
							top: rem(20);
						}
					}
				}

				.indicator--country_chart__country-name {
					display: inline-block;
					font-size: 26px;
					max-width: calc(100% - 66px); // 66 comes from width of close icon and dot
					vertical-align: middle;

					a {
					  color: $yellowgray-neutral;

					  &:hover {
						color: $link_blue_hover;
					  }
					}

					@include media($medium) {
						max-width: calc(100% - 27px);
					}
				}

				.name_tag {
					@include rem(font-size, 13px);
					@include rem(padding, 7px);
					@include rem(margin-left, 15px);
					display: inline-block;
					color: #fff;
					line-height: 1em;

					&.name_tag--green {
						background-color: $element_bg__green;
					}
					&.name_tag--gray,
					&.name_tag--grey {
						background-color: $element_bg__gray;
					}
					&.name_tag--red {
						background-color: $element_bg__red;
					}
				} // .name_tag

			.indicator--country_chart__bar {
				width: 30%;

				@include media($medium) {
					.indicator--country_chart__item  & {
						display: none;
					}
				}

				.chart_bar {
					@include rem(height, 32px);

				  @each $category, $category-color in $color_category {
					.category-color__theme--#{$category} & {
						background-color: map-get($category-color, bg-color);
					} // .category-color__theme--#{$category}

				  } // end @each

				} // .chart_bar
			} // .indicator--country_chart__bar
			.indicator--country_chart__value {
				font-weight: 300;
				text-align: right;
				width: 10%;

				.indicator--country_chart__item & {
					@include rem(font-size, 57px);

					@include media($medium) {
						@include rem(font-size, 39px);
						width: 25%;
					}
				}

				&.value--align_center {
					text-align: center;
				}
				.value--smaller__top,
				.value--smaller__bottom {
					@include rem(font-size, 24px);
					position: relative;
				}
				.value--smaller__top {
					top: -20px;
				}

			  	@each $category, $category-color in $color_category {
					.category-color__theme--#{$category} & {
				  		color: map-get($category-color, font-color);
				}

			  }
			}
			.indicator--country_chart__spark {
				min-width: 150px;
				width: 15%;

				@include media($medium) {
					text-align: right;
					width: 35%;

					.ind-sparkline {
						padding-right: 50px;

						.icon {
							right: 0;
						}
					}
				}

				@include media($small-thin) {
					.indicator--country_chart__item & {
						display: none;
					}
				}
			}
			.indicator--country_chart__remove {
				@include rem(margin-left, 15px);
				display: inline-block;
				vertical-align: middle;

				&.remove_item {
				    @include size(24px);
				    border-radius: 50%;
				    border: solid 2px $border-color;
						content: '';
				    position: relative;
				    cursor: pointer;

				    &:before,
				    &:after {
				        background-color: $border-color;
				        content: '';
				        position: absolute;
				        width: 75%;
				        height: 2px;
				        top: 50%;
				        left: 12.5%;
				        margin-top: -1px;
				    }
				    &:before {
				        transform: rotate(45deg);
				    }
				    &:after {
				        transform: rotate(-45deg);
				    }

					.icon {
						cursor: pointer;
						padding: 10px;
					}
				}

				@include media($medium) {
					display: none;
				}
			} // .indicator--country_chart__remove

	.indicator--country_chart__multi_compare {
		@include rem(font-size, 14px);
		font-weight: 700;
		float: right;
		color: $link_color;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		@include rem(margin-top, 20px);
	}

.indicator--chart {
	margin-bottom: 5%;
	min-height: rem(100);
	position: relative;

	.loading,
	.error {
		background-color: $white;
		bottom: 0;
		font-size: rem(18);
		font-weight: 600;
		left: 0;
		padding: rem(20);
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 2;

		.icon {
			display: inline-block;
			margin-right: rem(5);
			vertical-align: middle;
		}
	}

	.error {
		color: $element_bg__red;
		fill: $element_bg__red;

		svg {
			height: rem(30);
			width: rem(30);
		}
	}

	.indicator--chart__legend {

		@include rem(margin-bottom, 20px);
		text-align: center;

		@include media($large) {
			position: absolute;
		    left: -20px;
		    top: 0;
		    background-color: white;
		    z-index: 10;
		    width: 278px;
		    padding: 20px;
		    border: solid 1px $yellowgray-lighter;

		    left: -278px - 20px;

		    transition: left 0.5s ease-in-out;

			&.is-on {
					left: -20px;
			}
    	}

		.indicator--chart__name {
			@include rem(font-size, 18px);
			@include rem(padding-left, 18px);
			display: inline-block;
			color: $yellowgray-neutral;
			font-weight: 600;
			position: relative;
			margin-bottom: 1%;
			margin-right: 2%;

			@include media($large) {
				display: block;
				text-align: left;
				@include rem(padding-left, 28px);
				@include rem(padding-bottom, 14px);
				@include rem(padding-top, 14px);
				border-bottom: 1px solid $border-color;
			}
		}

		.simple {
			.indicator--chart__name {
				@include media($large) {
					&:last-child {
						border: none;
					}
				}
			}
		}

		.legend {
	        text-align: center;
	        margin-top: 10px;

	        .legend-member {
	            display: inline-block;
	            height: 15px;
	            margin: 0 15px;
	            line-height: 15px;
	            font-size: 13px;
	            vertical-align: middle;

				@include media($large) {
					margin: 0 15px 0 0;
					@include rem(padding-bottom, 14px);
					@include rem(padding-top, 14px);

					@include n-siblings(3n, ".legend-member") {
						display: block;
						margin: 0;
						text-align: left;
					}
				}

	            svg {

	                width: 15px;
	                height: 12px;

	                line {

	                    stroke-dasharray: 5,5;
	                    stroke-width: 2px;
	                    stroke: $yellowgray-dark;

	                    &.percentile-10 {
	                        stroke: $element_bg__red;
	                    }

	                    &.percentile-90 {
	                        stroke: $element_bg__green;
	                    }
	                }
	            }

	            span{
	                margin-left: 6px;
	                text-transform: lowercase;
	            }
        	}
    	}

	}
}
