.indicator-wrapper {
	position: relative;
}

.indicator__actions {
	@include clearfix;
}

.indicator__actions-confidence-intervals {
	float: right;
	font-weight: 400;

	@include media($x-small) {
		display: block;
		float: none;
		margin-bottom: rem(10);
	}

	input[type='checkbox'] {
		display: none;

		&:checked ~ .custom-checkbox:before {
			border-color: $yellowgray-light;
			@include animation(check 0.3s);
		}
	}

	.custom-checkbox {
		border: 1px solid $yellowgray-lighter;
		display: inline-block;
		height: rem(16);
		margin: rem(-2) rem(5) 0 0;
		position: relative;
		vertical-align: middle;
		width: rem(16);

		&:before {
			border-bottom: 2px solid transparent;
			border-left: 2px solid transparent;
			content: '';
			display: block;
			height: rem(5);
			left: 2.5px;
			position: absolute;
			top: 7.5px;
			@include transform(scaleX(1) rotate(-50deg));
			@include transform-origin(left top);
			width: rem(9);
		}
	}
}

@include keyframes(check) {
	0% { width: 0; height: 0; }
	25% { width: 0; height: 2px; }
	50% { width: 2px; height: 5px; }
	75% { width: 7px; }
	100% { width: 9px; }
}