
/**********
    Indicator Library Styles
**********/
.indicator-library {
    margin-top: 3em;

    @include media($small) {
        margin-top: 2em;
    }

    .indicator_boxes {
        @include clearfix;
        @include rem(margin-bottom, 30px);
    }

    .indicator_box {
        border-top: 2px solid #e3e3e0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        min-height: 0;
        padding: 1rem 0;
        width: 48%;

        &:first-child,
        &:nth-child(2) {
            border-top-width: 0;
        }

        &:nth-child(2n+1) {
            clear: left;
            margin-right: 4%;
        }

        @include media($small) {
            margin: 0;
            width: 100%;

            &:nth-child(2) {
                border-top-width: 2px;
            }
        } // @include media($small)
    } // .indicator_box

    .indicator_box--title {
        float: none;
        height: auto;
        margin-bottom: 10px;
        width: auto;
        @include rem(font-size, 26px);
        @include rem(line-height, 36px);

        + .indicator_box--item {
            .node-indicator-library & {
                border-top: none;
                padding-top: 0;
            }
        }

        @include media($small) {
            text-align: left;
        }
    } // .indicator_box--title

    .indicator_box--item {
        border-top: 1px solid #e3e3e0;
        padding: 1em 0;
        @include rem(font-size, 16px);
        @include rem(line-height, 24px);

        a {
          font-weight: 700;
        }

        h3 {
            margin: 0 0 .5em;
            @include rem(font-size, 22px);
            @include neuton;
        }

        p {
            margin: 0 0 1em;
            @include rem(font-size, 16px);
            @include rem(line-height, 24px);

            &:last-child {
                margin: 0;
            }
        } // p

        ol,ul {
            margin: 0 0 1em;
            padding: 0 0 0 2em;

            &:last-child {
                margin: 0;
            }
        } // ol, ul

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: disc;
        }

        li {
            margin: 0 0 .25em;

            &:last-child {
                margin: 0;
            }
        } // li

        &:first-child {
            border-top: 0;
        }
    } // .indicator_box--item

    .show-more {
        float: right;
        font-weight: 700;
        padding-right: 25px;
        position: relative;
        text-transform: uppercase;
        letter-spacing: .05em;

        &:before,
        &:after {
            background-color: $link_blue;
            content: '';
            height: 2px;
            position: absolute;
            width: 7px;
            top: 50%;
            margin-top: -2px;

            transition: transform .3s ease, margin-top .3s ease;
        }

        &:before {
            right: 10px;
            transform: rotate(-45deg);
        }

        &:after {
            right: 5px;
            transform: rotate(45deg);
        }

        &.is-off {
            &:before,
            &:after {
                margin-top: 0;
            }
            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        } // &.is-on
    } // .show-more
} // .indicator-library


.indicator_library_header {
    @include span-columns(8);
    color: $yellowgray-neutral;

    @include media($medium) {
        @include span-columns(12);
        float: none;
        margin-top: 0;
    }

    .indicator_library_header-title {
        margin-bottom: 0.5em;
    } // .indicator_library_header-title
} // .indicator_library_header

.node-indicator-library {
    clear: both;

    .field-type-text-with-summary {
        p {
            @include neuton;
            transition: font-size 1s,line-height 1s;
            @include rem(font-size, 20px);
            @include rem(line-height, 27px);

            @include media($medium-min){
                @include rem(font-size, 22px);
                @include rem(line-height, 30px);
            }
        }
    }

    .category_box {
        border-top-width: 10px;
    }
}
