.landing-hero {
    @include media($medium-min) {
        display: flex;
    }
}

.landing-hero__title {
    font-weight: 400;

    @include media($medium-min) {
        margin: 60px 48px 0 0;
        width: 22.079%;
    }

    @include media($large-min) {
        font-size: 46px;
        line-height: 58px;
    }
}

.landing-hero__content {
    @include media($medium-min) {
        width: 75%;
    }
}

.landing-hero__media {
    img {
        display: block;
    }
}

.landing-hero__copy {

    @include media($small-min) {
        display: flex;
        justify-content: space-between;
        margin-top: -85px;
    }

    @include media($large-min) {
        width: 85.057%;
    }
}

.landing-hero__summary {
    background-color: $yellowgray-lightest;
    color: $yellowgray-neutral-dark;
    font-size: 18px;
    line-height: 28px;
    padding: 35px 55px 35px 35px;

    @include media($small-min) {
        width: 68.078%;
    }

    p {
        margin-top: 0;
    }
}

.landing-hero__cta {
    background-color: $yellowgray-dark;
    padding: 30px 1.5em;
    position: relative;

    @include media($small-min) {
        width: 28.138%;
    }

    a {
        font-size: 2em;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.3px;
        word-wrap: break-word;

        &:after {
            content: "\2192";
            display: block;
            font-size: 50px;
            margin: 15px 0;
            text-align: right;
        }
    }

    &:after {
        background-color: $link_blue;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
}
