﻿.linear_chart--component {
    width: 100%;
    display: block;
    position: relative;

    svg {

        text {
            @include source-sans-pro;
            font-size: 13px;
            fill: $yellowgray-neutral;
            font-weight: 600;
        }

        g.element {

          rect.dot {
              fill: #b4b2ac;
              stroke-width: 0;
              opacity: .7;
          }

          &.hover {
              rect.dot {
                fill: $yellowgray-lightest !important;
                stroke-width: 2px;
                stroke: #b4b2ac;
              }

              g.confidence-interval{
                line, circle {
                  stroke: $yellowgray-light2;
                }
              }
          }

          &.active {
            rect.dot {
              opacity: 1;
            }
          }

          g.confidence-interval {
            line {
              stroke-width: 1px;
              stroke: $yellowgray-neutral;
            }

            circle {
              fill: $yellowgray-neutral;
            }
          }
        }

        g.region {
            rect {

                &.even {
                    fill: $yellowgray-lightest;
                }

                &.odd {
                    fill: $white;
                }
            }

            text {
                text-anchor: start;
                text-transform: uppercase;
                font-size: 14px;
                fill: $yellowgray-light2;
                letter-spacing: .05em;
            }

            line {
              stroke-width: 1px;
              stroke: $yellowgray-lighter;
              shape-rendering: crispEdges;
            }
        }

        g.benchmark {

            line {
                stroke-dasharray: 5,5;
                stroke-width: 2px;
                stroke: $yellowgray-dark;

                &.percentile-10 {
                    stroke: $element_bg__red;
                }

                &.percentile-90 {
                    stroke: $element_bg__green;
                }
            }

            text {
                text-anchor: middle;
                text-transform: lowercase;
            }
        }

        .xAxis {
            path {
                stroke-width: 1px;
                stroke: $yellowgray-lighter;
                fill: none;
                shape-rendering: crispEdges;
            }

            line {
                stroke-width: 1px;
                stroke: $yellowgray-lighter;
                fill: none;
                shape-rendering: crispEdges;
            }
        }

        &.bar {
            .xAxis {
                path {
                    stroke: none;
                    fill: none;
                }
            }

            g.element {
              &.hover {
                rect.dot {
                  fill: $yellowgray-lightest !important;
                  stroke: none;
                }

                g.confidence-interval{
                  line {
                    stroke: $yellowgray-light2;
                  }
                }
              }
            }
        }
      }
}
