.node-article {
	&-list_view {

		&:hover {
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left,  #ffffff 0%, #f1efec 50%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#f1efec), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #ffffff 0%,#f1efec 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #ffffff 0%,#f1efec 50%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #ffffff 0%,#f1efec 50%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(to right,  #ffffff 0%,#f1efec 50%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

			h3 {
				a {
					color: #4697a0;
				}
			}

		}

		.list-view {
			&_item {
				border-bottom: 1px solid $border-color;
    			padding-top: 30px;
    			padding-bottom: 30px;
    			overflow: hidden;

    			&:hover {
    				h3 {
						color: $link_blue_hover;
    				}
    			}

				h3 {
					@include rem(line-height, 30px);
					margin-bottom: 6px;

					a {
						color: $yellowgray-neutral;
					}
				}

				.image-container {
					float: right;
					width: 23%;

					@include media($small) {
						width: 100%;
						float: none;
					}

					img {
						float: right;
						height: auto;

						@include media($small) {
							display: none;
						}
					}
				}
			}

			&_info {
				float: left;
				padding-left: rem(20);
				width: 73%;

				@include media($medium) {
					padding: 0;
				}

				@include media($small) {
					float: none;
					width: 100%;
				}

				.content-type {
					letter-spacing: .08em;
				    font-weight: 600;
				    @include rem(font-size, 14px);
				    @include rem(line-height, 19px);
				    margin-bottom: 5px;
				    margin-top: 0;

				    &.icon_grey {
				    	color: $gray-medium;	
				    }

				    @include media($medium) {
						margin-left: 19px;
					}
				}

				.submitted {
					color: $yellowgray-lighter;
					@include neuton;
					@include rem(font-size, 18px);
				}

				.summary-container {
					margin-top: 25px;
					color: $yellowgray-neutral;
    				font-weight: 400;

    				p {
    					@include rem(font-size, 16px);
    					@include rem(line-height, 26.4px);
    				}
				}
			}

			&_category {
				margin-left: rem(-20);
				margin-bottom: rem(4);
			}
		}
	}
}

.view {
	.node-article-list_view {
		&.main {
			padding: 0;
		}
	}
}