.masthead_image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: $white;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.masthead_image__overlay {
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.25) 100%);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
  top: 0;
}

.masthead {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: $max-width;
	padding: 90px 20px 82px 20px;
	position: relative;
	z-index: 3;

	@include media($small) {
		padding: 80px 20px 50px 20px;
	}

}

.masthead__trailblazer {
	margin: -90px auto 50px;
	width: 125px;
}

.masthead__trailblazer-content {
	background-color: rgba($purple-dark, 0.9);
	height: 105px;
	margin: 0 auto;
	padding-top: 28px;
	width: 125px;

	span {
		@include source-sans-pro;
		color: $white;
		display: block;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.6px;
		line-height: 18px;
		margin-top: 5px;
		text-transform: uppercase;
	}

	svg {
		fill: $white;
	}
}

.masthead__trailblazer-tails {
	height: 20px;
	overflow: hidden;
	position: relative;

	&::after,
	&::before {
		background-color: rgba($purple-dark, 0.9);
		content: "";
		height: 50px;
		position: absolute;
			bottom: 100%;
		width: 100%;
	}

	&::before {
		right: 50%;
		transform: rotate(-15deg);
		transform-origin: bottom right;
	}

	&::after {
		left: 50%;
		transform: rotate(15deg);
		transform-origin: bottom left;
	}
}

.masthead_description {
	width: 46%;
	text-align: center;
	display: inline-block;

	@include media($medium) {
		width: 100%;
	}
}

.masthead_title {
	margin-top: 0;
}

.masthead_country {
	color: $white;
	font-size: 64px;
	margin: 0;

	@include media($medium) {
		font-size: 54px;
	}
}

.masthead_country-text {
	@include neuton;
	display: none;
	font-size: 26px;
	line-height: 1.5em;
	margin: 0;
}

.node-tags {
	@include span-columns(6 of 12);
	margin-right: 0;

	@include media($medium) {
		@include span-columns(12);
		margin-bottom: 30px;
	}
}

.masthead_tags {
	@include clearfix;
	margin: 0;
	padding: 0;

	@include media($medium) {
		margin-top: 25px;
	}
}

.node-type-country .masthead_tags {
	margin-top: 25px;
}

.masthead_tags--more {
	clear: both;
	display: none;
	margin-top: 0px;
}

.masthead_tag {
	@include source-sans-pro;
	background-color: rgba(48, 45, 35, 0.9);
	color: white;
	display: inline-block;
	font-size: 18px;
	line-height: 30px;
	margin: 0 5px 10px 5px;
	padding: 4px 12px;

	@include media($small){
		font-size: 16px;
		line-height: 24px;
	}
}

.article_top .masthead_tag {
	background-color: rgba(96,176,185,0.3);

	&:after {
		background-color: rgba(96,176,185,0.3);
	}
}

.masthead_tag--morelink,
.masthead_tag--lesslink {
	font-size: rem(13);
	font-weight: 600;
	padding-top: 4px;
	text-transform: uppercase;
	margin-right: 0;

	.article_top & {
		background-color: transparent;
	}

	&:before,
	&:after {
		display: none;
	}

	a {
		font-weight: 600;
		letter-spacing: .05em;
		padding-right: 15px;

		&:hover {
			cursor: pointer;
		}

		&:after {
			content: '';
			border-top: 2px solid $link_blue;
			border-right: 2px solid $link_blue;
			display: inline-block;
			height: .5em;
			margin-right: 5px;
			position: absolute;
			right: 0;
			top: 5px;
			transform: rotate(135deg);
			transition: transform 0.3s ease;
			width: .5em;
		}
	}
}

.masthead_tag--lesslink a::after {
	@include rem(top, 10px);
	transform: rotate(-45deg);
}

.masthead_tag a {
	font-weight: normal;
}

.masthead_chart {
	float: left;
	margin-right: 0;

	@include media($medium) {
		text-align: center;
		width: 100%;
	}
}

/* Homepage masthead */
.homepage_masthead-image {
	background-position: center center;
	background-size: cover;
	padding: 5% 0;
	position: relative;
	//margin-bottom: rem(30); //due to PHCPI-660
	z-index: 2;

	&:before {
		background-color: $masthead-overlay-color;
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
}

.homepage_masthead {
	color: $white;
	position: relative;
	text-align: center;
	z-index: 3;
}

.homepage_masthead-copy {
	//margin-bottom: 7%;
}

.homepage_masthead-title {
	@include rem(font-size, 64px);
	@include rem (margin, 0 auto 30px auto);
	color: $white;
	font-weight: 100;
	width: 82%;

	@include media($large) {
		@include rem(font-size, 42px);
	}

	@include media($x-small) {
		@include rem(font-size, 36px);
		width: 100%;
	}
}

.homepage_masthead-subtitle {
	color: $white;
	margin: 0 auto;
	width: 65%;
}

.homepage_masthead-cta {
	margin-top: rem(20);
	text-align: center;
}

.homepage_masthead-select {
	border: 1px solid $border-color;
	margin: 0 auto;
	width: 80%;

	&.compare_countries--component {
		background-color: rgba(255,255,255,0.2);
		padding: 3%;

		@include media($medium) {
			.drawer_content--section_divider {
				width: 100%;
			}
		}
	}

	.homepage_masthead-select-title {
		@include category-name;
		color: $white;
		font-weight: 400;
		letter-spacing: 0.05em;
	}

	.drawer_content--form {
		margin-bottom: 0;
	}

	.drawer_content--section_divider__text {
		background-color: transparent;
		color: $white;
	}

	.drawer_content--section_divider {
		&:before {
			width: 25%;
		}

		&:after {
			@include rem(height, 1px);
			@include rem(margin-top, 1px);
			width: 25%;
			content: '';
			background-color: $border-color;
			position: absolute;
			top: 50%;
			right: 0;
		}

		@include media($medium) {
			&:before,
			&:after {
				width: 45%;
			}
		}
	}
}
