/* Compare Legend Special Scripting Classes, trigger and body */
.mobile-legend--trigger {
    @include source-sans-pro;
    @include rem(font-size, 14px);
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    color: $yellowgray-light;
    display: block;
    position: absolute;
    left: -44px;
    top: 34px;
    z-index: 5;
    border: solid 1px $yellowgray-lighter;
    display: inline-block;
    padding: 3px 10px 5px;
    text-transform: uppercase;
    letter-spacing: .05em;
    transform: rotate(-90deg);

    @include media($large-min) {
        display: none;
    }
} // .compare-legend--trigger

.mobile-legend--trigger--internal {
    @include size(24px);
    border-radius: 50%;
    border: solid 2px $border-color;
    content: 'hi';
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;

    &:before,
    &:after {
        background-color: $border-color;
        content: '';
        position: absolute;
        width: 75%;
        height: 2px;
        top: 50%;
        left: 12.5%;
        margin-top: -1px;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }

    @include media($large-min) {
        display: none;
    }
} // .compare-legend--trigger--internal;


.compare-chart--legend {
    .remove_item {
        @include size(24px);
        border-radius: 50%;
        border: solid 2px $border-color;
        content: 'hi';
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        margin-left: 10px;

        &:before,
        &:after {
            background-color: $border-color;
            content: '';
            position: absolute;
            width: 75%;
            height: 2px;
            top: 50%;
            left: 12.5%;
            margin-top: -1px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        @include media($large) {
            display: none;
        }
    } // .remove-item    
}