// this file is based off of the frontend-storybook modal component
// https://github.com/Velir/frontend-storybook/blob/master/client/js/components/Modal/modal.scss

$z-modal: 900;

$modal-background: #cfe3e7;
$modal-close: $link_blue;
$modal-close-hover: $link_blue_hover;
$modal-content-width: 980px;

// add this class to the body when the modal is open
// it will prevent the body from scrolling when the end of the scroll for the modal is reached
body.modal-open {
  overflow: hidden;
}

// JavaScript to delay the opening until page scroll
// JavaScript will remove this class on scroll
.js-modal-scroll-open {

  .modal,
  &.modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; // so the user can't click it as it's fading away

    .modal__box {
      transform: translateY(18px);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;
  transition: all 250ms;
  visibility: visible;
  z-index: $z-modal;

  // when it's hidden
  &:not(.is-open) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; // so the user can't click it as it's fading away

    .modal__box {
      transform: translateY(18px);
    }
  }

}

.modal__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.7);
  transition: inherit;
  cursor: pointer;

  .modal--white & {
    background-color: rgba(white, 0.8);
  }
}

.modal__box-holder {
  position: relative; // so the overlay knows how big it should be
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  min-height: 100%;
  padding: 35px 0;
  transition: inherit;
}

.modal__box {
  position: relative;

  // vertically center the box
  margin: auto;

  max-width: $max-width;
  padding: 50px;
  padding-left: 20px;
  position: relative;
  width: 100%;

  color: #333;

  background-color: $modal-background;
  border: 1px solid #ddd;
  border-radius: 0px;

  transform: translateY(0);
  transition: inherit;

  @include media($small-min) {
    padding-right: 70px;
  }

  &--narrow {
    max-width: 600px;

    @include media($small-min) {
      padding: 50px 70px 15px;
      text-align: center;
    }
  }

  .modal--white & {
    box-shadow: 0 11px 19px rgba($yellowgray-neutral-light, 0.5);
    border: 2px solid $yellowgray-neutral-light;
    background-color: white;
  }
}

.modal__container {
  margin: 0 auto;
  max-width: $modal-content-width;
}

.modal__title {
  margin-bottom: 24px;
  position: relative;

  font-size: 18px;
  font-weight: bold;
  // line-height: 22px;
  text-align: left;
}

.modal__title--large {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.15;

  @include media($small-min) {
    text-align: center;
  }
}

.modal__content {
  font-size: 16px;
  margin-bottom: 24px;

  p {
    margin-bottom: 1.5em;
  }
}

.modal__cta {
  margin-bottom: 50px;
}

.modal__columns {

  @include media($medium-min) {
    display: flex;
    margin: 0 -30px;
  }
}
.modal__column {
  
  @include media($medium-min) {
    flex: auto;
    margin: 0 30px;
    width: 50%;
  }
}

.modal__close {
  position: absolute; // for z-index
  right: 20px;
  top: 20px;
  padding: 6px;
  line-height: 0;

  background-color: $modal-close;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;

  z-index: 1; // to go above .modal__title

  @include media($small-min) {
    height: 50px;
    padding: 12px;
    width: 50px;
  }

  &:focus,
  &:hover {
    background-color: $modal-close-hover;
  }

  .modal--white & {
    background-color: $purple-dark;

    &:focus,
    &:hover {
      background-color: lighten($purple-dark, 10);
    }
  }

  svg {
    fill: #fff;
    height: 100%;
    width: 100%;
  }

}
