.nav_drawer {
	@include clearfix;
	display: none; // hidden by default
	margin-bottom: rem(25);
	padding: 0;
	width: 100%;
}

.drawer_content--container {
	@include clearfix;
	display: none;
	padding: 0;
}

.drawer_content--form {
	background-color: $white;
	border: 1px solid $yellowgray-lighter;
	color: $base-font-color;
	margin: 0 auto;
	padding: 13px 54px 11px 19px;
	position: relative;
	transition: margin-bottom 0.3s;
	width: 100%;

	@include media($x-small) {
		padding: 7px 54px 7px 19px;
	}
}

.drawer_content--form.disabled {
	opacity: .6;
}

// type-ahead overlay on input
.drawer_content--form .twitter-typeahead {
	display: block!important;
}

.drawer_content--form.select_container {
	overflow: hidden;
}

.drawer_content--form.select_container .icon_holder {
	margin-top: -9px;
	position: absolute;
	right: 15px;
	top: 50%;
	z-index: 1;
}

.drawer_content--form.select_container svg path {
	fill: $yellowgray-light;
}

.drawer_content--search_input,
.drawer_content--select_input {
	background: transparent;
	border: none;
	color: $gray-medium;
	font-size: 20px;
	margin: 0;
	padding: 0;
	width: 100%;

	@include media($x-small) {
		font-size: 14px;
	}

	&:focus {
		color: $base-font-color;
		outline: 0;
	}
}

.drawer_content--button_submit {
	border: none;
	background-color: transparent;
	height: 24px;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 13px;
	width: 24px;

	@include media($x-small) {
		 top: 5px;
	}

	&:focus {
		outline: 0;
	}
}

.drawer_content--button_submit .icon_search {
	height: 17px;
	width: 17px;
}

.drawer_content--button_submit .icon_search svg {
	height: 17px;
	width: 17px;
}

.drawer_content--select_input {
	color: #a9a9a9; // not an existing color variable
	left: -19px;
	margin-right: 0;
	padding-left: 19px;
	position: relative;
	width: calc(100% + 90px);
	z-index: 2;

	@include media($small) {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.drawer_content--select_input option,
.drawer_content--select_input optgroup {
		color: $base-font-color;
}

// Drawer Content Section Divider
.drawer_content--section_divider {
	@include rem(margin-bottom, 36px);
	position: relative;
	text-align: center;

	&:before {
		@include rem(height, 1px);
		@include rem(margin-top, 1px);
		content: '';
		background-color: $yellowgray-lighter;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
	}
} // .drawer_content--section_divider

.drawer_content--section_divider__text {
	@include rem(padding, 0 15px);
	@include neuton;
	@include rem(font-size, 20px);
	background-color: $yellowgray-lightest;
	color: $yellowgray-neutral;
	display: inline-block;
	font-style: italic;
	letter-spacing: 0.02em;
	position: relative;
	z-index: 5;
} // .drawer_content--section_divider__text

// Options List
.options_list--container {
	@include clearfix;

	@include media($large-wide) {
		display:none;
	} // @include media($large-wide)
} // .options_list--container

.options_list--menu {
	@include rem(padding-right, 15px);
	margin: 0;
	float: left;
	width: percentage(1/4);

	li {
		@include neuton;
		@include rem(font-size, 22px);

		border-top: 1px solid $yellowgray-lighter;
		cursor: pointer;
		padding: 6% 0;

		transition: font-size 0.3s, height 0.3s;

		&:first-child {
			border-top: none;
		}

		&.selected {
			@include background-image(linear-gradient(to right, $yellowgray-lightest, $yellowgray-lighter));
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1efec', endColorstr='#d1d0cc', GradientType=1);
			position: relative;
			cursor: default;

			&:after,
			&:before {
				border-left: 1px solid $yellowgray-lighter;
				content: '';
				position: absolute;
				width: 25px;
				height: 100%;
				left: 100%;
			}

			&:after {
				@include background-image(linear-gradient(to bottom right, $yellowgray-lighter 0%, $yellowgray-lighter 50%, $yellowgray-lightest 50%, $yellowgray-lightest 100%));
				background-color: $yellowgray-lightest;
				top: 0;
			}

			&:before {
				@include background-image(linear-gradient(to bottom left, $yellowgray-lightest 0%, $yellowgray-lightest 50%, transparent 50%, transparent 100%));
				background-color: transparent;
				bottom: 0;
				z-index: 2;
			}
		} // &.selected

		@include media(max-width 1100px) {
			@include rem(font-size, 20px);
			@include rem(line-height, 60px);
			@include rem(height, 60px);

			&.selected:after {
				border-top: 30px solid transparent;
				border-bottom: 30px solid transparent;
			}
		} // @include media(max-width 1100px)
		@include media(max-width 1000px) {
			@include rem(font-size, 18px);
			@include rem(line-height, 58px);
			@include rem(height, 58px);

			&.selected:after {
				border-top: 29px solid transparent;
				border-bottom: 29px solid transparent;
			}
		} // @include media(max-width 1000px)
		@include media(max-width 900px) {
			@include rem(font-size, 16px);
			@include rem(line-height, 56px);
			@include rem(height, 56px);

			&.selected:after {
				border-top: 28px solid transparent;
				border-bottom: 28px solid transparent;
			}
		} // @include media(max-with 900px)
	} // li
} // .options_list--menu

.options_selection--options_list {
	float: left;
	width: percentage(3/4);
	padding-left: 6%;
	display: none;

	.options_list {
		width: 100%;
	}

	&.options_list--three_column {
		.options_list {
			width: percentage(1/3);
		}
	} // &.options_list--three_column
} // .option_selection--options_list
	.options_list {
		float :left;
		margin: 0;
		padding: 0 1%;

		li {
			@include rem(margin-bottom, 5px);
		}
		a {
			@include rem(font-size, 16px);
			@include rem(line-height, 26px);
			font-weight: 700;
			color: $link_color;
			text-decoration: none;

			transition: font-size 0.3s, line-height 0.3s;

			&:hover {
				text-decoration: underline;
			}

			@include media(max-width 900px) {
				@include rem(font-size, 14px);
				@include rem(line-height, 22.75px);
			} // @include media(max-width 900px)
		} // a {}
	} // options_list

.compare_countries--component {
	@include clearfix;
	@include rem(padding, 25px 0);
	@include rem(margin-bottom, 50px);
	background-color: $yellowgray-lightest;

	.collapsible--trigger {
		@include media($small) {
			display: none;
		}
	}


	h2 {
		margin-top: 0;
		color: $yellowgray-neutral;
		font-weight: 600;
	}
	h6 {
		color: $yellowgray-neutral;
		font-weight: 400;
	}

	.drawer_content--form {
		float: left;
		width: 43%;

		@include media($large-wide) {
			float: none;
			width: 100%;
			display: block;
		} // @include media($large-wide)
	} // .drawer_content-form
	.drawer_content--section_divider {
		float: left;
		width: 10%;
		margin: 14px 2% 0 2%;

		@include media($large-wide) {
			display: block;
			float: none;
			margin: 1em auto;
		} // @include media($large-wide)
	} // .drawer_content--section_divider
} // .compare_countries--component

.selected_items--component {
	@include rem(margin-top, 25px);

	ul {
		margin: 0;
	}
	li {
		@include rem(margin, 0 10px 12px 0);
		@include rem(font-size, 18px);
		font-weight: 600;
		display: inline-block;
		border: 2px dashed $border-color;
		color: $yellowgray-neutral;
		position: relative;
        background-color: $white;
        padding: 0.2rem 0 0.2rem 0.35rem;

        @include media($large-wide) {
        	@include rem(font-size, 17px);
        }

        @include media($small) {
        	@include rem(font-size, 16px);
        }
	}

	.remove_item {
		display: inline-block;
		border: 0;
		background: none;
	}

	.selected_items--title {
		@include clearfix;
		@include rem(margin, 0 0 15px 0);
		@include rem(font-size, 22px);

		@include media($large-wide) {
			@include rem(font-size, 20px);
		}

        @include media($small) {
            display: none;
        }
	}
	.selected_items--clear_all {
		@include rem(font-size, 14px);
		@include source-sans-pro;
		font-weight: 700;
		color: $link_blue;
		text-decoration: none;
        cursor: pointer;
		float: right;

		&:hover {
			color: $link_blue_hover;
		}
	}

    .name_tag {
		@include rem(font-size, 11px);
		@include rem(padding, 3px);
		@include rem(margin-left, 5px);
		@include rem(margin-right,0);
		@include rem(margin-top,-5px);

        vertical-align: middle;
        text-transform: uppercase;
        letter-spacing: .08em;

		display: inline-block;
		color: #fff;
		line-height: 1em;

		&.name_tag--green {
			background-color: $element_bg__green;
		}

		&.name_tag--gray,
		&.name_tag--grey {
			background-color: $element_bg__gray;
		}

		&.name_tag--red {
			background-color: $element_bg__red;
		}
	} // .name_tag
} // .selected_items--component

.options_columns--component {
	@include clearfix;

	@include media($large-wide) {
		display: none;
	}

	.column__container {
		float: left;
		width: (93.332% / 3);
		margin-left: 3.334%;

		&:first-child {
			margin-left: 0;
		}
	} // .column__container

	.list__container {

		&:first-child {
			margin: 0 0 50px;
		}
	} // .list__container

	.list__title {
		@include source-sans-pro;
		font-size: rem(20);
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
	} // .list__title

	.menu__list {

		li {
			margin: 0 0 14px;

			&:last-child {
				margin: 0;
			}
		} // li

		a {
			font-size: rem(16);
			font-weight: bold;
		}
	} // .menu__list
} // .options_columns--component
