.show-navigation-panel {
  .tabs.primary {
    text-align: right;
  }

  .breadcrumb-social-bar {
    margin: 0;
    height: 0;

    .block--breadcrumb {
      display: none;
    }

    .block--share-bar {
      margin-top: 60px;
      z-index: 1;
      position: relative;

      @include media($large-wide) {
        margin-top: 40px;
      }

      @include media($medium) {
        margin-top: 15px;
      }

      @include media($x-small) {
        margin-top: 0;
      }

      @include media(min-width 641px max-width 800px) {
        .share-toolbar__list-item {
          margin: 0 7%;
        }
      }
    }
  }

  &.logged-in {
    .breadcrumb-social-bar {
      top: 45px;
    }
  }

  h1 {
    margin-top: 65px;
  }

  @include media($large-min){
    .landing-hero__title {
      margin-right: 0;
      font-size: 30px;
      width: 35.079%;
    }
  }

  .navigation-panel-wrapper {
    display: block;
  }

  .site_footer {
    position: relative;
    z-index: 3;
  }

  section {
    &:not(.site_header):not(#navigation-panel):not(.site_footer__newsletter):not(.site_footer__content) {
      .main:not(article) {
        &:first-of-type {
          padding-left: calc(16% + 20px);
          @include media($small){
            padding-left: 40px;

            &.view-display-id-node_header {
              padding-left: 0;
              margin-left: 29px;
            }
          }

          @include media(min-width 1600px) {
            padding-left: 275px;
          }
        }
      }

      .sub-domain-tabs__tabs {
        .main:first-of-type {
          @include media($small) {
            padding-left: 22px;
          }
        }
      }

      .sub-domain-tabs__contents.main {
        .sub-domain-tabs__content {
          .component--accordion {
            .main:first-of-type {
              @include media($small) {
                padding-left: 0;
                margin-left: 20px;
                margin-right: -20px;
              }
            }
          }
        }
      }

      article {
        .main:not(article) {
          &:first-of-type {
            @include media($small-min){
              padding-left: calc(16% + 10px);
            }

            @include media(min-width 1300px){
              padding-left: calc(17% + 30px);
            }

            @include media(min-width 1500px) {
              padding-left: 255px;
            }
          }
        }

        @include media($small) {
          .component--facet-card-listing {
            margin-right: -20px;

            .main {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }

  .landing-hero__copy {
    @include media($large-min) {
      width: 98.057%;
    }
  }

  .landing-hero__summary {
    @include media($small-min) {
      width: 58.078%;
    }
  }

  .landing-hero__cta {
    @include media($small-min) {
      width: 38.138%;
    }
  }

  .card--improvement-strategies,
  .card--card-listing {
    @include media($large-min) {
      width: calc(100%/3 - 25px);
    }
  }

  .view-display-id-node_header {
    @include media($x-large-min){
      padding-right: 183px;
    }
    .sidebar-header__content {
      max-width: 100%;
    }
  }

  @include media($xx-large) {
    .promotional-items__image {
      padding-left: 0;
    }
  }
}

.navigation-panel-wrapper {
  display: none;
  width: 16%;
  max-width: 255px;
  position: absolute;
  margin-left: 220px;
  height: 100vh;
  z-index: 3;
  background: $nav_panel_background;
  margin-left: -1000%;

  &.fixed {
    position: fixed;
    top: 0;
  }

  .component {
    padding: 10px 0;

    .main-container {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 85vh;
      padding: 0 10px;
    }
  }

  .accordion-items__item {
    border: none;
    background: none;

    .accordion-items__body {
      padding: 0;
      max-width: 260px;

      a {
        color: $nav_panel_links;
        font-weight: normal;
        display: block;

        &:hover {
          color: $nav_panel_link_hover;
        }

        &.active {
          color: $nav_panel_link_active;
        }

        &.child {
          margin-left: 10%;
        }
      }

      .item-list {
        ul {
          margin: 0;
          li {
            margin: 0;
            padding: 10px 0;
            word-break: break-word;
          }
        }
      }
    }
  }

  .accordion-items__trigger {
    text-transform: none;
    padding: 10px 0;
    color: $nav_panel_title_group;
    font-size: 16px;

    &:before {
      left: calc(100% - 15px);
      border-bottom-color: $nav_panel_arrow;
      border-right-color: $nav_panel_arrow;
      height: 7px;
      width: 7px;
    }

    &:focus {
      outline: none;
    }
  }

  @include media($small){
    width: 20px;

    .component {
      display: none;
    }

    &:before {
      display: block;
      position: relative;
      margin-top: 20px;
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
      content: "";
      height: 11px;
      transform: rotate(-45deg);
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      width: 11px;
      margin-left: 2px;
    }

    &.show-over.open {
      width: 255px;

      .component {
        display: block;
      }

      &:before {
        left: calc(100% - 25px);
        transform: rotate(135deg);
      }
    }

  }

}

