
$notes-angle-height: 40px;

.page-notes__block {
  display: block;
  position: relative;
  padding-top: 53px;
  background-color: $white;

  @include media($small) {
    padding-top: 30px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -#{$stats-angle-height};
    width: 0;
    height: 0;
    border-top: $stats-angle-height solid transparent;
    border-bottom: 0 solid transparent;
  }

  &::before {
    left: 0;
    border-left: 50vw solid $white;
  }

  &::after {
    right: 0;
    border-right: 50vw solid $white;
  }
}

.logged-in .page-notes__block::before,
.logged-in .page-notes__block::after {
  display: none;
}

//Page Notes jump link
.page-notes__jump {

  a:not(.page-notes__print-link) {
    float: right;
    margin-top: 20px;

    @include media($large) {
      float: left;
      margin-bottom: 25px;
      margin-top: 0;
    }
  }
}

.page-notes__head-summary {

}

.page-notes__header {
  display: flex;
    align-items: center;
  margin-bottom: 30px;

  @include media($medium) {
    flex-wrap: wrap;
  }
}

.page-notes__title {
  flex: auto;
  margin-bottom: 0;

  .page-notes__header--trailblazer & {
    flex: none;
    margin-right: 20px;
  }
}

.page-notes__print {
  flex: none;
  margin-top: 6px;

  @include media($medium) {
    display: none;
  }

  &--trailblazer {
    display: block;
  }
}

.page-notes__print-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 24px;
  min-width: 24px;
  padding-left: 30px;
  text-transform: uppercase;
}

.page-notes__views {
  display: none;
  flex: auto;
  margin-top: 15px;
  text-align: right;

  .page-notes__header--trailblazer & {
    display: block;
  }
}

.page-notes__view-toggle {
  background: none;
  border: 0;
  border-radius: 0;
  color: $link_blue;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.2s ease-in;

  &:focus,
  &:hover {
    color: $link_blue_hover;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  span:last-child {
    font-size: 60px;
    font-weight: 300;
    margin-top: -5px;
    margin-left: 5px;
    height: 23px;
    position: relative;
    transition: margin 0.2s ease-in;
    width: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
        bottom: 50%;
        right: 0;
    }

    &::before {
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      height: 14px;
      transform: rotate(-45deg);
      transform-origin: bottom right;
      width: 14px;
    }

    &::after {
      border-bottom: 2px solid currentColor;
      content: "";
      height: 0;
      right: 2px;
      transform: translateY(1px);
      width: 100%;
    }
  }

  &:hover span:last-child {
    margin-left: 8px;
    margin-right: -3px;
  }
}

.page-notes__head-summary + .print-toolbar {

  @include media($medium-min) {
    display: none;
  }
}

.page-notes__summary {
  @include neuton;
  color: $gray-medium;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 40px;

  @include media($medium-min) {
    max-width: 75%;
  }
}

.site-page-notes {
  background-color: $yellowgray-neutral;
  color: $white;
  margin-top: 60px;
  padding: 30px 0;
}

.site-page-notes__container {
  display: flex;

  @include media($large) {
    flex-wrap: wrap;
  }
}

.site-page-notes__copy {
  &--references{
    h2 {
      display: none;
    }
  }
  @include source-sans-pro;
  color: currentColor;
  font-size: 16px;

  // if there is only one column
  &:first-child:last-child {

    @include media($large-min) {
      width: 580px;
    }
  }

  // two or more
  &:first-child:nth-last-child(2) {
    flex: auto;

    @include media($large-min) {
      flex-basis: 300px;
      flex-grow: 0;
      flex-shrink: 0;

      p {
        font-size: 14px;
      }
    }
  }

  &:first-child:nth-last-child(3) {
    flex: auto;

    @include media($small-min) {
      flex-basis: 300px;
      flex-grow: 0;
      flex-shrink: 0;

      p {
        font-size: 14px;
      }
    }
  }

  &:nth-child(2):nth-last-child(2) {
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: 35px;

    @include media($small) {
      border-top: 1px solid $yellowgray-light;
      padding-top: 35px;
    }

    @include media($small-min) {
      border-left: 1px solid $yellowgray-light;
      margin-left: 33px;
      margin-top: 55px;
      padding-left: 40px;
    }

    @include media($large-min) {
      flex: none;
      width: 230px;
    }
  }

  &:nth-child(n + 2):last-child {
    flex: auto;
    margin-top: 35px;

    @include media($large) {
      border-top: 1px solid $yellowgray-light;
      padding-top: 35px;
    }

    @include media($large-min) {
      border-left: 1px solid $yellowgray-light;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      margin-left: 33px;
      margin-top: 0;
      padding-left: 40px;
    }
  }

  h2 {
    @include neuton;
    color: currentColor;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
  }

  p {
    color: currentColor;
    font-size: 16px;
    line-height: 1.63em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #fff;
    font-weight: 700;
  }

  &--references {

    ol {
      list-style: none;
      counter-reset: counter;
    }

    ol li {
      list-style-type: none;
      counter-increment: counter;
      position: relative;
      margin-left: 15px;
    }

    ol li::before {
      @include source-sans-pro;
      background-color: $link_blue;
      border-radius: 50%;
      color: $c-font-inverse;
      content: counter(counter);
      font-size: 11px;
      font-weight: 700;
      height: 15px;
      line-height: 15px;
      margin-right: 10px;
      position: absolute;
        right: 100%;
        top: 2px;
      text-align: center;
      width: 15px;
    }
  }
}

.js-references-target {
  column-count: auto;
  word-break: break-word;
}
