.page_header {
  @include rem(margin-top, 35px);
  color: $yellowgray-neutral;
}

.page_header-title {
  	@include rem(font-size, 36px);
	@include rem(margin-bottom, 20px);
	font-weight: 600;
	margin-top: 0;

    transition: font-size 0.5s;

    @include media($medium-min) {
        @include rem(font-size, 40px);
    }

    @include media($large-min) {
        @include rem(font-size, 52px);
        @include rem(margin-bottom, 40px);
    }

}

.page_header-summary {
  @include rem(line-height, 33px);
  margin-top: 0;
  width: 75%;
}