.promotional-items {

  &__item {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    @include media($medium-min) {
      margin-top: 60px;
    }
  }

  // outer link
  &__wrapper {

    @include media($small-min) {
      display: flex;
        align-items: center;
    }
  }

  &__image {
    flex: auto;
    margin-bottom: 30px;

    @include media($small-min) {
      margin-bottom: 0;
      padding-right: 20px;
      width: 50%;
    }

    @include media($large-min) {
      padding-left: 25px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    flex: auto;

    @include media($small-min) {
      padding-left: 20px;
      width: 50%;
    }

    @include media(large-min) {
      padding-right: 25px;
    }
  }

  &__title {
    color: $blue-neutral;
    font-size: 24px;
    letter-spacing: .07em;
    line-height: 1.2;
    margin-bottom: .6em;
    text-transform: uppercase;

    @include media($medium) {
      font-size: 22px;
    }

    @include media($x-small) {
      font-size: 20px;
    }
  }

  &__description {
    color: $yellowgray-neutral-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 1em;
  }
}

.node-type-subdomain-landing-page,
.node-type-landing-page {

  .promotional-items {

    &__item {
      margin-top: 7px;

      @include media($medium-min) {
        margin-top: 15px;
      }
    }

    &__image {

      @include media($small-min) {
        width: 10%;
      }
    }

    &__content {

      @include media($small-min) {
        padding-left: 0px;
      }
    }
  }
}
