.references-sited {
  border-top: 2px solid $border-color;
  padding: 40px 0;

  &__container {

  }

  &__title {
    @include source-sans-pro;
    color: $c-gray-949189;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.12px;
    line-height: 1.5em;
    text-transform: uppercase;
  }

  &__content {
    @include source-sans-pro;
    color: $c-gray-949189;
    font-size: 14px;
    line-height: 22px;
    word-break: break-word;

    ol {
      margin: 0;

      @include media($medium-min) {
        columns: 2;
      }
    }

    ol > li {
      counter-increment: section;
      display: list-item;
      list-style: none;
      padding: 10px 0 10px 30px;
      position: relative;

      &::before {
        background-color: $link_blue;
        border-radius: 50%;
        color: $c-font-inverse;
        content: counter(section);
        display: inline-block;
        font-size: 11px;
        font-weight: 700;
        height: 15px;
        line-height: 15px;
        position: absolute;
          left: 0;
          top: 13px;
        text-align: center;
        width: 15px;
      }

      &:nth-child(n+20) {
        &::before {
          font-size: 10px;
        }
      }
    }
  }
}
