.right_rail {
	padding: 30px;
	background-color: $right_rail_background;
	float: right;
	width: 22%;
	margin-right: 0;

	@include media($large) {
		width: 100%;
		margin: 25px 0;
	}

	.related_content {
		h4 {
			text-transform: uppercase;
			letter-spacing: 0.08em;
			margin-bottom: 20px;
	    	font-family: 'Source Sans Pro';
	    	font-weight: 600;
	    	@include rem(font-size, 20px);
		}

		ul {
			margin-bottom: 0;

			li {
				padding-top: 25px;
				margin-top: 25px;
				border-top: 1px solid $border-color;
				@include rem(font-size, 16px);

				&:first-child {
					padding-top: 0;
					margin-top: 0;
					border-top: none;
				}

				a {
					font-weight: 600;
				}
			}
		}
	}
}