
/**********
    Share Toolbar Styles
**********/

.share-toolbar {
    &__container {
        @include clearfix;
        margin-top: 25px;
        margin-bottom: 30px;
        float: right;

        @include media($small) {
            float: none;
        }

        .indicator_sum-wrap & {
            float: right;
        }

        .node-type-page & {
            margin-top: 60px;

            @include media($large) {
                margin-top: 50px;
            }

            @include media($medium) {
                margin-top: 25px;
            }
        }        

        @include media($medium) {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            display: block;
            float: none;
            padding: 15px 0;

            .node-type-indicator &,
            .node-type-comparison &,
            .node-type-page &,
            .page-taxonomy-term &,
            .page-blog &,
            .node-type-indicator-library &,
            .node-type-article & {
                display: none;
            }

            .share-toolbar__list-item {
                margin: 0 8%;

                &:last-child {
                    margin-right: 0;
                }
            }

            .share-toolbar__description {
                width: 20%;
            }

            .share-toolbar__description:first-child {
                + .share-toolbar__list {
                    width: 80%;
                }
            }
        }

        .node-type-country & {
            display: none;
        }
    }

    &__description {
        @include source-sans-pro;
        @include rem(font-size, 14px);
        border-left: 1px solid $yellowgray-lighter;
        color: $yellowgray-light;
        float: left;
        font-weight: 600;
        margin-left: 10px;
        padding-left: 20px;
        padding-right: 10px;
        text-transform: uppercase;
        letter-spacing: .05em;

        &:first-child {
            border-left: none;
            margin-left: 0;
            padding-left: 0;
        }

        @include media($medium) {
            display: none;

            + .share-toolbar__list {
              display: none;
            }

            &:first-child {
                display: block;

                + .share-toolbar__list {
                  display: block;
                }
            }
        }
    } // &__description

    &__list {
        float: left;
        margin: 0;

        &-item {
            float: left;
            margin: 0 10px;

            @include media($medium) {
                margin: 0 30px;
            }

            span {
                display: none!important;
            }

        } // &-item
    } // &__list

    &__icon {
        @include size(20px);
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        text-indent: -9999;

        &--facebook {
            @extend %icon-facebook;
        }

        &--twitter {
            @extend %icon-twitter;
        }

        &--google {
            @extend %icon-google;
        }

        &--email {
            @extend %icon-email;
        }

        &--pdf {
            @extend %icon-pdf;
        }

        &--print {
            @extend %icon-print;
        }

        &--image {
            @extend %icon-image;
        }
    } // &__icon

    &--compact {
        display: none;

        @include media($medium) {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            display: block;
            margin-left: 0;
            margin-right: 0;
            padding: 15px 0;

            .node-type-indicator &,
            .node-type-comparison &,
            .node-type-page &,
            .page-taxonomy-term &,
            .page-blog &,
            .node-type-indicator-library &,
            .node-type-article & {
                clear: both;
                display: block;
            }

            .share-toolbar {
                float: none;
            }

            .share-toolbar__list-item {
              margin: 0 9%;

                &:last-child {
                    margin-right: 0;
                }
            }

            .share-toolbar__description {
                width: 20%;
            }

            .share-toolbar__description:first-child {
                + .share-toolbar__list {
                  width: 80%;
                }
            }
        }
    } // &--compact
} // .share-toolbar



/**********
    Print Toolbar Styles - used on Country page only
**********/
.node-type-country {
    .share-toolbar__container.print-toolbar__container {
        display: block;

        .print-toolbar__list-item {
            margin: 0 0 0 10px;

            a {
                margin-top: 0;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.block--share-bar {
    @include media($medium) {
        border-top: 1px solid $yellowgray-lighter;
        border-bottom: 1px solid $yellowgray-lighter;
        display: block;
        margin: 20px 0 0;
        overflow: hidden;
        padding: 15px 0;
    }
}

.share-toolbar__description {
    @include media($medium) {
        float: left;
        width: 20%;
    }
}

.share-toolbar__list {
    @include media($medium) {
        float: right;
        width: 80%;
    }
}

.share-toolbar__list-item {
    @include media($medium) {
        margin: 0 8%;
    }

    @include media($small) {
        margin: 0 5%;
    }
}