.sidebar-modal {
  font-size: 5px;
  width: 18.3em;

  @include media($small-min) {
    font-size: 8px;
  }

  @include media($medium-min) {
    font-size: 10px;
  }
}

.sidebar-modal__icon {
  display: block;
  margin: 0 auto 10px;
  width: 50px;

  path {
    fill: $link_blue;
  }
}

.sidebar-modal__content {
  @include source-sans-pro;
  display: block;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;

  @include media($small-min) {
    font-size: 1.4em;
  }
}

.sidebar-modal__item {
  display: block;
  font-size: inherit;
  margin: 3.8em;
  position: relative;
  z-index: 2;

  @include media($small-min) {
    margin: 3.8em;
  }

  &::before {
    content: "";
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .sidebar-modal__icon path {
    transition: fill 0.5s ease;
  }

  .sidebar-modal__content {
    transition: color 0.5s ease;
  }

  &:focus,
  &:hover {

    &::before {
      background-color: $link_blue;
      bottom: -3em;
      left: -3.8em;
      right: -3.8em;
      top: -3em;
    }

    .sidebar-modal__icon path {
      fill: $white;
    }

    .sidebar-modal__content {
      color: $white;
    }
  }
}

.sidebar-modal__item--howto,
.sidebar-modal__item--pdf {
  background: none;
  border: 0;
  color: $link_blue;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.sidebar-modal__item--feedback {
  margin: .8em 0;
  padding: 3em 3.8em;

  &::before {
    background-color: $link_blue;
  }

  .sidebar-modal__icon {

    path {
      fill: $white;
    }
  }

  .sidebar-modal__content {
    color: $white;
  }

  &:focus,
  &:hover {

    &::before {
      background-color: transparent;
      bottom: 3em;
      left: 3.8em;
      right: 3.8em;
      top: 3em;
    }

    .sidebar-modal__icon path{
      fill: $link_blue;
    }

    .sidebar-modal__content {
      color: $link_blue;
    }
  }
}
