.site_header {
  @include clearfix;
  background-color: $site_header__background;
  border-bottom: 1px solid $border-color;
  position: relative;
}

.hamburger-menu-active .site_header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.site_header img {
  float: left;
}

.site_header .indicator--country_chart__multi_compare {
  @include media($medium) {
    display: none;
  }
}

.site_header--inner {
  @include clearfix;

  display: flex;
  height: rem(72);
  position: relative;

  @include media($large-wide) {
    height: rem(55);
  }

  @include media($x-small) {
    height: rem(40);
  }
}

.site-logo {
  float: left;
  line-height: rem(72);

  @include media($large-wide) {
    line-height: rem(55);
  }

  @include media($x-small) {
    line-height: rem(40);
  }
}

.site-logo img {
  display: inline-block;
  float: none;
  height: auto;
  max-width: rem(185);
  vertical-align: middle;

  @include media($large-wide) {
    max-width: rem(150);
  }

  @include media($x-small) {
    max-width: rem(100);
  }
}

.top-quicknav {
  @include rem(font-size, 18px);
  @include source-sans-pro;
  align-self: center;
  display: none;
  margin: 0;
  
  &.for-desktop {
    @include media($medium-min) {
      display: flex;
      margin: 0 auto;
    }

    .top-quicknav__item {
      margin: 0 40px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .top-quicknav__link {
      letter-spacing: 1.48px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  &.for-mobile {
    display: block; 

    @include media($medium-min) {
      display: none;
    }
  }
}

.site-nav {
  @include clearfix;
  @include rem(font-size, 18px);
  @include source-sans-pro;

  display: block;
  font-weight: 600;
}

.site-nav a,
.top-quicknav a {
  color: $nav_text__color;
  font-weight: 600;
  transition: color 0.2s ease-in;

  &:focus,
  &:hover {
    color: $link_blue_hover;
  }
}

// TODO: find out if this is the right design
.site-nav > .site-nav__item {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.site-nav__item,
.top-quicknav.for-mobile .top-quicknav__item {
  border-left: none;
  border-top: 1px solid $yellowgray-neutral;
  float: none;
  overflow: visible;
  position: relative;

  &:first-child {
    border-top: none;
  }
}

.top-quicknav.for-mobile + .site-nav {
  .site-nav__item:first-child {
    border-top: 1px solid $yellowgray-neutral;

    @include media($medium-min) {
      border-top: none;
    }
  }
}

.site-nav__item-link,
.top-quicknav.for-mobile .top-quicknav__link {
  display: block;
  letter-spacing: 0.05rem;
  line-height: rem(18);
  padding: rem(15) 0;
  position: relative;
  text-align: left;
  text-decoration: none;
}

.site-nav__item-link[href=''],
.site-nav__item-link[href='#'] {
  cursor: default;
}

.site-nav__item-link[href=''][data-drawer],
.site-nav__item-link[href='#'][data-drawer] {
  cursor: pointer;
}

.has-children .site-nav__item-link::after {
  border-bottom: 3px solid $yellowgray-light3;
  border-left: 3px solid $yellowgray-light3;
  content: "";
  display: inline-block;
  height: rem(12);
  margin: 0;
  position: absolute;
  right: rem(2);
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
  vertical-align: middle;
  width: rem(12);
}

.site-subnav {
  max-height: 0;
  overflow: hidden;
  padding: 0 rem(20);
  position: static;
  top: 100%;
  transition: max-height 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  width: 100%;
  z-index: 9999;
}

.site-nav__item:hover .site-subnav {
  max-height: 1000px;
  transition: max-height 0.2s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.site-subnav__item {
  border-top: 1px solid $nav_text__color;;
}

.site-subnav__item:first-child {
  border-top: none;
}

.site-subnav__item-link {
  display: block;
  padding: rem(15) 0;
  text-align: left;
}

.hamburger-menu {
  background-color: $site_nav__background;
  bottom: 0;
  color: $nav_text__color;
  cursor: pointer;
  fill: $nav_text__color;
  font-size: rem(16);
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: rem(55);
  padding: 0 rem(20);
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;

  @include media($x-small) {
    font-size: rem(14);
    line-height: rem(40);
  }

  @include media($medium-min) {
    padding-right: 0;
    position: static;
    display: flex;
    align-items: center;
  }
}

.hamburger-menu.is-active ~ .hamburger-menu__links {
  bottom: 0;
  top: 0;
}

.hamburger-menu.is-active ~ .hamburger-menu__links .site-nav .site-nav__item-link {
  background-color: inherit;
}

.hamburger-menu.is-active ~ .hamburger-menu__links .site-nav .site-nav__item-link.is-active::after {
  transform: rotate(135deg);
}

.hamburger-menu.is-active ~ .hamburger-menu__links .site-nav .site-nav__item-link.is-active ~ .site-subnav {
  max-height: 1000px;
  padding: 0 rem(30) rem(15);
  transition: max-height 0.2s ease-in;
}

.hamburger-menu.is-active ~ .hamburger-menu__links .site-nav .site-nav__item-link.selected {
  color: $nav_text__color;
}

.hamburger-menu.is-active ~ .hamburger-menu__links .site-nav .site-subnav {
  background-color: inherit;
  max-height: 0;
  padding: 0 rem(30);
}

.hamburger-menu.is-active ~ .hamburger-menu__links .site-nav .site-subnav__item {
  border: none;
}

.hamburger-menu.is-active ~ .hamburger-menu__links .site-nav .site-subnav__item-link {
  font-size: rem(16);
  padding: rem(8) 0;
}

.hamburger-menu.is-active .icon_x {
  display: inline-block;
}

.hamburger-menu.is-active .icon_hamburger {
  display: none;
}

.hamburger-menu .icon_x {
  display: none;
  margin-right: rem(5);
}

.hamburger-menu .icon_hamburger {
  display: inline-block;
  margin-right: rem(5);
}

.hamburger-menu__content {
  display: inline-block;
  vertical-align: middle;
}

.hamburger-menu-active .content-wrapper {
  margin-top: 72px;

  @include media($large-wide) {
    margin-top: 55px;
  }

  @include media($x-small) {
    margin-top: 40px;
  }
}

.hamburger-menu-active {
  position: fixed;
  width: 100%;
}

.hamburger-menu__links {
  background-color: $site_nav__background;
  bottom: 0;
  left: 0;
  margin: 72px 0 0;
  overflow-y: auto;
  padding: rem(10) rem(20);
  position: fixed;
  right: 0;
  top: 100%;
  transition: top 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  z-index: 9999;

  @include media($large-wide) {
    margin-top: 55px;
  }

  @include media($x-small) {
    margin-top: 40px;
  }
}
