﻿.sparkline {
  fill: none;
  stroke-width: 0.5px;
}

.sparkline-black {
	stroke: $yellowgray-neutral;
}

.sparkline-red {
	stroke: #D63C42;
}

.sparkline-green {
	stroke: #39C75A;
}

.sparkline-gray {
	stroke: #999;
}

.sparkarea {
	opacity: 0.2;
}

.sparkarea-red {
	fill: #D63C42;
}

.sparkarea-green {
	fill: #39C75A;
}

.sparkarea-gray {
	fill: #AAA;
}

.sparkcircle {
	stroke-width: 2px;
	fill: #FFFFFF;
}

.sparkcircle-red {
	stroke: #D63C42;
}

.sparkcircle-green {
	stroke: #39C75A;
}

.sparkcircle-gray {
	stroke: #AAA;
}

.sparktooltip {
	margin-left: rem(-14);
	margin-top: rem(-7);
	position: absolute;
	background: $yellowgray-neutral;
	padding: rem(5) rem(10);
	pointer-events: none;
	text-align: center;
	display: none;
	z-index: 2;

	&:after {
		@include rem(margin-left, -5px);
		@include rem(bottom, -5px);
		content: '';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $yellowgray-neutral;
		height: 0;
		position: absolute;
		left: 50%;
		width: 0;
	}

	.ind-sparkline:hover & {
		opacity: 1;
		filter:alpha(opacity=100);
	}

  .indicator_box & {
    @include media($medium) {
      opacity: 0;
    }
  }
}

.sparktooltip .value {
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #FFFFFF;
}

.sparktooltip .year {
	color: $yellowgray-light2;
	display: block;
	font-size: rem(12);
}

.chart-tooltip title {
    z-index: 3;
    text-transform: uppercase;
    font-size: 13px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

// container for the spark-line
.ind-sparkline {
	position: relative;
	padding-right: 25px;

	@include media(max-width 750px) {
		padding-right: 0;
	}

	// trend icon inside of spark-line
	.icon {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -11px; // half height of icon

		@include media(max-width 750px) {
			right: -50%;
		}

		@include media($small) {
			right: 15%;
		}
	}
 } // .ind-sparkline
