.sidebar-header {

  &__content {
    margin: 0 auto;
    max-width: $max-width-content - 40px;
    min-height: 285px;

    @include media($x-large-min) {
      margin: 0 auto;
      padding: 0;
    }
  }

  &__modal {
    float: right;
    padding-top: 60px;
    position: relative;
    right: -20px;
    top: 0;

    @include media($x-large-min) {
      padding-top: 0;
      position: absolute;
      right: 0;
    }
  }
}
