.sub-domain-tabs {
}

.sub-domain-tabs__tabs {
  background-color: $yellowgray-lightest;

  > .main {
    display: flex;
    padding: 0;
    position: relative;

    @media (max-width: 600px) {
      padding: 0 2px;
    }
  }
}

.sub-domain-tabs__tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 21px 40px 17px;
  width: 203px;

  color: $yellowgray-dark;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;

  cursor: pointer;

  @media (max-width: 600px) {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
    padding-right: 6px;
    padding-left: 6px;
  }

  &:hover {
    background-color: $yellowgray-lighter;

    .sub-domain-tabs__tooltip {
      opacity: 1;

      @media (max-width: 600px) {
        opacity: 0;
      }
    }
  }

  &.is-on {
    color: white;
    background-color: $blue-neutral;
  }

  // divider line
  &:not(.is-on) + &:not(.is-on)::before {
    position: absolute;
    width: 1px;
    left: 0;
    bottom: 15%;
    top: 15%;

    background-color: $yellowgray-lighter;
    content: "";
  }
}

.sub-domain-tabs__content {
  display: none;

  &.is-on {
    display: block;
  }
}
