.tooltip {
	@include rem(padding, 5px 10px);
	background: $yellowgray-neutral;
	pointer-events: none;
	position: absolute;
	text-align: center;
	top: -25%;
	opacity: 0;
	filter:alpha(opacity=0);

	transition: opacity 0.3s ease-in, top 0.3s ease-in;
	z-index: 2;

	@include media($medium) {
		display: none;
	}

	.data_value--sub_text,
  .tooltip-text {
		@include rem(bottom, 0);
		@include rem(font-size, 14px);
		color: $white;
		font-weight: 400;
		line-height: 2em;
		margin-left: 0;
		display: block;
	}

	&:not(.tooltip-term):after,
	.tooltip-arrow {
		@include rem(margin-left, -5px);
		@include rem(bottom, -5px);
		content: '';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $yellowgray-neutral;
		height: 0;
		position: absolute;
		left: 50%;
		width: 0;
	}
}

.tooltip-hover {
	&:hover {
		cursor: default;
		~ .tooltip {
			opacity: 1;
			filter:alpha(opacity=100);
			top: -50%;
		}
	}
}

// Tooltip Terms module output

.tooltip-term-wrapper {
  position: relative;

  .tooltip {
    top: -70%;

    .tooltip-text {
			width: 500px;
			font-family: 'Source Sans Pro','Arial',sans-serif;
			/*font-family: sans-serif;*/
      font-size: 16px;
      line-height: 1.6em;
      text-align: justify;
    }
  }

  .tooltip-hover {
    &:hover {
      ~ .tooltip {
        top: -120%;
      }
    }
  }
}
