﻿
.tt-menu {
    @include rem(font-size, 18px);
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid $yellowgray-lighter;
    color: $base-font-color;
    left: -20px!important;
    max-height: 230px;
    margin: 11px 0 0 0;
    overflow-y: auto;
    text-align: left;
    width: calc(100% + 54px + 19px + 2px);
    // The above magic numbers in the width calc() are padding right, left and border widths for a grandparent element

    @include media($x-small) {
      margin-top: 7px;
    }

    .tt-suggestions {}

    .tt-suggestion {
        //background-color: pink;
        //border-top: 1px solid $yellowgray-lighter;
        @include source-sans-pro;
        cursor: pointer;
        color: $yellowgray-neutral;
        font-size: .889em;

        &:first-child {
            //border-top: none;
            padding-top: em(5.5);
        }

        &:hover, &.tt-cursor {
          .typeahead-member {
            background-color: $lightgray;
          }
        }

        p {
            text-align: left;
            padding: 0;
            margin: 0;
        }

        .typeahead-group {
          font-weight: bold;
          text-transform: uppercase;
          margin: 10px 0 6px 0;
          letter-spacing: .07em;
          padding: em(3) em(18);
        }

        .typeahead-member {
          font-weight: regular;
          padding: em(3) em(18) em(3) em(28);
        }
    } // .tt-suggestion
} // .tt-dropdown-menu
