.views_header {
  overflow: hidden;
}

.views_header-title {
	@include span-columns(8);

	@include media($small) {
		@include span-columns(12);
	}
}

.main-header {
	@include rem(margin-top, 35px);

	.node-type-indicator &,
	.node-type-country &,
	.node-type-page & {
		margin-top: 0;
	}
}

.page-indicators .main-header {
	@include rem(margin-top, 35px);
}