.vital-sign {
  padding: 45px 0 15px;

  &--bar {
    padding: 30px 0 15px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &--bar-group + &--bar-group {
    padding-top: 10px;
  }

  &--block {
    padding: 30px 0;
  }

  &--number {
    // border-bottom: 1px solid $yellowgray-light3;
    display: flex;
      flex-wrap: wrap;
    line-height: 1;
    padding: 5px 0;
  }

  &__title {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33333;
    margin-bottom: 20px;

    &:hover {
      button {
        margin-left: 3px;
      }
    }
  }

  &__value {
    color: black;
    flex: none;
    font-size: 48px;
    font-weight: 300;
    margin-left: 15px;
  }

  &--bar &__title {
    margin-bottom: 0;
  }

  &--number &__title {
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 4px;
  }

  &__section-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  &__data-source {
    color: $yellowgray-light2;
    font-size: 11px;
    font-weight: 600;
    margin-top: -15px;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &--bar &__data-source {
    margin-top: 5px;
  }

  &__visualization {
    margin-top: 10px;
    padding-bottom: 1px;
  }

  &__no-data {
    color: $yellowgray-neutral-light;
    flex: none;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
  }

  &__modal-link {
    background: none;
    border: 0;
    font-size: 0;
    line-height: 1.33333;
    padding: 0;
    padding-bottom: 2px;
    vertical-align: middle;
    -webkit-transition: margin 0.2s ease-in;
    transition: margin 0.2s ease-in;
  }
}
