$stats-angle-height: 40px;

.vital-stats {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 30px 20px 40px;
	position: relative;

	@include media($small){
		padding: 20px;
	}

	&::before,
	&::after {
		content: "";
    position: absolute;
    top: -#{$stats-angle-height};
		width: 0;
    height: 0;
		border-top: $stats-angle-height solid transparent;
    border-bottom: 0 solid transparent;
	}

  &::before {
    left: 0;
    border-left: 50vw solid rgba(255, 255, 255, 0.9);
  }

  &::after {
    right: 0;
    border-right: 50vw solid rgba(255, 255, 255, 0.9);
  }
}

.vital-stats__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 886px;
	margin: 0 auto;

	@include media($small) {
		flex-direction: column;
	}
}

.vital-stats__item {
	color: $yellowgray-dark;
	border-left: 1px solid $yellowgray-lighter;
	margin: 20px 0;
	padding: 0 15px;
	text-align: center;
	width: 33.33%;

	@include media($medium) {
		width: 50%;
	}

	@include media($small) {
		border-left-width: 0;
		display: flex;
			align-items: center;
		margin-top: 0;
		width: 100%;
	}
}

.vital-stats__item:first-child {
	border-left: none;
}

// 3-across
.vital-stats__item:nth-child(3n + 1) {
	border-left: none;

	@include media($medium) {
		border-left: 1px solid $yellowgray-lighter;
	}

	@include media($small) {
		border-left: none;
	}
}

// switches to 2-across
.vital-stats__item:nth-child(odd) {
	@include media($medium) {
		border-left: none;
	}
}

.vital-stats__label,
.vital-stats__value {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;

	@include media($small) {
		width: 50%;
	}
}

.vital-stats__label {
	font-size: 16px;
	font-weight: 600;
	margin-right: 15px;

	@include media($small) {
		margin-right: 9px;
		text-align: right;
	}
}

.vital-stats__value {
	font-size: 57px;
	font-weight: 300;

	@include media($small) {
		font-size: 47px;
		text-align: left;
	}
}

.vital-stats__value sup {
	font-size: 1.5rem;
	margin-right: 0.125rem;
	top: -1.125rem;
}

.vital-stats__value small {
	font-size: 1.625rem;
	margin-left: 0.125rem;
}

.vital-stats__value .suffix {
	font-size: 28px;

	@include media($small) {
		font-size: 21px;
		font-weight: 500;
	}
}
