.vital-capita {
  display: flex;
  align-items: center;

  &__data {
    background: transparent url("/sites/all/themes/r4d/assets/images/icons/icons_per-capita.svg") bottom right no-repeat;
    margin-right: 20px;
    margin-top: -10px;
    padding-bottom: 40px;
    padding-right: 50px;
  }

  &__unit {
    color: black;
    font-size: 30px;
    font-weight: 400;
  }

  &__value {
    color: black;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
  }

  &__label {
    color: $base-font-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 10px;
  }
}
