.whats-new__header {
    margin: 0 0 30px;
    text-align: center;
}

.whats-new__collection {
    display: flex;
    flex-wrap: wrap;
    margin: -25px 0 0 -25px;
}

.whats-new__item {
    background-color: $yellowgray-lightest;
    margin: 25px 0 0 25px;
    width: 100%;

    @include media($small-min) {
        display: flex;
        flex-direction: column;
        width: calc(50% - 25px);
    }

    @include media($medium-min) {
        width: calc(100%/3 - 25px);
    }

    img {
        display: block;
        width: 100%;
    }
}

.whats-new__item-content {
    padding: 30px 50px 30px 30px;

    @include media($small-min) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.whats-new__item-category {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 8px;
}

.whats-new__item-title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
}

.whats-new__item-cta,
.node-type-homepage .home .whats-new__item-cta {
    @include source-sans-pro;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.4px;

    @include media($small-min) {
        margin-top: auto;
    }

    &:after {
        display: inline-block;
        vertical-align: middle;
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='%2360b0b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right'><line x1='5' y1='12' x2='19' y2='12'></line><polyline points='12 5 19 12 12 19'></polyline></svg>");
        padding-left: 3px;
        transition: all 200ms;
        transform: translateX(0px);
    }

    &:hover {
        &:after {
            transform: translateX(3px);
        }
    }
}
