.breadcrumb {
  color: $yellowgray-neutral;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

  a {
    color: $link_blue;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0;
    position: relative;
    text-decoration: none;

    &:after {
      border-bottom: 1px solid $link_blue;
      border-right: 1px solid $link_blue;
      content: '';
      display: inline-block;
      margin: 0 14px 2px 8px;
      transform: rotate(-45deg);
      height: 5px;
      width: 5px;
    }
  }

  .nolink {
    display: none;
  }
}

