.home__hero html, .home__hero body, .home__hero div, .home__hero span, .home__hero applet, .home__hero object, .home__hero iframe, .home__hero h1, .home__hero h2, .home__hero h3, .home__hero h4, .home__hero h5, .home__hero h6, .home__hero p, .home__hero blockquote, .home__hero pre, .home__hero a, .home__hero abbr, .home__hero acronym, .home__hero address, .home__hero big, .home__hero cite, .home__hero code, .home__hero del, .home__hero dfn, .home__hero em, .home__hero img, .home__hero ins, .home__hero kbd, .home__hero q, .home__hero s, .home__hero samp, .home__hero small, .home__hero strike, .home__hero strong, .home__hero sub, .home__hero sup, .home__hero tt, .home__hero var, .home__hero b, .home__hero u, .home__hero i, .home__hero center, .home__hero dl, .home__hero dt, .home__hero dd, .home__hero ol, .home__hero ul, .home__hero li, .home__hero fieldset, .home__hero form, .home__hero label, .home__hero legend, .home__hero table, .home__hero caption, .home__hero tbody, .home__hero tfoot, .home__hero thead, .home__hero tr, .home__hero th, .home__hero td, .home__hero article, .home__hero aside, .home__hero canvas, .home__hero details, .home__hero embed, .home__hero figure, .home__hero figcaption, .home__hero footer, .home__hero header, .home__hero hgroup, .home__hero menu, .home__hero nav, .home__hero output, .home__hero ruby, .home__hero section, .home__hero summary, .home__hero time, .home__hero mark, .home__hero audio, .home__hero video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.home__hero article, .home__hero aside, .home__hero details, .home__hero figcaption, .home__hero figure, .home__hero footer, .home__hero header, .home__hero hgroup, .home__hero menu, .home__hero nav, .home__hero section {
  display: block;
}

.home__hero body {
  line-height: 1; }

home__hero ol, .home__hero ul {
  list-style: none;
}

.home__hero blockquote, .home__hero q {
  quotes: none;
}

.home__hero blockquote:before, .home__hero blockquote:after {
  content: "";
  content: none;
}

.home__hero q:before, .home__hero q:after {
  content: "";
  content: none;
}

.home__hero table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home__hero {
  font-size: 1rem;
  line-height: 1;
  height: 760px;
  position: relative;
  overflow: hidden;
  background: white;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .home__hero * {
    -webkit-font-smoothing: antialiased; }
  .home__hero *, .home__hero *::after, .home__hero *::before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  .home__hero h1 {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: #e57a44;
    font-size: 3.3125em;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 900px;
    position: relative;
    z-index: 100;
    font-weight: 600; }

.home__hero--gradient {
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(white 0%, white 20%, rgba(255, 255, 255, 0) 100%); }

.home__hero--background-container {
  height: 760px;
  position: absolute;
  top: 0;
  width: 100%; }
  .home__hero--background-container .hero-background {
    position: absolute;
    width: 130%;
    left: -15%;
    top: 0;
    height: 860px;
    background: url(../build/img/main-bg.png);
    background-repeat: repeat;
    background-position: center center;
    opacity: .3; }
    .home__hero--background-container .hero-background .hero-background-orbs {
      width: 2046px;
      position: absolute;
      left: 50%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 760px; }
      .home__hero--background-container .hero-background .hero-background-orbs .hero-orb {
        border-radius: 50px;
        background: #60b0b9;
        position: absolute;
        display: block; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb.hero-orb1 {
          width: 17px;
          height: 17px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb.hero-orb2 {
          width: 24px;
          height: 24px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb.hero-orb3 {
          width: 36px;
          height: 36px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb:nth-child(1n) {
          animation: orb2 10s infinite; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb:nth-child(2n) {
          animation: orb1 13s infinite; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb:nth-child(3n) {
          animation: orb2 16s infinite; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb:nth-child(4n) {
          animation: orb1 19s infinite; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="1"] {
          top: 188px;
          left: -12px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="2"] {
          top: 417px;
          left: 8px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="3"] {
          top: 613px;
          left: 74px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="4"] {
          top: 285px;
          left: 88px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="5"] {
          top: 197px;
          left: 152px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="6"] {
          top: 403px;
          left: 112px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="7"] {
          top: 493px;
          left: 172px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="8"] {
          top: 622px;
          left: 222px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="9"] {
          top: 292px;
          left: 254px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="10"] {
          top: 406px;
          left: 235px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="11"] {
          top: 708px;
          left: 151px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="12"] {
          top: 225px;
          left: 368px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="13"] {
          top: 402px;
          left: 373px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="14"] {
          top: 487px;
          left: 337px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="15"] {
          top: 548px;
          left: 393px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="16"] {
          top: 643px;
          left: 388px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="17"] {
          top: 190px;
          left: 491px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="18"] {
          top: 308px;
          left: 435px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="19"] {
          top: 418px;
          left: 516px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="20"] {
          top: 488px;
          left: 506px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="21"] {
          top: 606px;
          left: 578px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="22"] {
          top: 713px;
          left: 498px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="23"] {
          top: 197px;
          left: 661px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="24"] {
          top: 294px;
          left: 606px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="25"] {
          top: 393px;
          left: 616px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="26"] {
          top: 497px;
          left: 690px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="27"] {
          top: 634px;
          left: 743px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="28"] {
          top: 280px;
          left: 752px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="29"] {
          top: 414px;
          left: 749px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="30"] {
          top: 484px;
          left: 849px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="31"] {
          top: 224px;
          left: 878px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="32"] {
          top: 405px;
          left: 891px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="33"] {
          top: 548px;
          left: 904px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="34"] {
          top: 643px;
          left: 901px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="35"] {
          top: 704px;
          left: 652px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="36"] {
          top: 741px;
          left: 370px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="37"] {
          top: 740px;
          left: 881px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="38"] {
          top: 191px;
          left: 1002px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="39"] {
          top: 308px;
          left: 946px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="40"] {
          top: 406px;
          left: 1024px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="41"] {
          top: 486px;
          left: 1017px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="42"] {
          top: 615px;
          left: 1101px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="43"] {
          top: 701px;
          left: 1004px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="44"] {
          top: 195px;
          left: 1174px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="45"] {
          top: 291px;
          left: 1120px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="46"] {
          top: 406px;
          left: 1136px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="47"] {
          top: 490px;
          left: 1197px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="48"] {
          top: 705px;
          left: 1171px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="49"] {
          top: 634px;
          left: 1257px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="50"] {
          top: 280px;
          left: 1268px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="51"] {
          top: 408px;
          left: 1260px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="52"] {
          top: 402px;
          left: 1399px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="53"] {
          top: 485px;
          left: 1361px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="54"] {
          top: 549px;
          left: 1416px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="55"] {
          top: 640px;
          left: 1411px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="56"] {
          top: 741px;
          left: 1395px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="57"] {
          top: 223px;
          left: 1391px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="58"] {
          top: 308px;
          left: 1460px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="59"] {
          top: 416px;
          left: 1543px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="60"] {
          top: 490px;
          left: 1530px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="61"] {
          top: 610px;
          left: 1608px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="62"] {
          top: 702px;
          left: 1515px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="63"] {
          top: 190px;
          left: 1516px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="64"] {
          top: 292px;
          left: 1630px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="65"] {
          top: 395px;
          left: 1640px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="66"] {
          top: 500px;
          left: 1719px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="67"] {
          top: 710px;
          left: 1685px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="68"] {
          top: 197px;
          left: 1686px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="69"] {
          top: 283px;
          left: 1780px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="70"] {
          top: 409px;
          left: 1770px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="71"] {
          top: 629px;
          left: 1764px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="72"] {
          top: 222px;
          left: 1902px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="73"] {
          top: 402px;
          left: 1910px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="74"] {
          top: 483px;
          left: 1869px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="75"] {
          top: 547px;
          left: 1927px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="76"] {
          top: 644px;
          left: 1925px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="77"] {
          top: 741px;
          left: 1906px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="78"] {
          top: 308px;
          left: 1970px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="79"] {
          top: 489px;
          left: 2047px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="80"] {
          top: 713px;
          left: 2039px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="81"] {
          top: 490px;
          left: -5px; }
        .home__hero--background-container .hero-background .hero-background-orbs .hero-orb[data="82"] {
          top: 715px;
          left: -12px; }

.home__hero--bubbles {
  position: absolute;
  top: -30px;
  left: 50%;
  z-index: 150;
  width: 100%;
  max-width: 1600px;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .home__hero--bubbles .hero-image .hero-bubble-container {
    background-size: cover; }
    .home__hero--bubbles .hero-image .hero-bubble-container .hero-stat-bg {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.6); }
  .home__hero--bubbles .hero-image h2 {
    color: #fff;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    z-index: 200;
    font-size: 1.25em;
    line-height: 1.125em;
    padding: 25px;
    font-weight: 600;
    opacity: 0;
    top: 50%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .home__hero--bubbles .hero-image .hero-hover-text {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .home__hero--bubbles .hero-image .hero-stat-bg {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .home__hero--bubbles .hero-image.hero-stat.hero-focus .hero-hover-text {
    opacity: 1; }
  .home__hero--bubbles .hero-image.hero-stat.hero-focus .hero-stat-bg {
    opacity: 1; }
  .home__hero--bubbles .hero-percent {
    position: relative; }
    .home__hero--bubbles .hero-percent .hero-bubble-container {
      background-color: #e57a44;
      position: absolute; }
    .home__hero--bubbles .hero-percent .hero-text {
      position: relative;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .home__hero--bubbles .hero-percent .hero-text h2 {
        color: #fff;
        font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: 600; }
        .home__hero--bubbles .hero-percent .hero-text h2 sup {
          font-size: 50%;
          top: -0.6em;
          position: relative; }
      .home__hero--bubbles .hero-percent .hero-text p {
        color: #fff;
        font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 0 20px;
        text-align: center;
        font-size: 0.875em; }
    .home__hero--bubbles .hero-percent .hero-hover-text {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .home__hero--bubbles .hero-percent .hero-hover-text span {
        display: none; }
    .home__hero--bubbles .hero-percent.hero-stat.hero-focus .hero-hover-text {
      max-height: 200px;
      opacity: 1; }
  .home__hero--bubbles .home__hero--bubble {
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .home__hero--bubbles .home__hero--bubble.hero-active .hero-bubble-container {
      opacity: 1;
      -moz-transform: scale(1) translateZ(0);
      -o-transform: scale(1) translateZ(0);
      -ms-transform: scale(1) translateZ(0);
      -webkit-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0); }
    .home__hero--bubbles .home__hero--bubble.hero-stat {
      cursor: pointer; }
      .home__hero--bubbles .home__hero--bubble.hero-stat .hero-bubble-container {
        border: 5px solid #e57a44; }
      .home__hero--bubbles .home__hero--bubble.hero-stat .hero-stat-bg {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5); }
    .home__hero--bubbles .home__hero--bubble.hero-focus {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .home__hero--bubbles .home__hero--bubble.hero-focus .hero-bubble-container {
        -moz-transform: scale(1.05) translateZ(0);
        -o-transform: scale(1.05) translateZ(0);
        -ms-transform: scale(1.05) translateZ(0);
        -webkit-transform: scale(1.05) translateZ(0);
        transform: scale(1.05) translateZ(0); }
    .home__hero--bubbles .home__hero--bubble.hero-dim .hero-bubble-container {
      opacity: .7;
      -moz-transform: scale(0.95) translateZ(0);
      -o-transform: scale(0.95) translateZ(0);
      -ms-transform: scale(0.95) translateZ(0);
      -webkit-transform: scale(0.95) translateZ(0);
      transform: scale(0.95) translateZ(0); }
    .home__hero--bubbles .home__hero--bubble .hero-bubble-container {
      border-radius: 400px;
      position: absolute;
      overflow: hidden;
      opacity: 0;
      box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
      -moz-transform: scale(0.5) translateZ(0);
      -o-transform: scale(0.5) translateZ(0);
      -ms-transform: scale(0.5) translateZ(0);
      -webkit-transform: scale(0.5) translateZ(0);
      transform: scale(0.5) translateZ(0);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble-1 .hero-bubble-container {
      width: 140px;
      height: 140px;
      left: 0%;
      top: 417px;
      background-image: url(../build/img/image-stat9.jpg); }
    .home__hero--bubbles .home__hero--bubble.hero-bubble0 .hero-bubble-container {
      width: 170px;
      height: 170px;
      left: 1%;
      top: 164px;
      background-image: url(../build/img/image-stat8.jpg); }
    .home__hero--bubbles .home__hero--bubble.hero-bubble1 {
      animation: move1 15s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble1 .hero-bubble-container {
        width: 140px;
        height: 140px;
        left: 10%;
        top: 560px;
        background-image: url(../build/img/image-stat6.jpg); }
        .home__hero--bubbles .home__hero--bubble.hero-bubble1 .hero-bubble-container .hero-hover-text {
          padding: 10px;
          margin-top: 5px; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble2 {
      animation: move2 20s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble2 .hero-bubble-container {
        width: 380px;
        height: 380px;
        top: 200px;
        left: 15%;
        background-image: url(../build/img/image-stat11.jpg); }
        .home__hero--bubbles .home__hero--bubble.hero-bubble2 .hero-bubble-container h2 {
          font-size: 1.625em;
          padding: 50px; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble3 {
      animation: move3 22s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container {
        width: 80px;
        height: 80px;
        top: 620px;
        left: 26%;
        transition: all 0.2s ease-in-out; }
        .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container h2 {
          font-size: 2.3125em; }
        .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container .hero-text {
          width: 120px; }
          .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container .hero-text p {
            padding: 0; }
        .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container .hero-hover-text {
          width: 120px; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble3.hero-focus .hero-bubble-container {
        width: 120px;
        height: 120px;
        margin: -20px; }
        .home__hero--bubbles .home__hero--bubble.hero-bubble3.hero-focus .hero-bubble-container .hero-hover-text {
          width: 120px; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble4 {
      animation: move1 21s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble4 .hero-bubble-container {
        width: 180px;
        height: 180px;
        left: 38%;
        top: 464px;
        background-image: url(../build/img/image-stat1.jpg); }
        .home__hero--bubbles .home__hero--bubble.hero-bubble4 .hero-bubble-container h2 {
          font-size: 1.25em;
          padding: 10px; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble5 {
      animation: move4 18s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble5 .hero-bubble-container {
        width: 160px;
        height: 160px;
        left: 41%;
        top: 217px; }
        .home__hero--bubbles .home__hero--bubble.hero-bubble5 .hero-bubble-container h2 {
          font-size: 4.125em; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble6 {
      animation: move1 20s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble6 .hero-bubble-container {
        width: 160px;
        height: 160px;
        left: 52%;
        top: 307px;
        background-image: url(../build/img/image-stat3.jpg); }
    .home__hero--bubbles .home__hero--bubble.hero-bubble7 {
      animation: move2 15s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container {
        width: 128px;
        height: 128px;
        left: 55%;
        top: 538px; }
        .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container h2 {
          font-size: 3.125em; }
        .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container .hero-text {
          width: 140px; }
          .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container .hero-text .hero-hover-text {
            padding: 0 10px; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble7.hero-focus .hero-bubble-container {
        width: 140px;
        height: 140px;
        margin: -5px; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble8 {
      animation: move3 22s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble8 .hero-bubble-container {
        width: 305px;
        height: 305px;
        left: 64%;
        top: 185px;
        background-image: url(../build/img/image-stat4.jpg); }
        .home__hero--bubbles .home__hero--bubble.hero-bubble8 .hero-bubble-container h2 {
          font-size: 1.375em;
          padding: 40px; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble9 {
      animation: move4 18s infinite; }
      .home__hero--bubbles .home__hero--bubble.hero-bubble9 .hero-bubble-container {
        width: 200px;
        height: 200px;
        left: 71%;
        top: 510px;
        background-image: url(../build/img/image-stat2.jpg); }
        .home__hero--bubbles .home__hero--bubble.hero-bubble9 .hero-bubble-container .hero-hover-text {
          padding: 10px;
          font-size: 1.375em; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble10 .hero-bubble-container {
      width: 110px;
      height: 110px;
      left: 87%;
      top: 238px;
      background-image: url(../build/img/image-stat10.jpg); }
      .home__hero--bubbles .home__hero--bubble.hero-bubble10 .hero-bubble-container .hero-hover-text {
        padding: 10px; }
    .home__hero--bubbles .home__hero--bubble.hero-bubble11 .hero-bubble-container {
      width: 160px;
      height: 160px;
      left: 89%;
      top: 415px;
      background-image: url(../build/img/image-stat7.jpg); }

@keyframes move1 {
  0% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -moz-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  50% {
    -moz-transform: translate(3px, -3px);
    -o-transform: translate(3px, -3px);
    -ms-transform: translate(3px, -3px);
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px); }
  75% {
    -moz-transform: translate(-3px, 3px);
    -o-transform: translate(-3px, 3px);
    -ms-transform: translate(-3px, 3px);
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px); }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes move2 {
  0% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -moz-transform: translate(-3px, 3px);
    -o-transform: translate(-3px, 3px);
    -ms-transform: translate(-3px, 3px);
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px); }
  50% {
    -moz-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  75% {
    -moz-transform: translate(3px, -3px);
    -o-transform: translate(3px, -3px);
    -ms-transform: translate(3px, -3px);
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px); }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes move3 {
  0% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -moz-transform: translate(-3px, -3px);
    -o-transform: translate(-3px, -3px);
    -ms-transform: translate(-3px, -3px);
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px); }
  50% {
    -moz-transform: translate(-3px, 3px);
    -o-transform: translate(-3px, 3px);
    -ms-transform: translate(-3px, 3px);
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px); }
  75% {
    -moz-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px); }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes move4 {
  0% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    -moz-transform: translate(-3px, -3px);
    -o-transform: translate(-3px, -3px);
    -ms-transform: translate(-3px, -3px);
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px); }
  50% {
    -moz-transform: translate(3px, -3px);
    -o-transform: translate(3px, -3px);
    -ms-transform: translate(3px, -3px);
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px); }
  75% {
    -moz-transform: translate(-3px, 3px);
    -o-transform: translate(-3px, 3px);
    -ms-transform: translate(-3px, 3px);
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px); }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes orb1 {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes orb2 {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes intro {
  0% {
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  30% {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@media only screen and (max-width: 1600px) {
  .home__hero .home__hero--bubbles {
    width: 1200px; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble-1, .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble0, .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble10, .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble11 {
      display: none; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble1 .hero-bubble-container {
      left: 2%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble2 .hero-bubble-container {
      left: 7%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container {
      left: 26%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble4 .hero-bubble-container {
      left: 40%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble5 .hero-bubble-container {
      left: 41%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble6 .hero-bubble-container {
      left: 55%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container {
      left: 63%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble8 .hero-bubble-container {
      left: 71%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble9 .hero-bubble-container {
      left: 85%; } }

@media only screen and (max-width: 1270px) {
  .home__hero .home__hero--bubbles {
    width: 1024px; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-image h2 {
      font-size: 1.125em; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble2 .hero-bubble-container {
      left: 4%;
      width: 330px;
      height: 330px; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble4 .hero-bubble-container {
      left: 37%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble6 .hero-bubble-container {
      left: 55%;
      top: 350px;
      width: 150px;
      height: 150px; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container {
      top: 558px;
      left: 59%; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble8 .hero-bubble-container {
      left: 70.5%;
      width: 265px;
      height: 265px; }
    .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble9 .hero-bubble-container {
      left: 80%;
      width: 180px;
      height: 180px; } }

@media only screen and (max-width: 1000px) {
  .home__hero {
    height: 960px; }
    .home__hero h1 {
      font-size: 3.125em; }
    .home__hero .home__hero--background-container .hero-background .hero-background-orbs {
      display: none; }
      .home__hero .home__hero--background-container .hero-background .hero-background-orbs .hero-orb {
        animation: none; }
    .home__hero .hero-background {
      height: 960px;
      background: url(../build/img/main-bg-mobile.png);
      background-size: cover; }
    .home__hero .home__hero--bubbles {
      width: 768px;
      height: 960px;
      top: 0; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container {
        top: 308px;
        left: 52%; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble4 .hero-bubble-container {
        left: 36%;
        top: 516px; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble5 .hero-bubble-container {
        top: 700px;
        left: 16%; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble6 .hero-bubble-container {
        left: 66%;
        top: 180px; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container {
        top: 654px;
        left: 77%; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble8 .hero-bubble-container {
        left: 61%;
        top: 356px; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble9 .hero-bubble-container {
        left: 48%;
        top: 710px; }
      .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble9 h2.hero-hover-text {
        font-size: 1.125em; } }

@media only screen and (max-width: 768px) {
  .home__hero {
    height: auto; }
    .home__hero h1 {
      font-size: 2.5em;
      padding: 30px 5%; }
    .home__hero .home__hero--background-container {
      display: none; }
    .home__hero .home__hero--gradient {
      display: none; }
    .home__hero .home__hero--bubbles {
      width: 100%;
      position: relative;
      left: 0;
      height: auto;
      transform: translateX(0); }
      .home__hero .home__hero--bubbles .home__hero--bubble {
        display: none;
        position: relative;
        animation: none !important;
        cursor: auto; }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble-1, .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble0, .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble10, .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble11 {
          display: none; }
        .home__hero .home__hero--bubbles .home__hero--bubble:nth-child(1n) .hero-text {
          background: #60b0b9; }
        .home__hero .home__hero--bubbles .home__hero--bubble:nth-child(2n) .hero-text {
          background: #e57a44; }
        .home__hero .home__hero--bubbles .home__hero--bubble:nth-child(3n) .hero-text {
          background: #2e4057; }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-percent .hero-bubble-container {
          background-color: transparent;
          background-image: url(../build/img/image-mobile3.jpg);
          background-size: cover; }
          .home__hero .home__hero--bubbles .home__hero--bubble.hero-percent .hero-bubble-container .hero-text {
            position: absolute;
            bottom: 0px;
            top: auto;
            left: auto;
            width: 100%;
            -moz-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
            .home__hero .home__hero--bubbles .home__hero--bubble.hero-percent .hero-bubble-container .hero-text h2 {
              display: none; }
            .home__hero .home__hero--bubbles .home__hero--bubble.hero-percent .hero-bubble-container .hero-text .hero-hover-text {
              max-height: none;
              color: #fff;
              font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
              z-index: 200;
              font-size: 1.25em;
              line-height: 1.125em;
              font-weight: 600;
              opacity: 1;
              text-transform: none;
              padding: 20px !important; }
              .home__hero .home__hero--bubbles .home__hero--bubble.hero-percent .hero-bubble-container .hero-text .hero-hover-text span {
                display: inline-block; }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble1 .hero-bubble-container {
          background-image: url(../build/img/image-mobile6.jpg);
          background-position: center -60px; }
          .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble1 .hero-bubble-container .hero-hover-text {
            margin: 0; }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble2 .hero-bubble-container {
          background-image: url(../build/img/image-mobile11.jpg); }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container {
          background-image: url(../build/img/image-mobile9.jpg); }
          .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble3 .hero-bubble-container .hero-hover-text {
            width: auto; }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble4 .hero-bubble-container {
          background-image: url(../build/img/image-mobile1.jpg); }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble5 .hero-bubble-container {
          background-image: url(../build/img/image-mobile8.jpg); }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble6 .hero-bubble-container {
          background-image: url(../build/img/image-mobile3.jpg); }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble7 .hero-bubble-container {
          background-image: url(../build/img/image-mobile7.jpg); }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble8 .hero-bubble-container {
          background-image: url(../build/img/image-mobile4.jpg); }
        .home__hero .home__hero--bubbles .home__hero--bubble.hero-bubble9 .hero-bubble-container {
          background-image: url(../build/img/image-mobile2.jpg); }
        .home__hero .home__hero--bubbles .home__hero--bubble .hero-bubble-container {
          position: static;
          width: 100% !important;
          height: 400px !important;
          border-radius: 0;
          border: 0;
          background-size: cover;
          background-position: center; }
      .home__hero .home__hero--bubbles .hero-text {
        position: absolute;
        bottom: 0px;
        width: 100%; }
        .home__hero .home__hero--bubbles .hero-text .hero-hover-text {
          font-size: 1.25em !important;
          opacity: 1;
          position: static;
          transform: translateY(0);
          padding: 20px !important;
          text-shadow: none; }
    .home__hero .hero-stat-bg {
      display: none; } }

@media only screen and (max-width: 510px) {
  .home__hero {
    height: auto; }
    .home__hero h1 {
      font-size: 2.5em;
      padding: 30px 20px; } }
