.banner-top-wrapper {
  background-color: #44546a;
    #banner-section-top {
      color: #ffffff;
      font-family: 'Source Sans Pro', 'Arial', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding: 10px 0 10px 30px;
      p {
        margin: 0px;
      }
      a {
        color: #ffffff;
        &:hover {
            color:#60b0b9;
        }
      }
}
}
