.fieldset-wrapper fieldset.strategy-wrapper {
  padding-top: 20px;
}

.fieldset-wrapper fieldset.strategy-wrapper > legend {
  float: left;
  margin-top: -5px;
}

.fieldset-wrapper fieldset.strategy-wrapper .form-item.form-type-select {
  margin-left: 30px;
}

.remove-selected-items-button {
  background-color: #fef5f4 !important;
  background-image: none !important;
  color: #8C2E0A !important;
  border-color: #ff0000 !important;
}
