.tooltip-terms-table td {
  border-top: 0;
}

.tooltip-terms-table .trigger-tooltip-term-insert {
  cursor: pointer;
}

.dialog-tooltip-terms {
  border: 1px solid #d1d1d1 !important;
  max-height: 550px;
  overflow: hidden scroll;
}
