.component--content-filter {
  width: 100%;
}

.component--filter-by-strategy.drawer_content--select_input,
.component--filter-by-country.drawer_content--select_input {
  width: 25%;
  border: 1px solid;
}
