<div class="home__get_involved__item center-align" {% if  background_image  %}style="background-image: url({{ background_image}});{% endif %}">
  <div class="home__get_involved__item-content">
    <div>{{ content.field_get_involved_icon }}</div>
    <div class="home__get_involved__item__title">{{ content.field_get_involved_title }}</div>
    <p>{{ content.field_get_involved_body }}</p>
    <div class="home__get_involved__item-cta">{{ content.field_get_involved_link }}</div>
  </div>
</div>