<div class="card card--card-listing card--facet-card-listing card_tid_classes">
  <h3 class="card__header">
    {{ content.field_card_title }}
    <small class="card__subtitle">{{ content.field_card_subtitle }}</small>
  </h3>
  <div class="card__body">{{ content.field_description }}</div>
  <div class="card__tags"><span class="card__tags-label">{{ 'Tags:'|t }} </span><span class="card__tags-list">{{ card_tags_list }}</span>
  </div>
  <div class="card__footer"><a href="{{ content.field_card_link.0['#url'].toString() }}" target="_blank">{{ 'Learn More'|t }}</a></div>
</div>