<div class="component component--promotional-items">
  <div class="main">
    {# <?php if ($paragraphs_item->field_title) : ?> #}
      <h2 class="component__title">{{ content.field_title}}</h2>
    {# <?php endif; ?> #}
    <ul class="promotional-items">
      {{ content.field_components }}
    </ul>
  </div>
</div>
