{#

/**
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
 */
#}

<li class="promotional-items__item">
  <a href="{{ content.field_link.0['#url'] }}" class="promotional-items__wrapper" title="content.field_link.0['#title']">
    <div class="promotional-items__image">
      {{ content.field_promo_image }}
    </div>
    <div class="promotional-items__content">
      <h2 class="promotional-items__title">{{ content.field_title}}</h2>
      <div class="promotional-items__description">
        {{ content.field_description }}
      </div>
      <div class="link link--arrow" aria-hidden="true">
        {{ content.field_link.0['#title'] }}
      </div>
    </div>
  </a>
</li>