{%
  set classes = [
    'component',
    'component--rte',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="main main--narrow">
      <div class="component__content is-rte">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}