<div class="component component--facet-card-listing {{ classes }}">
  <div class="main">

    {# {% if paragraphs_item.field_title  %} #}
      <h2 class="component__title">{{ content.field_title }}</h2>
    {# {% endif %} #}

    {# {% if  paragraphs_item.field_description  %} #}
      <div class="component__description">{{ content.field_description }}</div>
    {# {% endif %} #}

    {# {% if is_array(card_tags)  and  count(card_tags)  1 %}
      <div class="component__filter_group">
        <ul class="component__filter_list">
          <li class="component__filter-by">Filter by:</li>
          <li class="component_filter_option active" data-tid="all">All</li>
          {% for tid, card_tag in card_tags %}
            <li class="component_filter_option" data-tid="tid">card_tag.name</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %} #}

    <div class="component__content is-grid">
      {{ content.field_components }}
    </div>
  </div>
</div>