<dl class="js-collapse faq-list">
  <dt class="faq-list__question js-collapse-toggle">{{ content.field_title_question }}</dt>
  <dd class="faq-list__answer js-collapse-body is-rte">{{ content.field_answer }}</dd>
</dl>