<div class="card card--card-listing">
  <h3 class="card__header">
    <small class="card__eyebrow">{{ content.field_card_eyebrow }}</small>
    <a href="{{ content.field_card_bottom_link.0['#url'] }}">{{ content.field_card_title }}</a>
  </h3>
  <div class="card__body">{{ content.field_card_text }}</div>
  <div class="card__footer">{{ content.field_card_bottom_link }}</div>
</div>