{# 
/**
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
 */ #}


<div class="component component--listing {{ classes }}">
  <div class="main">
    {% if content.field_title  %}
      <h2 class="component__title">{{ content.field_title }}</h2>
    {% endif %}

    <div class="component__content is-grid">
      <div class="component--content-filter">
         {# {% if strategies_data %} 
           <select class="component--filter-by-strategy component--filter--select_input"> 
             {% for strategies in strategies_data %} 
               {% if not is_array(strategies) %} 
                <option value=" group"> strategies</option>
               {% endif %} 
              <optgroup label=" group">
                 {% for strategy in strategies %} 
                  <option value=" id"> strategy</option>
                 {% endfor %} 
              </optgroup>
             {% endfor %} 
           </select> 
         {% endif %} 
         {% if countries_data %} 
         <select class="component--filter-by-country component--filter--select_input"> 
           {% for key, country in countries_data %} 
            <option value="key">country</option>
          {% endfor %}
        </select>
        {% endif %} #}
      </div>
      {{ content.field_case_studies|render }}
    </div>
  </div>
</div>
