{% if content.field_partner_link  %}
<div class="field-item">
  <a href="{{ content.field_partner_link.0['#url'] }}" title="{{ content.field_partner_link.0['#title'] }}" target="_blank" class="home__partners__item">
  {% endif %}
  <div class="field-name-field-partner-logo">{{ content.field_partner_logo }}</div>
  {% if content.field_partner_link  %}
  </a>
</div>
{% endif %}