<li class="accordion-items__item js-collapse">
  <button
    type="button"
    class="accordion-items__trigger js-collapse-toggle">{{ content.field_title }}</button>
    <div
    class="accordion-items__body js-collapse-body">
      <div class="is-rte">{{ content.field_body }}</div>
    </div>
</li>

{# <dl class="js-collapse faq-list">
  <dt class="faq-list__question js-collapse-toggle">{{ content.field_title_question }}</dt>
  <dd class="faq-list__answer js-collapse-body is-rte">{{ content.field_answer }}</dd>
</dl> #}

