<div role="document" class="page">
  {% if page.featured %}
    <section id="featured">
      <div class="columns">
        {{ page.featured }}
      </div>
    </section>
  {% endif %}

  {% if page.banner_top %}
    <div class="banner-top-wrapper">
      <section id="banner-section-top">
        {{ page.banner_top }}
      </section>
    </div>
  {% endif %}

  {% if page.main_menu %}
    <section id="main-menu">
      <div class="main-menu">
        <div class="d-flex">
          {{ page.main_menu.sitebranding }}
          {{ page.main_menu.mainmenu }}
          {{ page.main_menu.topquicknav }}
        </div>
      </div>
    </section>
  {% endif %}

  <section class="site_header" ng-controller="NavController">
    <div class="site_header--inner main js-site_header--inner">
    {{ page.navigation.sitebranding }}{{ page.navigation.topquicknav }}

      <!-- Insert links__menu_top_quick_nav -->
      <div class="hamburger-menu js-responsive-nav-trigger">
        <div class="hamburger-menu__content">
          {% include '@r4d/icons/icons-hamburger.html.twig' %}
          {% include '@r4d/icons/icons-x.html.twig' %}
          {{ 'Menu'|t }}
        </div>
      </div>

      <div class="hamburger-menu__links js-hamburger-menu__links">
        {# {{ page.navigation.topquicknav }} #}
        {{ page.navigation.r4d_main_menu }}
      </div>
    </div>
  </section>

  {% if page.header %}
    <section id="header">
      {{ page.header }}
    </section>
  {% endif %}

  {% if messages %}
    <section id="messages">
      <div class="main">
        {{ messages }}
      </div>
    </section>
  {% endif %}

  <div role="main" class="content-wrapper" {% if is_front  %}ng-controller="HomeController" class="ng-scope"{% endif %}>
    <section id="content">
      {% if page.masthead  %}
        <section id="masthead">
          {{ page.masthead|render }}
        </section>
      {% endif %}

      {# {% if tabs %} #}
        <div class="main-content">
        <h2 id="primary-tabs-title" class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
        <nav role="navigation" class="tabs-wrapper" aria-labelledby="primary-tabs-title" data-drupal-nav-primary-tabs>
          <ul class="tabs tabs--primary">{{ primary }}</ul>
        </nav>
          {{ tabs|render }} {{page.breadcrumb}}
          {# {% if tabs2 %} #}{{ tabs2|render }}{# {% endif %} #}
        </div>
      {# {% endif %} #}

      {% if action_links %}
        <ul class="action-links">
          {{ action_links|render }}
        </ul>
      {% endif %}

      {{ page.content }}

    </section>

    {% if page.modal %}
      <div class="js-modal-scroll-open">
        {{ page.modal|render }}
      </div>
    {% endif %}
  </div>

  <footer id="site-footer" role="contentinfo" class="site_footer js-site-footer">
    {% if page.footer_top %}
      <section class="footer-top">
        {{ page.footer_top }}
      </section>
    {% endif %}

    <div class="main">
      <section class="site_footer__newsletter js-newsletter-sticky">
        <div class="main">
          <h3 class="site_footer__newsletter-title">{% include '@r4d/icons/icons-newsletter.html.twig' %}{{ 'Sign up for our newsletter'|t }}</h3>
          <!-- Render mailchimp -->
        </div>
      </section>
      <section class="site_footer__content">
        <div class="site_footer__links">
          <span class="site_footer__copyright">
              {{ '©'|raw }}{{ '2018'|t }}
          </span>

          {{ page.footer_bottom.footermenu }}
        </div>
        <div class="site_footer__info">
          <div class="site_footer__info-item site_footer__contact-wrapper">
            <ul class="site_footer__contact">
              <li class="site_footer__contact-item">{{ site_mail }}</li>
            </ul>
          </div>
          <div class="site_footer__info-item site_footer__twitter">{{ site_twitter }}</div>
        </div>
        <div class="site_footer__info site_footer__download-data">
          <a href="#" target="_blank" class="download-data">
            {% include '@r4d/icons/icons-download.html.twig' %}
            {{ download_all_data_url }}</a>
        </div>
      </section>
    </div>
  </footer>
</div>

