<div role="document" class="page">
	{% if page.banner_top %}
		<div class="banner-top-wrapper">
			<section id="banner-section-top">
				{{ page.banner_top }}
			</section>
		</div>
	{% endif %}

	{% if page.browser_message %}
		<section id="browser-message" style="display: none;">
			<div class="main">
				{{ page.browser_message }}
			</div>
		</section>
	{% endif %}


	<section class="site_header" ng-controller="NavController">
		<div class="site_header--inner main js-site_header--inner">
			{{ page.navigation.sitebranding }}
			{{ page.navigation.topquicknav }}

			<!-- Insert links__menu_top_quick_nav -->
			<div class="hamburger-menu js-responsive-nav-trigger">
				<div class="hamburger-menu__content">
					{% include '@r4d/icons/icons-hamburger.html.twig' %}
					{% include '@r4d/icons/icons-x.html.twig' %}
					{{ 'Menu'|t }}
				</div>
			</div>

			<div
				class="hamburger-menu__links js-hamburger-menu__links">
				{# {{ page.navigation.topquicknav }} #}
				{{ page.navigation.r4d_main_menu }}
			</div>
		</div>
	</section>


	{% if not is_front and page.breadcrumb %}
		<section id="breadcrumb-social" class="breadcrumb-social-bar clearfix">
			<div class="main">
				{{ page.breadcrumb }}
			</div>
		</section>
	{% endif %}

	{# {% if show_back_to_top %} #}
	<div class="modal__cta">
		<button id="myBtn" onclick="topFunction()" class="button button--cta is-teal-inverse">Go to Top</button>
	</div>
	{# {% endif %} #}

	{% if navigation_panel  %}
		<section id="navigation-panel" class="navigation-panel-wrapper">
			navigation_panel
		</section>
	{% endif %}

	{% if not is_front and page.header %}
		<section id="header">
			{{ page.header }}
		</section>
	{% endif %}

	{% if not is_front and page.masthead %}
		<section id="masthead">
			{{ page.masthead }}
		</section>
	{% endif %}

	{% if messages %}
		<section id="messages">
			<div class="main">
				{{ messages }}
			</div>
		</section>
	{% endif %}

	<div role="main" class="content-wrapper" {% if is_front %} ng-controller="HomeController" class="ng-scope" {% endif %}>
		{% if page.sidebar_first %}
			<aside id="sidebar-first" role="complementary" class="sidebar">
				{{ page.sidebar_first }}
			</aside>
		{% endif %}

		<section id="content">
			{% if is_front  and  page.masthead  %}
				<section id="masthead">
					{{ page.masthead }}
				</section>
			{% endif %}

			{# <div class="main clearfix main-header">{{kint()}}
						        {% if  title  and  not hide_title %}
						          {{ title_prefix }}
						            <h1{{ title_attributes }}>{{ page_title }}</h1>
						          {{ title_suffix }}
						        {% endif %}
						      </div> #}

			{# {% if  tabs %} #}
			<div class="main">
				{{ tabs }}
				{% if tabs2 %}
					{{ tabs2 }}
				{% endif %}
			</div>
			{# {% endif %} #}

			{% if  action_links %}
				<ul class="action-links">
					{{ action_links }}
				</ul>
			{% endif %}

			{{ page.content|render }}
		</section>

		{#{% if  page.site_page_notes %}
				      <section class="site-page-notes">
				        <a name="page-notes"></a>
				        <div class="site-page-notes__container main">
				          <div class="site-page-notes__copy is-rte">{{ page.site_page_notes.block_1 }}</div>
				
				          {% if  is_trailblazer  %}
				            {{ page.trailblazer_blocks }}
				          {% endif %}
				        </div>
				      </section>
				    {% endif %}
				
				    {% if  page.modal %}
				      {{ page.modal }}
				    {% endif %}
				  </div>#}
	</div>
	<footer id="site-footer" role="contentinfo" class="site_footer js-site-footer">
		<div class="main">
			<section class="site_footer__newsletter js-newsletter-sticky">
				<div class="main">
					<h3 class="site_footer__newsletter-title">{% include '@r4d/icons/icons-newsletter.html.twig' %}{{ 'Sign up for our newsletter'|t }}</h3>
					<!-- Render mailchimp -->
				</div>
			</section>
			<section class="site_footer__content">
				<div class="site_footer__links">
					<span class="site_footer__copyright">
						{{ '©'|raw }}{{ '2018'|t }}
					</span>

					{{ page.footer_bottom.footermenu }}
				</div>
				<div class="site_footer__info">
					<div class="site_footer__info-item site_footer__contact-wrapper">
						<ul class="site_footer__contact">
							<li class="site_footer__contact-item">{{ site_mail }}</li>
						</ul>
					</div>
					<div class="site_footer__info-item site_footer__twitter">{{ site_twitter }}</div>
				</div>
				<div class="site_footer__info site_footer__download-data">
					<a href="#" target="_blank" class="download-data">
						{% include '@r4d/icons/icons-download.html.twig' %}
						{{ download_all_data_url }}</a>
				</div>
			</section>
		</div>
	</footer>
</div>
