@import 'phcpi/colors';

@media print {
  // global header
  div.print-logo {
      max-width: 77.5rem;
      padding: 0 1.25rem;
      margin: 0 auto;
      margin-bottom: 30px;
  }

  img.print-logo {
    max-width: 11.5625rem;
  }

  .site-nav {
    display: none;
  }

  .site_header {
    background-color: transparent;
    border-bottom: 1px solid #e3e3e0;
    padding-bottom: 20px;
  }

  .node-type-indicator .site_header--inner {
    padding-top: 20px;
  }

  // masthead
  .masthead_image {
    background: none!important;

    &:before {
      background-color: transparent;
    }

    .masthead_country,
    .masthead_tag {
      color: $yellowgray-neutral;
    }
  }

  .print-title {
    max-width: 77.5rem;
    padding: 0 1.25rem;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  // general
  a, a:link, a:visited {
    color: $link_blue;
  }

  img {
    max-width: 890px;
    margin: 0;
  }

  // article page
  article .byline.submitted {
    float: none;
    width: 100%;
  }

  .article_top .node-tags {
    float: none;
    width: 100%;
    margin-top: 15px;
  }

  article .article_top,
  article h1.article_title,
  h1 {
    font-size: 26px!important;
    width: 100%;
    float: none;
  }

  .masthead_tags--more {
    display: block!important;
  }

  .masthead_tag--morelink,
  .masthead_tag--lesslink {
    display: none;
  }

  .field-item.even {
    border: 1px solid transparent;
  }

  .node-type-article #content .media-right_small,
  .node-type-article #content .media-small_content_image_400_right,
  .node-type-page #content .media-right_small,
  .node-type-page #content .media-small_content_image_400_right,
  .node-type-article #content .media-left_small,
  .node-type-article #content .media-small_content_image_400_left,
  .node-type-page #content .media-left_small,
  .node-type-page #content .media-small_content_image_400_left {
    float: none;
    width: 400px;
    text-align: center;
    margin: 0 auto!important;

    img {
      float: none;
    }
  }

  .node-type-article #content .media-centered_content_image_890,
  .node-type-article #content .media-hero_content_image_1200,
  .node-type-article #content .image_pull--center_wrapper,
  .node-type-article #content .media-hero_content_image_890,
  .node-type-page #content .media-centered_content_image_890,
  .node-type-page #content .media-hero_content_image_1200,
  .node-type-page #content .image_pull--center_wrapper,
  .node-type-page #content .media-hero_content_image_890 {
    max-width: 890px!important;
    margin: 0;
  }

  .media-small_content_image_400_left .field-name-field-image-caption,
  .media-small_content_image_400_right .field-name-field-image-caption {
    text-align: left;
  }

  // article page with right rail
  article .content_body.grid-74.with-right-rail {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  // country page
  .masthead_description.grid-46 {
    width: 100%;
  }

  .node-type-country .masthead_image {
    padding-top: 0;
    padding-bottom: 20px;
    height: 300px;
  }

  .vital-stats {
    &__item {
      border-left: 1px solid #e3e3e0;

      &:first-child {
        border-left: none;
      }
    }

    &__list {
      background-color: transparent;
      margin-left: 1%;
      border-bottom: 1px solid #e3e3e0;
      width: 100%;
      float: none;

      &.is-hidden {
        display: block;
        margin-left: 0;
        background-color: transparent;
        border: none;

        .vital-stats__item {
          border: none;
        }

        .vital-stats__value {
          font-size: 26px;
        }
      }
    }

    &-show-more {
      display: none;
    }

    &__label,
    &__value {
      color: $yellowgray-neutral;
    }

    &__label {
      font-size: 16px;;
    }

    &__value {
      font-size: 32px;
    }
  }

  .node-type-country {
    .share-toolbar__container.print-toolbar__container {
      display: none;
    }
  }

  .accordion_title.category_box--title {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  .collapsible_container {

    .accordion {
      &_title {
        border: none;
      }

      &_subtitle {
        padding-left: 0,
      }

      &_body {
        padding-left: 0;
        border: none;

        &-content {
          padding-left: 0;
        }
      }
    }
  }

  .collapse-open .accordion_title,
  .collapse-open+.accordion_body .accordion_subtitle {
    background-color: transparent;
  }

  .category-color__theme--1,
  .category-color__theme--2,
  .category-color__theme--3,
  .category-color__theme--4,
  .category-color__theme--5,
  .category-color__theme--6 {
    .indicator_box--data_value {
      color: $yellowgray-neutral;
    }
  }

  .indicator_box {
    border: none;
    padding-left: 0;
    width: 100%;
    min-height: 200px!important;
    height: 100%!important;
  }

  .indicator_box--title {
    height: auto;
  }

  .indicator_box--high_low_average {
    width: 100%;
  }

  .indicator_box--exlore_data-learn,
  .indicator_box--explore_link,
  .indicator_box--explore_data-link {
    display: none;
  }

  .site_page__notes {
    background-color: transparent;
    color: $yellowgray-neutral;

    h2 {
      color: $yellowgray-neutral;
    }
  }

  //indicator page
  .indicator_sum-title-sticky-wrap,
  .indicator_sum-wrap.category_box {
    border: none;
  }

  .indicator_sum {
    width: 100%!important;
    float: none;
  }

  .mobile-legend--trigger {
    display: none;
  }

  .indicator_download-data,
  .compare_countries--component,
  .indicator--country_chart__sort,
  .indicator--country_chart__remove,
  .indicator--country_chart__multi_compare {
    display: none;
  }

  .indicator_sum,
  .indicator_sum-description {
    width: 100%;
  }

  .sub_footer {
    background-color: transparent;
    color: $yellowgray-neutral;
  }

  //general page
  .node-type-article #content .media-right_small, .node-type-article #content .media-small_content_image_400_right, .node-type-page #content .media-right_small, .node-type-page #content .media-small_content_image_400_right {
    margin: 10px 0 0 30px;
  }

  .node-type-article #content .media-left_small, .node-type-article #content .media-small_content_image_400_left, .node-type-page #content .media-left_small, .node-type-page #content .media-small_content_image_400_left {
    margin: 10px 30px 0 0;
  }

  // right rail
  .right_rail {
    background: transparent;
  }

  // related_content sidebar
  .related_content {
    display: none;
  }

  //share toolbar
  .share-toolbar__container {
    display: none;
  }

  .indicator--print {
    .indicator--chart {
      margin-bottom: 15px;
    }

    .indicator_print--footer {
      height: 75px;

      .indicator_print--footer-line {
        border-top: 1px solid lightgrey;
        margin-bottom: 10px;
      }
    }
  }

  .indicator_title--print {
    font-weight: 600;
    text-align: center;
  }

  // .indicator_title--print

  .site_copyright--print {
    float: right;
  }

  // .site_copyright--print

  .site_logo--print {
    float: left;
    max-width: 300px;
  }

  // footer
  .site_footer__content--print {
    max-width: 77.5rem;
    margin: 0 auto;
    border-top: 1px solid #676357;
  }

  .site_footer__newsletter,
  .site_footer__links-list,
  .site_footer__info {
    display: none;
  }

  .site_footer {
    background-color: transparent;
    margin: 0 auto;

    &__content {
      border-top: 1px solid $yellowgray-neutral;
      margin: 0;
      padding-bottom: 0;
    }

    &__links {
      width: 100%;
      float: none;
    }
  }
}
