// colors.scss
// Define color variables here
$white: #fff;

$yellowgray-dark: #302d23;
$yellowgray-neutral-dark: #48443a;
$yellowgray-neutral: #676357;
$yellowgray-neutral-light: #7e7a6e;
$yellowgray-light: #949189;
$yellowgray-light2: #aca9a3;
$yellowgray-light3: #cac9c4;
$yellowgray-lighter: #d1d0cc;
$yellowgray-lightest: #f1efec;

$lightergray: #f6f2f2;
$lightgray: #eae8e5;
$darkgray: #a6a39c;
$gray-medium: #949189;
$c-gray-949189: #949189;

$purple-dark: #28265f;
$purple-light: #8988a3;

$blue-dark: #222f41;
$blue-neutral: #2e3e53;
$blue-light: #6c7989;

$orange-neutral: #e57a44;
$orange-light: #eda27c;

$greengray-dark: #424840;
$greengray-dark-light: #687f67;
$greengray-neutral: #a3b4a2;
$greengray-light: #becabe;

$greenblue-neutral: #81d4bb;
$greenblue-light: #a7e1cf;

$color-green-dark: #1c7c54;

$link_blue: #60b0b9;
$link_blue_hover: #4697a0;

$link-blue-light: #afd7dc;
$error: #d63f40;

$color-green-good: #39c75a;
$color-red-bad: #d63c42;


// Base colors
$base-font-color: $yellowgray-neutral;
$base-heading-color: $greengray-dark;
$border-color: $yellowgray-lighter;
$border-hairline-color: $yellowgray-light;
$link_color: $link_blue;
$blockquote-color: $yellowgray-dark;

// Text
$heading-color: $yellowgray-neutral;
$c-font-inverse: $white;

// Components
$masthead-overlay-color:	$yellowgray-dark;
$high-low-label:			$yellowgray-light2;
$site_header__background:	$white;
$site_nav__background:		$white;
$site_footer_background: $yellowgray-dark;
$site_footer_border: $yellowgray-neutral;
$nav_drawer__background:	$yellowgray-lightest;
$nav_text__color:			$yellowgray-dark;
$nav_text__color--selected:	#4e4a40;
$indicator-slider-arrow-color: $yellowgray-light3;
$download_data__border:	$link-blue-light;
$download_data__background:	#e4f1f3;
$download_data__text:		$link_blue;
$sub_footer_background:		$yellowgray-neutral;
$related: 					$yellowgray-light;
$right_rail_background: $yellowgray-lightest;
$nav_panel_background: $yellowgray-dark;
$nav_panel_arrow: $link_blue;
$nav_panel_title_group: $link_blue;
$nav_panel_links: $white;
$nav_panel_link_hover: $link-blue-light;
$nav_panel_link_active: $link-blue;
$nav_panel_links_border: $yellowgray-neutral;

$element_bg__green: #41c560;
$element_bg__gray:  #aba89f;
$element_bg__red:   #d63e3e;
$element_bg__blue:  #0b67bc;
$element_bg__yellow:#ece345;

$color_indicator_system:   $orange-neutral;
$color_indicator_outputs:  $greengray-neutral;
$color_indicator_inputs:   $blue-neutral;
$color_indicator_outcomes: $color-green-dark;
$color_indicator_service:  $greenblue-neutral;



// Specifically Themed Colors
$category_color_bg_one:		$orange-neutral;
$category_color_font_one:	$category_color_bg_one;
$category_color_bg_two:		$greenblue-neutral;
$category_color_font_two:	#41b089;
$category_color_bg_three:	$blue-neutral;
$category_color_font_three:	$category_color_bg_three;
$category_color_bg_four:	$greengray-neutral;
$category_color_font_four:	#687f67;
$category_color_bg_five:	#2e4057;
$category_color_font_five:	$category_color_bg_five;
$category_color_bg_six:	    #1c7c54;
$category_color_font_six:	#1c7c54;

// Compare Tile Quality Colors
$compare-color__best:   #43c560;
$compare-color__better: #9be156;
$compare-color:         #f1e74a;
$compare-color__worse:  #ec8c42;
$compare-color__worst:  #d63e3e;


// Category Colors
$color_category: (
    1:  (
      bg-color: $category_color_bg_one,
      font-color: $category_color_font_one
    ),
    2:  (
      bg-color: $category_color_bg_two,
      font-color: $category_color_font_two
    ),
    3:  (
      bg-color: $category_color_bg_three,
      font-color: $category_color_font_three
    ),
    4:  (
      bg-color: $category_color_bg_four,
      font-color: $category_color_font_four
    ),
    5:  (
      bg-color: $category_color_bg_five,
      font-color: $category_color_font_five
    ),
    6:  (
      bg-color: $category_color_bg_six,
      font-color: $category_color_font_six
    )
);
