// forms.scss
// Form styles here
.form-submit {
  background-color: #525048;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: $white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 15px 20px;
  text-transform: uppercase;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #59574f;
  }
}

.form-text {
  background-color: $yellowgray-neutral-dark;
  border: none;
  color: $yellowgray-light3;
  font-size: 20px;
  letter-spacing: 0.026em;
  padding: 12px 15px;
  min-width: 200px;

  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder {
  color: $yellowgray-neutral-light;
}

::-moz-placeholder {
  color: $yellowgray-neutral-light;
}

:-ms-input-placeholder {
  color: $yellowgray-neutral-light;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
    font-size: 16px;
  }
}
