// general.scss
// For universal plain tag styles. No classes or IDs
html {
	&.hamburger-menu-active {
		height: 100%;
		overflow: hidden;
	}
}

body {
	@include source-sans-pro;
	@include rem(font-size, 14px);
	color: $base-font-color;
	margin: 0;

  	.hamburger-menu-active & {
  		height: 100%;
		overflow: hidden;
	}
}

#header {
  position: relative;
}

img {
    height: auto;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

hr {
  height: 1px;
  border: none;
  color: $yellowgray-lighter;
  background-color: $yellowgray-lighter;
}

button {
  cursor: pointer;
}

.clear-both {
    clear: both;
}

//
.data_symbol--align_top,
.data_symbol--align_bottom {
    font-size: 0.42105263157em;
    font-weight: 400;
    position: relative;
}
.data_symbol--align_top {
	top: -0.8em;
} // data_symbol--upper
.data_symbol--align_bottom {

} // data_symbol--lower

.data_trend--no_data {
	@include rem(font-size, 14px);
	@include source-sans-pro;
	font-style: italic;
	color: $yellowgray-light2;
} // .data_trend--no_data

.collapsible--component {

	.collapsible--trigger {
        cursor: pointer;
    }

	.collapsible--target {
        display: none;
    }

	.is-open {
		display: block;
	}

	.is-closed {
		display: none;
	}
} // .collapsible--component

.high-contrast-link {
	color: #fff;
	display: inline-block;
	line-height: 1.6;
	font-size: 1.25rem;
	max-width: 60%;

	&:hover {
		color: $yellowgray-light3;
	}

	@include media($small) {
		max-width: 100%;
	}
}
