$max-width: 1240px;
$max-width-content: 890px;
$extended-width: 1400px;

// Breakpoints
// desktop
$xx-large: new-breakpoint(max-width 1220px);
$x-large: new-breakpoint(max-width 1200px); // desktop
$large-wide: new-breakpoint(max-width 1080px);
$large: new-breakpoint(max-width 990px);
$medium: new-breakpoint(max-width 800px); // tablet
$small: new-breakpoint(max-width 640px); // phablet
$small-thin: new-breakpoint(max-width 540px);
$x-small: new-breakpoint(max-width 480px); // phone
$xx-small: new-breakpoint(max-width 400px);
$xxx-small: new-breakpoint(max-width 380px);

//mobile
$x-large-min: new-breakpoint(min-width 1201px);
$large-min: new-breakpoint(min-width 991px);
$medium-min: new-breakpoint(min-width 801px);
$small-min: new-breakpoint(min-width 641px);
$x-small-min: new-breakpoint(min-width 481px);
$xx-small: new-breakpoint(max-width 401px);

//Contextual Breakpoints
$desktop-nav-max: new-breakpoint(max-width 930px);
$desktop-nav-min: new-breakpoint(min-width 931px max-width 1080px);
$desktop-nav-compact: new-breakpoint(min-width 801px max-width 930px);
$desktop-nav-link-compact: new-breakpoint(min-width 801px max-width 860px);

[class^="grid- "],
[class*="grid-"] {
	margin-right: 4%;
	float: left;
}

.grid-15 {
	width: 15%;
}

.grid-20 {
	width: 20%;
}

.grid-26 {
	width: 26%;
}

.grid-29 {
	width: 29%;
}

.grid-30 {
	width: 30%;
}

.grid-35 {
	width: 35%;
}

.grid-40 {
	width: 40%;
}

.grid-46 {
	width: 46%;
}

.grid-50 {
	width: 50%;
}

.grid-60 {
	width: 60%;
}

.grid-65 {
	width: 65%;
}

.grid-70 {
	width: 70%;
}

.grid-74 {
	width: 74%;
}
