// helper.scss
// Define helper class here

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.color-orange {
    color: $orange-neutral;
}

.border-orange {
    border-color: $orange-neutral;
}

.italic {
    font-style: italic;
}
