// layout.scss
// Define layout syles here
.column_100 {
  width: 100%;
}

.main {
  @include rem(max-width, 1240px);
  @include rem(padding, 0 20px);
  margin: 0 auto;

  &.accordion {
    @include media($x-small) {
      padding: 0;
    }
  }
}

.main--extended {
  max-width: $extended-width;
  padding: 0;
}

.main--narrow {
  max-width: $max-width-content;
}

.row {
  &.has-bg-grey {
    background-color: $yellowgray-lightest;
  }
}

.image_pull--left, .media-small_content_image_400_left {
  float:left;
  height: auto;
  margin: 10px 30px 0 0;
  max-width: 400px;

  @include media($x-large) {
    margin-left: 0;
  }

  @include media($medium) {
    display: block;
    float: none;
    margin: 30px auto;
    max-width: 100%;
    width: auto;
  }

  .field-name-field-image-caption {
  text-align: left;
  font-family: 'Source Sans Pro','Arial',sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #949189;
  }

  @include media($medium) {
  .field-name-field-image-caption {
    text-align: center;
  }
  }
}

.image_pull--right, .media-small_content_image_400_right {
  float:right;
  height: auto;
  margin: 10px 0 0 30px;
  max-width: 400px;

  @include media($x-large) {
    margin-right: 0;
  }

  @include media($medium) {
    display: block;
    float: none;
    margin: 30px auto;
    max-width: 100%;
    width: auto;

    .field-name-field-image-caption {
    display: block;
    margin: 0 auto 10px auto;
    }

  }

  .field-name-field-image-caption {
  text-align: right;
  font-family: 'Source Sans Pro','Arial',sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #949189;
  }

  @include media($medium) {
  .field-name-field-image-caption {
    text-align: center;
  }
  }
}

.image_pull--center, .centered_content_image_890, .media-hero_content_image_1200, .media-hero_content_image_890 {
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  width: auto;

  .field-name-field-image-caption {
  text-align: center;
  font-family: 'Source Sans Pro','Arial',sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #949189;
  }
}

.image_pull--center_wrapper {
  max-width: 100%;
  text-align: center;
}

.file-right-small {
  float: right;
  margin: 30px 0 30px 40px;

  @include media($medium) {
    float: none;
    margin: 30px 0;
    padding-bottom: 56.18%; /* 890:500 */
    padding-top: 25px;
    position: relative;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.file-left-small {
  float: left;
  margin: 30px 40px 30px 0;

  @include media($medium) {
    float: none;
    margin: 30px 0;
    padding-bottom: 56.18%; /* 890:500 */
    padding-top: 25px;
    position: relative;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.media-center_full {
  margin: 30px 0;
  padding-bottom: 56.18%; /* 890:500 */
  padding-top: 25px;
  position: relative;
  height: 0;
  text-align: center;

  iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}

img.file-center-full {
  margin: 30px 0;
}

#content {
  .node-type-country & {
    position: relative;
    z-index: 2;
  }

  .node-comparison .nothing-selected {
  text-align: center;
  font-style: italic;
  @include rem(font-size, 18px);
    color: $yellowgray-light;

    p {
      padding: 10px;
    }

  }
}

.front {
  .more-indicators {
    text-align: right;
  }
}

.thumbnail-image {
  background-color: $white;
  float: left;
  height: 25%;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  transform-origin: left top;
  transition: transform 750ms ease;
  width: 25%;
  z-index: 1;

  &:hover {
    transform: scale(4);
  }

  &--right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
    transform-origin: right top;
  }
}

