.link,
a {
  color: $link_color;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $link_blue_hover;
  }
}

.link--arrow {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.4px;

  &:after {
    display: inline-block;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='%2360b0b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
    width: 10px;
    height: 10px;
    background-position: center center;
    content: ' ';
    padding-left: 12px;
    transition: all 200ms;
    transform: translateX(0px);
  }

  &:hover {
    &:after {
      transform: translateX(3px);
    }
  }
}
