// mixins.scss
// Define custom mixins here
$base-font-size: 16; // Source Sans Pro

@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px : ();
    $rem: ();

    @each $value in $values {

        @if $value == 0 or $value == auto {
            $px : append($px , $value);
            $rem: append($rem, $value);
        }

        @else {
            $unit: unit($value);
            $val: parseInt($value);

            @if $unit == "px" {
                $px : append($px,  $value);
                $rem: append($rem, ($val / $base-font-size * 1rem));
            }

            @if $unit == "rem" {
                $px : append($px,  ($val * $base-font-size * 1px));
                $rem: append($rem, $value);
            }
        }
    }

    #{$property}: $rem;
}

/** 
    $sibling-count = 2n, 3n ....
    $sibling = selector
    $every-nth = "2n + 1", 3n + 1 ...

  * Usage: @include n-siblings(2n, ".l-column", "2n + 1");
**/

@mixin n-siblings($sibling-count, $sibling, $every-nth: null) {
    $colon: ":";  // Can't use literal : in expressions, so we will use this

    @if ($every-nth) {
        $sibling: #{$sibling}#{$colon}nth-child(#{$every-nth});
    }

    &:first-child:nth-last-child(#{$sibling-count}),
    &:first-child:nth-last-child(#{$sibling-count}) ~ #{$sibling} {
        @content;
    }
}