// global header logo
div.print-logo {
    max-width: 77.5rem;
    padding: 0 1.25rem;
    margin: 0 auto;
    margin-bottom: 30px;
}

img.print-logo {
  max-width: 11.5625rem;
}

.print-title {
  max-width: 77.5rem;
  padding: 0 1.25rem;
  margin: 0 auto;
  margin-bottom: 30px;
}

.print-content {
  overflow: hidden;

  // general
  a, a:link, a:visited {
    color: $link_blue;
  }

  // article page
  .node-page {
      font-family: 'Neuton', serif;
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 1.6875rem;
  }

  // article page with right rail
  .content_body.grid-74.with-right-rail {
    width: 100%;
  }

  // country page - vital stats
  .vital-stats {
    &__item {
      border-left: 1px solid #e3e3e0;

      &:first-child {
        border-left: none;
      }
    }

    &__list {
      background-color: transparent;
      margin-left: 1%;

      &.is-hidden {
        display: block;
        margin-left: 0;
        border-top: 1px solid #e3e3e0;

        .vital-stats__item {
          border-left: none;
        }
      }
    }    

    &-show-more {
      display: none;
    }

    &__label,
    &__value {
      color: $yellowgray-neutral;
    }
  }

  // country page - category title
  .collapse-open .accordion_title,
  .collapse-open+.accordion_body .accordion_subtitle {
    background-color: transparent;
  }

  .category-color__theme--1,
  .category-color__theme--2,
  .category-color__theme--3,
  .category-color__theme--4,
  .category-color__theme--5,
  .category-color__theme--6 {
    .indicator_box--data_value {
      color: $yellowgray-neutral;
    }
  }

  //share toolbar
  .share-toolbar__container {
    display: none;
  }

  //right rail
  .right_rail {
    background: transparent;
  }

  // related_content sidebar
  .related_content {
    display: none;
  }  
}

.indicator--print {
  .indicator--chart {
    margin-bottom: 15px;
  }

  .indicator_print--footer {
    height: 75px;

    .indicator_print--footer-line {
      border-top: 1px solid lightgrey;
      margin-bottom: 10px;
    }
  }
}

.indicator_title--print {
  font-weight: 600;
  text-align: center;
}

// .indicator_title--print

.site_copyright--print {
  float: right;
}

// .site_copyright--print

.site_logo--print {
  float: left;
  max-width: 300px;
}

// footer 
.site_footer__content--print {
  max-width: 77.5rem;  
  margin: 0 auto;
  border-top: 1px solid #676357;
}

