.cke_editable,
.is-rte {
  @include neuton;
  color: $yellowgray-neutral;
  font-size: 22px;
  font-weight: 300;
  line-height: (30 / 22);

  &:after {
      content: "";
      display: table;
      clear: both;
  }

  blockquote {
    @include source-sans-pro;
    @include rem(font-size, 26px);
    @include rem(line-height, 36px);
    color: $blockquote-color;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 85%;

    &::before {
      content: url('../assets/images/icons/icons_quote.svg');
      height: 65px;
      position: absolute;
        top: -5px;
        left: 0;
    }

    p {
      margin-left: 100px;
      margin-top: 0;
    }

    @include media($x-small) {
      width: 100%;

      p {
        margin-left: 20px;

        &:first-child {
          padding-top: 55px;
        }
      }
    }
  }

  ol,
  ul,
  p {
    margin: 15px 0 25px;
  }

  li + li {
    margin-top: 5px;
  }

  ol {
    margin-left: 1.5em;

    li {
      list-style-type: decimal;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      padding-left: 16px;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        top: 0px;
        content: "\203A";
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: currentColor;
    margin: 0 0 15px;
  }

  a {
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }

  sup {
    @include source-sans-pro;
    background-color: $link_blue;
    border-radius: 50%;
    color: $c-font-inverse;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    height: 15px;
    line-height: 15px;
    text-align: center;
    width: 15px;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

// Rich text editor
.cke_editable {
  font-size: 16px;

  .button {
    border: 1px solid rgba(255,255,255,0.8);
    color: $white;
    display: inline-block;
    padding: rem(15) rem(20);
    text-align: center;

    &.button--cta {
      background-color: rgba(255,255,255,0.15);
      border-color: rgba(172, 172, 172,0.6);
      color: #000;
      font-size: rem(18);
      letter-spacing: 0.07rem;
      text-transform: uppercase;

      &.is-blue {
        background-color: rgba(96,176,185,0.15);
        border-color: rgba(96,176,185,0.5);
        color: $link_blue;
      }

      .is-dark-grey {

      }
    }
  }
}

