
/**********
    Theme related styling
**********/

// Category Themes, controlled via SASS MAP in Colors file
@each $category, $category-color in $color_category {

    .category-color__theme--#{$category} .category_box {
      border-top-color: map-get($category-color, bg-color);
    }

    .category-color__theme--#{$category} .category_box--title {
      color: map-get($category-color, font-color);
    }

    .category-color__theme--#{$category} .category_box--title::before {
      border-top-color: map-get($category-color, bg-color);
      border-right-color: map-get($category-color, bg-color);
    }

} // end @each

.category_box {
    border-top: 5px solid;

    @include media($medium) {
        margin: 0 rem(-20);
        padding: 0 rem(20);
    }

    &--title {
        @include category-name;
        @include rem(padding, 20px 0 4px 0);
        border-top: none;
        margin: 0;
        letter-spacing: .07em;

        @include media($medium) {
            font-size: rem(22);
        }

        @include media($small) {
            font-size: rem(20);
        }
    }
}
