// typography.scss
// Define typography styles here

@mixin neuton {
	font-family: 'Neuton', serif;
	font-weight: 300;
}

@mixin source-sans-pro {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-weight: 400;
    // safe to use Italics, as well as weights 300, 400 (default), 600, 700 and 900
}

@mixin subtitle {
	@include rem(font-size, 26px);
	font-family: 'Neuton', serif;
	font-weight: 100;
}

@mixin category-name {
	@include rem(font-size, 24px);
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@include media($x-small) {
		@include rem(font-size, 20px);
	}
}

h1 {
	@include source-sans-pro;
	@include rem(font-size, 52px);
	color: $heading-color;
	font-weight: 600;
	margin-top: 0;
	transition: font-size .5s ease;

	@include media($large) {
		font-size: rem(40);
	}

	@include media($medium) {
		font-size: rem(36);
	}
}

.heading2,
h2 {
	@include source-sans-pro;
	@include rem(font-size, 38px);
	@include rem(line-height, 45px);
	color: $heading-color;
	font-weight: 600;
	margin-top: 0;

	@include media($medium) {
		@include rem(font-size, 33px);
	}

	@include media($x-small) {
		@include rem(font-size, 28px);
	}
}

.heading3,
h3 {
	@include source-sans-pro;
	@include rem(font-size, 26px);
	@include rem(line-height, 36px);
	color: $heading-color;
	font-weight: 700;
	margin-top: 0;
}

.heading4,
h4 {
	@include neuton;
	@include rem(font-size, 26px);
	@include rem(line-height, 36px);
	color: $heading-color;
	margin-top: 0;

	em.small {
		@include rem(font-size, 18px);
	}
}

.heading5,
h5 {
		@include source-sans-pro;
		@include rem(font-size, 20px);
		@include rem(line-height, 28px);
		color: $heading-color;
		font-weight: 700;
		margin-top: 0;
}

h6 {
		@include source-sans-pro;
		@include rem(font-size, 18px);
		@include rem(line-height, 26px);
		color: $heading-color;
		font-weight: 600;
		margin-top: 0;
}

input {
	@include source-sans-pro;
}

.category_name {
	@include category-name;
}

.field,
.data_tile-summary,
.sub_footer-content,
.view-content .item-list {
  ul, ol {
    margin: 5px 0 5px 30px;

    li {
      padding: 3px 0;
    }
  }

	ul {
		list-style: none;
		margin-left: 0;

		li {
			padding-left: 16px;
			position: relative;

			&:before {
				position: absolute;
				left: 0;
				top: 3px;
				content: "\203A";
			}
		}
	}

  ol li {
    list-style-type: decimal;
  }
}

.field {
	margin-bottom: rem(35);

	ol, ul, p {
		margin-bottom: rem(25);
		margin-top: rem(15);
	}
}
