﻿<i class="icon icon_trending-down icon_{{iconColor}}">
    <!--[if gte IE 9]><!-->
    <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22z
		 M16.3,9.6L11.8,14v-9h-1.7v9L5.7,9.6l-1.2,1.2l6.5,6.2l6.5-6.2L16.3,9.6z" />
	</svg>
    <!--<![endif]-->
</i>