﻿<i class="icon icon_trending-up icon_{{iconColor}}">
    <!--[if gte IE 9]><!-->
    <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0c6.1,0,11,4.9,11,11
		C22,17.1,17.1,22,11,22z M11,5.1l-6.5,6.2l1.2,1.2L10.2,8v9h1.7V8l4.5,4.5l1.2-1.2L11,5.1z" />
	</svg>
    <!--<![endif]-->
</i>