<i class="icon_svg icon_improvementtools">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
      <path fill="#60B0B9" d="M239.833,393.334h34.333V462h-34.333V393.334z M288.853,393.334L347.561,462h45.097l-58.608-68.666
	H288.853z M121.075,462h45.096l58.709-68.666h-45.197L121.075,462z M251.501,204.375l25.683,25.691l58.206-58.038l14.316,14.242
	L360,135.833l-51.5,9.405l14.719,14.668l-45.917,45.985l-25.767-25.767l-62.967,62.162l12.104,12.171L251.501,204.375z M360,273.166
	H171.167V135.833H154v154.5h206V273.166z M445.834,101.5h-17.167V359H85.333V101.5H68.167V50h377.667V101.5z M394.334,101.5H119.667
	v223.166h274.667V101.5z"/>
  </svg>
  <!--<![endif]-->
</i>
