<svg xmlns="http://www.w3.org/2000/svg" width="13" height="31"><path fill="#28265f" d="M7.58 24.75v-8.34a4.32 4.32 0 0 1 3.25 4.17c0 2.01-1.38 3.7-3.25 4.17zM5.42 13.93a4.33 4.33 0 0 1-3.25-4.18c0-2.01 1.38-3.7 3.25-4.18zm6.5-3.1c.6 0 1.08-.48 1.08-1.08a6.5 6.5 0 0 0-5.42-6.4V1.08a1.08 1.08 0 0 0-2.16 0v2.27a6.5 6.5 0 0 0 0 12.8v8.61a4.33 4.33 0 0 1-3.25-4.18 1.085 1.085 0 1 0-2.17 0 6.5 6.5 0 0 0 5.42 6.4v2.27a1.08 1.08 0 0 0 2.16 0V27a6.5 6.5 0 0 0 0-12.8V5.58a4.32 4.32 0 0 1 3.25 4.18c0 .6.49 1.08 1.09 1.08z"/></svg>
