<i class="icon icon_hamburger">
  <!--[if gte IE 9]><!-->
  <svg xmlns="http://www.w3.org/2000/svg" id="layers" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="13" height="10" viewBox="0 0 13 10">
  <path d="M0.000,10.000 L0.000,8.333 L13.000,8.333 L13.000,10.000 L0.000,10.000 ZM0.000,4.167 L13.000,4.167 L13.000,5.833 L0.000,5.833 L0.000,4.167 ZM0.000,-0.000 L13.000,-0.000 L13.000,1.667 L0.000,1.667 L0.000,-0.000 Z" class="cls-1"/>
</svg>
  <!--<![endif]-->
</i>
