<i class="icon icon_search">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
      <path fill="#949189" d="M0,21.6l6.3-6.2c-1.2-1.6-1.9-3.6-1.9-5.7C4.4,4.4,8.8,0,14.2,0S24,4.4,24,9.7c0,5.4-4.4,9.7-9.8,9.7
      c-2.1,0-4-0.6-5.5-1.7L2.4,24L0,21.6z M21.1,9.7c0-3.8-3.1-6.9-6.9-6.9S7.3,5.9,7.3,9.7c0,3.8,3.1,6.9,6.9,6.9S21.1,13.5,21.1,9.7z" />
  </svg>
<!--<![endif]-->
</i>