<i class="icon icon_downloaddata">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="512px" height="512px" viewBox="-223 25 512 512" style="enable-background:new -223 25 512 512;" xml:space="preserve">
<path d="M28,281l-32.6-32.6l-7.5,7.5L33,301.1l45.1-45.2l-7.5-7.5L38,281V170.5H28V281L28,281L28,281z M78.1,301.1H146l0,0
	l-43.8-70.3H48v-10h60.1l50.1,80.4v10v80.4H-92.2v-90.4l50.1-80.4H18v10h-54.1L-80,301.1h67.9v20.1c0,11.1,9,20.1,20,20.1h50.1
	c11.1,0,20-8.9,20-20.1V301.1L78.1,301.1z"/>
</svg>
  <!--<![endif]-->
</i>
