<i class="icon icon_newsletter">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
  <path id="paper-plane-icon" d="M462,54.955L355.371,437.187l-135.92-128.842L353.388,167l-179.53,124.074L50,260.973L462,54.955z
  	 M202.992,332.528v124.517l58.738-67.927L202.992,332.528z"/>
  </svg>
  <!--<![endif]-->
</i>
