<i class="icon icon_star">
  <!--[if gte IE 9]><!-->
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="19" viewBox="0 0 20 19">
	<path d="M10.000,0.000 L12.361,7.257 L20.000,7.257 L13.820,11.743 L16.180,19.000 L10.000,14.515 L3.820,19.000 L6.180,11.743 L0.000,7.257 L7.639,7.257 L10.000,0.000 Z"/>
</svg>
  <!--<![endif]-->
</i>

