<i class="icon_svg icon_blog">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
      <path fill="#60B0B9" d="M50.918,446.647C67.583,413.5,86.083,368,85.135,336.276C62.684,309.204,50,274.316,50,238.783
	c0-100.183,97.19-173.431,206-173.431c108.132,0,206,72.698,206,173.431c0,104.894-115.562,202.853-274.119,163.914
	C159.083,420.5,95.583,438.5,50.918,446.647z M256,105.469c-91.469,0-165.884,59.805-165.884,133.314
	c0,38.68,16.694,63.037,40.256,87.055c-4.789,35.662-16.289,66.662-16.289,66.662s34-9,72.629-31.56
	c147.805,39.194,235.171-46.094,235.171-122.157C421.883,165.273,347.468,105.469,256,105.469z"/>
  </svg>
  <!--<![endif]-->
</i>