<i class="icon icon_rss">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
      <path fill="#60B0B9" d="M161.757,406.249c0,30.791-24.96,55.751-55.75,55.751c-30.79,0-55.751-24.96-55.751-55.751
	s24.961-55.75,55.751-55.75C136.796,350.499,161.757,375.458,161.757,406.249z M50.256,190.424v82.593
	C153.994,274.083,238.172,358.261,239.238,462h82.593C320.764,312.48,199.774,191.491,50.256,190.424z M50.256,132.602
	c87.695,0.381,170.084,34.695,232.135,96.747c62.175,62.173,96.506,144.764,96.754,232.651h82.6
	C461.228,234.858,277.333,50.794,50.256,50V132.602z"/>
  </svg>
  <!--<![endif]-->
</i>