<i class="icon_svg icon_article">
  <!--[if gte IE 9]><!-->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
<path id="note-13-icon" d="M353.012,302.715H158.988v-30h194.023V302.715z M352.979,237.298h-193.99v-30h193.99V237.298z
	 M352.979,171.965h-193.99v-30h193.99V171.965z M116.333,422V90h279.334c0,0,0,186.325,0,218.075
	c0,63.121-77.928,37.833-77.928,37.833s23.859,76.092-35,76.092C250.677,422,234.675,422,116.333,422z M435.667,311.528V50H76.333
	v412h207.016C351.514,462,435.667,372.931,435.667,311.528z"/>
</svg>

  <!--<![endif]-->
</i>