<i class="icon icon_twitter">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="18.8px" height="15.3px" viewBox="0 0 18.8 15.3" enable-background="new 0 0 18.8 15.3" xml:space="preserve">
  <path fill="#60b0b9" d="M18.8,1.8c-0.7,0.3-1.4,0.5-2.2,0.6c0.8-0.5,1.4-1.2,1.7-2.1c-0.7,0.4-1.6,0.8-2.5,0.9C15.2,0.5,14.1,0,13,0
  	c-2.5,0-4.3,2.3-3.8,4.7c-3.2-0.2-6.1-1.7-8-4c-1,1.7-0.5,4,1.2,5.2c-0.6,0-1.2-0.2-1.7-0.5c0,1.8,1.2,3.5,3.1,3.8
  	C3.3,9.4,2.7,9.4,2.1,9.3C2.6,10.8,4,12,5.7,12C4.1,13.3,2,13.8,0,13.6c1.7,1.1,3.7,1.7,5.9,1.7c7.2,0,11.2-6.1,11-11.5
  	C17.7,3.3,18.3,2.6,18.8,1.8z"/>
  </svg>
  <!--<![endif]-->
</i>
