<i class="icon icon_download">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="-49 141 250.4 221.1" style="enable-background:new -49 141 250.4 221.1;" xml:space="preserve">
  <path d="M71.2,251.5l-32.6-32.6l-7.5,7.5l45.1,45.2l45.1-45.2l-7.5-7.5l-32.6,32.6V141h-10V251.5L71.2,251.5L71.2,251.5z
  	 M121.3,271.6h67.9l0,0l-43.8-70.3H91.2v-10h60.1l50.1,80.4v10v80.4H-49v-90.4l50.1-80.4h60.1v10H7.1l-43.9,70.3h67.9v20.1
  	c0,11.1,9,20.1,20,20.1h50.1c11.1,0,20-8.9,20-20.1L121.3,271.6L121.3,271.6z"/>
  </svg>
  <!--<![endif]-->
</i>
