<i class="icon icon_facebook">
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="9.2px" height="20px" viewBox="0 0 9.2 20" enable-background="new 0 0 9.2 20" xml:space="preserve">
    <path d="M2.1,6.5H0V10h2.1v10h4V9.9h2.8l0.3-3.4H6.1c0,0,0-1.3,0-1.9c0-0.8,0.2-1.1,0.9-1.1c0.6,0,2.2,0,2.2,0V0c0,0-2.3,0-2.8,0
      c-3,0-4.3,1.3-4.3,3.8C2.1,6,2.1,6.5,2.1,6.5z"/>
  </svg>
</i>