<i class="icon_svg icon_datainsight">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
      <path d="M178.334,365.667h-97V175h97V365.667z M304.5,74h-97v291.667h97V74z M430.666,260.334h-96.999
v105.333h96.999V260.334z M462,393H50v45h412V393z"/>
  </svg>
  <!--<![endif]-->
</i>
