<i class="icon icon_warning">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
	<path d="M256,77.6L50,434.4h412L256,77.6z M236.299,210.483h39.402v119.495h-39.402V210.483z M256,391.611

	c-11.742,0-21.262-9.52-21.262-21.263s9.52-21.262,21.262-21.262s21.262,9.519,21.262,21.262S267.742,391.611,256,391.611z"/>

</svg>
  <!--<![endif]-->
</i>