<i class="icon icon_alert">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" xml:space="preserve">
      <path fill="#949189" d="M12,9.9L8.1,6L12,2.1L9.9,0L6,3.9L2.1,0L0,2.1L3.9,6L0,9.9L2.1,12L6,8.1L9.9,12L12,9.9z" />
  </svg>
  <!--<![endif]-->
</i>