<i class="icon icon_down-arrow">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="16px" height="10px" viewBox="0 0 16 10" enable-background="new 0 0 16 10" xml:space="preserve">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2,0L8,6.3L1.8,0L0,1.9L8,10l8-8.1L14.2,0z" />
  </svg>
  <!--<![endif]-->
</i>