<svg xmlns="http://www.w3.org/2000/svg" width="37" height="29"><path fill="#28265f" d="M36.71.72l-5.6 1.01-4.8 4.06-8.8-2.03-7.2 6.77-9.6 1.01v16.74h6.1v-8.26h2.8v8.26h4.2V21.4h2.8v6.88h4.2V15.45h2.8v12.83h4.2V18.5h2.8v9.78h6.1z"/></svg>
