<i class="icon_svg icon_findingsfromthefield">
  <!--[if gte IE 9]><!-->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
<path id="map-2-icon" d="M352.475,312.059c-7.611,0-15.009-1.527-21.987-4.541l8.197-18.99c4.376,1.889,9.015,2.846,13.79,2.846
	c3.912,0,7.766-0.65,11.452-1.936l6.803,19.533C364.851,311.02,358.708,312.059,352.475,312.059z M160.743,311.672
	c-6.571,0-13.026-1.152-19.186-3.424l7.152-19.406c3.862,1.424,7.912,2.145,12.033,2.145c4.562,0,9.011-0.877,13.223-2.605
	l7.855,19.135C175.105,310.273,168.013,311.672,160.743,311.672z M312.95,297.92l-29.136-16.592l10.235-17.975l29.137,16.592
	L312.95,297.92z M199.626,297.574l-10.633-17.742l28.761-17.236l10.633,17.744L199.626,297.574z M268.403,272.852
	c-4.266-1.781-8.776-2.686-13.407-2.686c-4.053,0.002-8.039,0.701-11.845,2.078l-7.037-19.451c6.069-2.195,12.421-3.31,18.88-3.311
	c7.383,0,14.573,1.44,21.378,4.279L268.403,272.852z M397.055,269.982c-9.389,0-17,7.611-17,17s7.611,17,17,17s17-7.611,17-17
	S406.443,269.982,397.055,269.982z M115.055,269.982c-9.389,0-17,7.611-17,17s7.611,17,17,17s17-7.611,17-17
	S124.443,269.982,115.055,269.982z M462,115.305c0-35.98-29.171-65.152-65.152-65.152c-35.983,0-65.155,29.172-65.155,65.152
	c0,53.506,51.245,59.164,65.155,140.542C410.758,174.467,462,168.811,462,115.305z M373.481,113.726
	c0-12.905,10.46-23.367,23.366-23.367c12.904,0,23.365,10.462,23.365,23.367c0,12.903-10.461,23.364-23.365,23.364
	C383.941,137.09,373.481,126.629,373.481,113.726z M431.95,238.541v143.451l-74.962,40.703v-90.213h-15.023v88.572l-81.806-52.91
	v-75.412h-14.328v75.412l-79.801,52.91v-88.572h-15.027v90.213L80.05,381.992V155.06l70.953,37.941v75.981h15.027V193.69
	l79.801-41.385v78.927h14.328v-78.927l70.951,35.894c-10.294-12.968-21.006-27.419-26.202-47.19L252.995,114.6l-93.811,48.743
	L50,105.243V399.52l109.185,62.328l93.811-62.32l95.814,62.32L462,399.52V188.932c-0.664,0.834-1.326,1.664-1.983,2.487
	C449.235,204.918,438.911,217.856,431.95,238.541z"/>
</svg>
  <!--<![endif]-->
</i>
